/*
 * SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.table-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  table {
    table-layout: fixed;
  }

  ::ng-deep tr.mat-row td.mat-cell[colspan] {
    vertical-align: middle;
  }
}

mat-paginator {
  margin-top: auto;
}
