<!--
  ~ SPDX-FileCopyrightText: 2025 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="sidenav-title">
  <h3>
    <mat-icon>link</mat-icon>
    {{ "actie.informatieobject.koppelen" | translate }}
  </h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="form">
  <p>{{ "informatieobjecten.koppelen.uitleg" | translate }}</p>
  <mfb-form-field class="flex-1" [field]="caseSearchField"></mfb-form-field>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!issValid"
    (click)="searchCases()"
  >
    {{ "actie.zoeken" | translate }}
  </button>
  <button mat-flat-button (click)="wissen()">
    {{ "actie.wissen" | translate }}
  </button>

  <div class="table-wrapper">
    <table mat-table [dataSource]="cases" matSort>
      <ng-container matColumnDef="identificatie">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "identificatie" | translate }}
        </th>
        <td *matCellDef="let zaak" mat-cell>
          {{ zaak.identificatie | empty }}
        </td>
      </ng-container>
      <ng-container matColumnDef="zaaktypeOmschrijving">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "zaaktypeOmschrijving" | translate }}
        </th>
        <td *matCellDef="let zaak" mat-cell>
          {{ zaak.zaaktypeOmschrijving | empty }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "omschrijving" | translate }}
        </th>
        <td *matCellDef="let zaak" mat-cell>{{ zaak.status | empty }}</td>
      </ng-container>
      <ng-container matColumnDef="registratiedatum">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ "status" | translate }}
        </th>
        <td *matCellDef="let zaak" mat-cell>
          {{ zaak.registratiedatum | datum | empty }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="caseColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: caseColumns"></tr>
    </table>
    <p *ngIf="cases.data.length == 0 && !loading">
      {{
        foutmelding ? foutmelding : ("msg.geen.gegevens.gevonden" | translate)
      }}
    </p>
    <p *ngIf="loading">{{ "msg.loading" | translate }}</p>
  </div>
</div>
