<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<div class="radio-form-field">
  <label class="label" [class.required]="data.required">{{
    data.label | translate
  }}</label>
  <mat-hint *ngIf="data.hint">{{
    data.hint.label | translate
  }}</mat-hint>
  <mat-radio-group class="radio-group" [formControl]="data.formControl">
    <mat-radio-button
      class="radio-button"
      *ngFor="let option of data.options | async"
      [value]="data.optionValue ? option[data.optionValue] : option"
    >
      {{ (data.optionLabel ? option[data.optionLabel] : option) | translate }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-error
    appEnhanceMatError
    *ngIf="data.formControl.dirty && data.formControl.invalid"
    >{{ getErrorMessage() }}</mat-error
  >
</div>
