<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>assignment_ind</mat-icon>
  <span *ngIf="data.taken.length === 1" class="flex-grow-1">
    {{ "msg.verdelen.taak" | translate }}
  </span>
  <span *ngIf="data.taken.length !== 1" class="flex-grow-1">
    {{ "msg.verdelen.taken" | translate: { aantal: data.taken.length } }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-dialog-content>
  <mfb-form-field [field]="medewerkerGroepFormField"></mfb-form-field>
  <mfb-form-field [field]="redenFormField"></mfb-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    (click)="verdeel()"
    [disabled]="isDisabled() || !data.taken.length"
    color="primary"
    id="takenVerdelen_button"
    mat-button
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.verdelen" | translate }}
  </button>
  <button
    (click)="close()"
    [disabled]="loading"
    id="annuleren_button"
    mat-button
  >
    {{ "actie.annuleren" | translate }}
  </button>
</mat-dialog-actions>
