<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>assignment_ind</mat-icon>
  <span *ngIf="data.taken.length === 1" class="flex-grow-1">
    {{ "msg.verdelen.taak" | translate }}
  </span>
  <span *ngIf="data.taken.length !== 1" class="flex-grow-1">
    {{ "msg.verdelen.taken" | translate: { aantal: data.taken.length } }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="verdeel()" (cancel)="close()">
  <mat-dialog-content>
    <fieldset class="p-0">
      <section class="row">
        <zac-auto-complete
          class="col-12"
          [form]="form"
          key="groep"
          optionDisplayValue="naam"
          [readonly]="noAuthorisedGroups()"
          [options]="groupsQuery.data() ?? []"
        ></zac-auto-complete>
        <mat-error *ngIf="noAuthorisedGroups()">{{
          "msg.error.dialog.taken-verdelen.no-authorised-groups" | translate
        }}</mat-error>
        <zac-auto-complete
          class="col-12"
          [form]="form"
          key="medewerker"
          optionDisplayValue="naam"
          [options]="users"
        ></zac-auto-complete>
      </section>
    </fieldset>
    <fieldset class="p-0">
      <section class="row">
        <zac-input class="col-12" [form]="form" key="reden"></zac-input>
      </section>
    </fieldset>
  </mat-dialog-content>
  <mat-dialog-actions>
    <zac-form-actions
      [form]="form"
      [mutation]="mutation"
      disableAfterSuccess
      submitLabel="actie.verdelen"
    />
  </mat-dialog-actions>
</form>
