/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

@import "../../../../../variables";

.mat-divider-wrapper {
  margin: 10px 0;
}

.zaak-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
}

.zaak-grid button {
  grid-column: 4;
  align-self: start;
}

.zaak-grid .full-width {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.grid-placeholder {
  visibility: hidden;
}

.remark {
  background-color: @body-foreground-color;
  padding: 4px 8px;
  margin: 0 48px 8px 4px;

  & mat-icon {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
}
