<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2025 Lifey
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>assignment</mat-icon>
  <span class="flex-grow-1">
    {{ "title.taak.starten" | translate: { taak: planItem.naam } }}
  </span>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<section *ngIf="!formFields.length && !formItems.length" class="flex p-5">
  <mat-spinner />
</section>

<!-- form using Angular form builder -->
<section *ngIf="formFields.length" class="mt-2">
  <zac-form
    [form]="form"
    [fields]="formFields"
    [config]="_formConfig"
    (formSubmitted)="onFormSubmit($event)"
    (formCancelled)="onFormCancel()"
  />
</section>

<!-- DEPRECATED form using custom form builder -->
<div class="form" *ngIf="!formFields.length">
  <mfb-form
    *ngIf="formItems"
    (formSubmit)="onFormSubmit($event)"
    [formFields]="formItems"
    [config]="formConfig"
  ></mfb-form>
</div>
