<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2025 Lifey
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>assignment</mat-icon>
  <span class="flex-grow-1">
    {{ "title.taak.starten" | translate: { taak: planItem.naam } }}
  </span>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="form">
  <mfb-form
    *ngIf="formItems"
    (formSubmit)="onFormSubmit($event)"
    [formFields]="formItems"
    [config]="formConfig"
  ></mfb-form>
</div>
