<!--
  ~ SPDX-FileCopyrightText: 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-title>
  <h3>
    <mat-icon>update</mat-icon>
    {{ "actie.zaak.verlengen" | translate }}
  </h3>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <mfb-form [formFields]="formFields"></mfb-form>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    id="zaakVerlengen_button"
    [disabled]="disabled()"
    (click)="verlengen()"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.zaak.verlengen" | translate }}
  </button>
  <button autofocus mat-raised-button [disabled]="loading" (click)="close()">
    {{ "actie.annuleren" | translate }}
  </button>
</div>
