/*
 * SPDX-FileCopyrightText: 2024 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */
.readonly {
  white-space: pre-wrap;
}

.mat-mdc-checkbox {
  margin: 20px 0 10px -7px;
}

.suffix {
  float: right;
}
