<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2025 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>folder_copy</mat-icon>
  <h3 class="flex-grow-1">
    {{
      (readonly ? "actie.zaakdata.bekijken" : "actie.zaakdata.wijzigen")
        | translate
    }}
  </h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<zac-zaakdata-form class="zaak-data-form" [formItem]="form"></zac-zaakdata-form>

<div class="pl-3" *ngIf="!readonly">
  <button
    mat-raised-button
    [disabled]="bezigMetOpslaan"
    color="primary"
    (click)="opslaan()"
  >
    {{ "actie.opslaan" | translate }}
  </button>
  <button
    mat-raised-button
    [disabled]="bezigMetOpslaan"
    (click)="sideNav.close()"
  >
    {{ "actie.annuleren" | translate }}
  </button>
</div>
