<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>folder_copy</mat-icon>
  <h3 class="flex-grow-1">
    {{
      (readonly() ? "actie.zaakdata.bekijken" : "actie.zaakdata.wijzigen")
        | translate
    }}
  </h3>
  <button mat-icon-button (click)="sideNav().close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (ngSubmit)="formSubmit()" class="mt-2">
  <fieldset>
    <section class="row">
      @for (control of form.controls | keyvalue; track control.key) {
        <ng-container
          *ngTemplateOutlet="
            renderControl;
            context: {
              control: control.value,
              controlName: control.key,
              parentForm: form,
            }
          "
        >
        </ng-container>
      }
    </section>
  </fieldset>
  <fieldset *ngIf="!readonly()">
    <mat-action-row>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid || updateZaakDataMutation.isPending()"
      >
        {{ "actie.opslaan" | translate }}
      </button>
      <button type="button" mat-raised-button (click)="sideNav().close()">
        {{ "actie.annuleren" | translate }}
      </button>
    </mat-action-row>
  </fieldset>
</form>

<ng-template
  #renderControl
  let-control="control"
  let-controlName="controlName"
  let-parentForm="parentForm"
>
  @if (isFormControl(control)) {
    <zac-input
      [form]="parentForm"
      [key]="controlName"
      class="col-12"
    ></zac-input>
  } @else if (isFormGroup(control)) {
    <div class="col-12">
      <mat-label class="font-weight-bold">{{
        controlName | translate | capitalizeFirstLetter
      }}</mat-label>
      <div [formGroup]="control" class="row mt-2">
        @for (item of control.controls | keyvalue; track item.key) {
          <ng-container
            *ngTemplateOutlet="
              renderControl;
              context: {
                control: item.value,
                controlName: item.key,
                parentForm: control,
              }
            "
          >
          </ng-container>
        }
      </div>
    </div>
  } @else if (isFormArray(control)) {
    <div class="col-12">
      <mat-label class="font-weight-bold">{{
        controlName | translate | capitalizeFirstLetter
      }}</mat-label>
      <div class="row mt-2">
        @for (item of getFormArrayControls(control); track $index) {
          <div class="col-12">
            <fieldset>
              <legend>
                {{ controlName | translate | capitalizeFirstLetter }} ({{
                  $index + 1
                }})
              </legend>
              @if (isFormGroup(item)) {
                <div [formGroup]="item" class="row">
                  @for (
                    nestedItem of item.controls | keyvalue;
                    track nestedItem.key
                  ) {
                    <ng-container
                      *ngTemplateOutlet="
                        renderControl;
                        context: {
                          control: nestedItem.value,
                          controlName: nestedItem.key,
                          parentForm: item,
                        }
                      "
                    >
                    </ng-container>
                  }
                </div>
              } @else {
                <ng-container
                  *ngTemplateOutlet="
                    renderControl;
                    context: {
                      control: item,
                      controlName: $index.toString(),
                      parentForm: parentForm,
                    }
                  "
                >
                </ng-container>
              }
            </fieldset>
          </div>
        }
      </div>
    </div>
  }
</ng-template>
