<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>folder_copy</mat-icon>
  <h3 class="flex-grow-1">
    {{
      (readonly() ? "actie.zaakdata.bekijken" : "actie.zaakdata.wijzigen")
        | translate
    }}
  </h3>
  <button mat-icon-button (click)="sideNav().close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (ngSubmit)="formSubmit()" class="mt-2">
    <fieldset>
        <section class="row">
    @for(control of form.controls | keyvalue; track control) {
        <zac-input [form]="form" class="col-12" [key]="control.key"></zac-input>
    }
        </section>
    </fieldset>
    <fieldset *ngIf="!readonly()">
        <mat-action-row>
            <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="!form.valid || updateZaakDataMutation.isPending()"
            >
                {{ "actie.opslaan" | translate }}
            </button>
            <button type="button" mat-raised-button (click)="sideNav().close()">
                {{ "actie.annuleren" | translate }}
            </button>
        </mat-action-row>
    </fieldset>
</form>

