<!--
  ~ SPDX-FileCopyrightText: 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>table_view</mat-icon>
  <span class="flex-grow-1">{{
    "referentietabel.toevoegen.titel" | translate
  }}</span>
  <button
    mat-icon-button
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="submit()" (cancel)="close()">
  <mat-dialog-content>
    <zac-input class="code-input" [form]="form" key="code" label="tabel" />
    <zac-input [form]="form" key="naam" />
  </mat-dialog-content>
  <zac-form-actions
    [form]="form"
    [mutation]="mutation"
    wrapper="dialog"
    submitLabel="actie.toevoegen"
  />
</form>
