<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-title>
  <h3>
    <mat-icon>link_off</mat-icon>{{ "title.zaak.ontkoppelen" | translate }}
  </h3>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <mfb-form-field [field]="redenFormField"></mfb-form-field>
</div>

<div mat-dialog-actions>
  <button
    id="zakenOntkoppelen_button"
    mat-raised-button
    color="primary"
    [disabled]="redenFormField?.formControl.invalid || loading"
    (click)="ontkoppel()"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.ontkoppelen" | translate }}
  </button>
  <button mat-raised-button [disabled]="loading" (click)="close()" autofocus>
    {{ "actie.annuleren" | translate }}
  </button>
</div>
