<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>link_off</mat-icon>
  <span class="flex-grow-1">
    {{ "title.zaak.ontkoppelen" | translate }}
  </span>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="ontkoppel()">
  <mat-dialog-content>
    <zac-textarea [form]="form" key="reden"></zac-textarea>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      [disabled]="form.invalid || loading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="18"></mat-spinner>
      </mat-icon>
      {{ "actie.ontkoppelen" | translate }}
    </button>
    <button
      [disabled]="loading"
      mat-raised-button
      (click)="dialogRef.close()"
      type="button"
    >
      {{ "actie.annuleren" | translate }}
    </button>
  </mat-dialog-actions>
</form>
