<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>link-off</mat-icon>
  <h4 class="flex-grow-1">{{ "title.zaak.ontkoppelen" | translate }}</h4>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <mfb-form-field [field]="redenFormField"></mfb-form-field>
</div>

<div mat-dialog-actions>
  <button
    id="zakenOntkoppelen_button"
    mat-raised-button
    color="primary"
    [disabled]="redenFormField?.formControl.invalid || loading"
    (click)="ontkoppel()"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.ontkoppelen" | translate }}
  </button>
  <button mat-raised-button [disabled]="loading" (click)="close()" autofocus>
    {{ "actie.annuleren" | translate }}
  </button>
</div>
