<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

@if (stylesLoaded) {
  <formio
    [submission]="submission"
    [submitDone]="submissionDone"
    [form]="form"
    [readOnly]="readOnly"
    language="nl"
    [options]="{
      disableAlerts: true,
      i18n: {
        nl: {
          cancel: 'Annuleren',
          next: 'Volgende',
          previous: 'Vorige',
          submit: 'Indienen',
        },
      },
    }"
    (submit)="onSubmit($event)"
    (change)="onChange($event)"
    (customEvent)="onCustomEvent($event)"
  ></formio>
}
