<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<formio
  [submission]="submission"
  [form]="form"
  [readOnly]="readOnly"
  language="nl"
  [options]="{
                disableAlerts: true,
                i18n: {
                    en: {
                        'next': 'Next',
                        'previous': 'Previous',
                        'submit': 'Submit'
                    },
                    nl: {
                        'next': 'Volgende',
                        'previous': 'Vorige',
                        'submit': 'Indienen'
                    }
                }
              }"
  (submit)="onSubmit($event)"
></formio>
