<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<formio
  [submission]="submission"
  [form]="form"
  [readOnly]="readOnly"
  language="nl"
  [options]="{
    disableAlerts: true,
    i18n: {
      en: {
        next: 'Next',
        previous: 'Previous',
        submit: 'Submit',
      },
      nl: {
        next: 'Volgende',
        previous: 'Vorige',
        submit: 'Indienen',
      },
    },
  }"
  (submit)="onSubmit($event)"
  (change)="onChange($event)"
></formio>
