<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>clear_all</mat-icon>
  <span class="flex-grow-1">
    {{ "title.taken.vrijgeven" | translate }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-dialog-content>
  <mfb-form-field [field]="redenFormField"></mfb-form-field>
  <p *ngIf="data.taken.length === 1">{{ "msg.vrijgeven.taak" | translate }}</p>
  <p *ngIf="data.taken.length !== 1">
    {{ "msg.vrijgeven.taken" | translate: { aantal: data.taken.length } }}
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    [disabled]="loading || !data.taken.length"
    mat-raised-button
    color="primary"
    (click)="vrijgeven()"
    id="taakVrijgeven_button"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.vrijgeven" | translate }}
  </button>
  <button
    [disabled]="loading"
    mat-raised-button
    (click)="close()"
    id="dialogClose_button"
  >
    {{ "actie.annuleren" | translate }}
  </button>
</mat-dialog-actions>
