<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>clear_all</mat-icon>
  <span class="flex-grow-1">
    {{ "title.taken.vrijgeven" | translate }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="vrijgeven()" (cancel)="close()">
  <mat-dialog-content>
    <fieldset class="p-0">
      <section class="row">
        <zac-input class="col-12" [form]="form" key="reden"></zac-input>
      </section>
    </fieldset>
    <p *ngIf="data.taken.length === 1">
      {{ "msg.vrijgeven.taak" | translate }}
    </p>
    <p *ngIf="data.taken.length !== 1">
      {{ "msg.vrijgeven.taken" | translate: { aantal: data.taken.length } }}
    </p>
  </mat-dialog-content>
  <zac-form-actions
    [form]="form"
    [mutation]="mutation"
    disableAfterSuccess
    wrapper="dialog"
    submitLabel="actie.vrijgeven"
  />
</form>
