<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="formGroup" (submit)="zoekPersonen()">
  <fieldset class="py-3">
    <section class="row">
      <zac-input class="col-6" [form]="formGroup" key="bsn" />
      <zac-date class="col-6" [form]="formGroup" key="geboortedatum" />
    </section>
    <section class="row">
      <zac-input class="col-5" [form]="formGroup" key="voornamen" />
      <zac-input class="col-2" [form]="formGroup" key="voorvoegsel" />
      <zac-input class="col-5" [form]="formGroup" key="geslachtsnaam" />
    </section>
    <section class="row">
      <zac-input class="col-6" [form]="formGroup" key="postcode" />
      <zac-input class="col-6" [form]="formGroup" key="huisnummer" />
    </section>
    <section class="row">
      <zac-input class="col-6" [form]="formGroup" key="straat" />
      <zac-input class="col-6" [form]="formGroup" key="gemeenteVanInschrijving">
        <button
          mat-icon-button
          matSuffix
          type="button"
          [disabled]="formGroup.controls.gemeenteVanInschrijving.disabled"
          title="{{ 'gemeenteMijn' | translate }}"
          (click)="setGemeenteVanInschrijvingToCurrentGemeente()"
        >
          <mat-icon>location_city</mat-icon>
        </button>
      </zac-input>
    </section>
  </fieldset>
  <fieldset>
    <mat-action-row>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!isValid() || loading"
      >
        {{ "actie.zoeken" | translate }}
      </button>
      <button mat-raised-button (click)="clearFormAndData()" type="reset">
        {{ "actie.wissen" | translate }}
      </button>
    </mat-action-row>
  </fieldset>
</form>

<div class="table-wrapper">
  <table mat-table [dataSource]="personen" matSort>
    <ng-container matColumnDef="bsn">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "bsn" | translate }}
      </th>
      <td *matCellDef="let persoon" mat-cell>{{ persoon.bsn | empty }}</td>
    </ng-container>
    <ng-container matColumnDef="naam">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "naam" | translate }}
      </th>
      <td *matCellDef="let persoon" mat-cell>{{ persoon.naam | empty }}</td>
    </ng-container>
    <ng-container matColumnDef="geboortedatum">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "geboortedatum" | translate }}
      </th>
      <td *matCellDef="let persoon" mat-cell>
        {{ persoon.geboortedatum | datum | empty }}
      </td>
    </ng-container>
    <ng-container matColumnDef="verblijfplaats">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ "verblijfplaats" | translate }}
      </th>
      <td *matCellDef="let persoon" mat-cell>
        {{ persoon.verblijfplaats | empty }}
      </td>
    </ng-container>
    <ng-container matColumnDef="acties" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button
          *ngIf="persoon?.observed"
          mat-icon-button
          color="primary"
          (click)="selectPersoon(row)"
          title="{{ 'actie.selecteren' | translate }}"
        >
          <mat-icon>emoji_people</mat-icon>
        </button>
        <button
          *ngIf="!persoon?.observed"
          mat-icon-button
          (click)="openPersoonPagina(row)"
          title="{{ 'actie.persoon.bekijken' | translate }}"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="persoonColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: persoonColumns"></tr>
  </table>
  <p *ngIf="personen.data.length == 0 && !loading">
    {{ foutmelding ? foutmelding : ("msg.geen.gegevens.gevonden" | translate) }}
  </p>
  <p *ngIf="loading">{{ "msg.loading" | translate }}</p>
</div>
