#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#

# Ignore everything
*

# Only allow the ZAC JAR file to be included in the Docker build context
# because that is the only thing we need to build the Docker image.
!/target/zaakafhandelcomponent.jar