#
# SPDX-FileCopyrightText: 2024 Lifely
# SPDX-License-Identifier: EUPL-1.2+
#

### BUILD ###
target
build
.gradle
.kotlin
src/generated
.openapi-generator
wildfly-*
.env*
src/e2e/ExportData/*
src/main/app/.nvmrc
/bin

### INTELLIJ ###
*.iml
.idea

### DIRENV ###
.envrc

### SDKMAN ###
.sdkmanrc

### JENV ###
.java-version

### Docker Compose data ###
scripts/docker-compose/volume-data*
scripts/docker-compose/imports/openldap/ldifs/zac-ldap-setup.ldif

### just linux things
*.swp

### GitHub ACT secrets file
scripts/github/.secrets

### Docker Compose ###
docker-compose.override.yml
check-for-running-containers.sh
fix-permissions.sh
