<!--
  ~ SPDX-FileCopyrightText: 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  ~
  -->

<fieldset class="full-width border-0">
  <mat-checkbox
    [checked]="template.informatieObjectTypeUUID !== ''"
    (change)="clearSelectedDocumentType()"
  ></mat-checkbox>
  <div class="flex-1">{{ template.name }}</div>
  <mat-form-field>
    <mat-label>{{ "informatieobjectTypeOmschrijving" | translate }}</mat-label>
    <mat-select
      [(value)]="template.informatieObjectTypeUUID"
      placeholder="{{ 'informatieobjectType.-kies-' | translate }}"
    >
      <mat-option
        *ngFor="let documentType of documentTypes"
        [value]="documentType.informatieObjectTypeUUID"
        >{{ documentType.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field disabled>
    <mat-label>{{ "vertrouwlijkheidAanduiding" | translate }}</mat-label>
    <mat-select>
      <mat-option [value]="true">{{ "vertrouwelijkheidaanduiding.VERTROUWELIJK" | translate }}</mat-option>
      <mat-option [value]="false">{{ "vertrouwelijkheidaanduiding.VERTROUWELIJK" | translate }}</mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
