/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.issues {
  margin: 4px 0 12px;

  mat-icon {
    flex-shrink: 0;
  }
}

.form-json {
  max-height: 20rem;
  overflow: auto;
  font-size: 0.75rem;
}
