<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  ~
  -->

<div [formGroup]="form()" class="full-width">
  <mat-label>
    <ng-content select="mat-label">
      {{ labelKey() | translate | capitalizeFirstLetter }}
    </ng-content>
  </mat-label>
  @if (editor()) {
    <section class="editor">
      <ngx-editor-menu
        [editor]="editor()"
        [toolbar]="computedToolbar()"
        [customMenuRef]="variabelenKiesMenu"
      >
      </ngx-editor-menu>
      <ng-template #variabelenKiesMenu>
        <variabelen-kies-menu
          [editor]="editor()"
          [variabelen]="variables()"
        ></variabelen-kies-menu>
      </ng-template>
      <ngx-editor
        [editor]="editor()"
        [formControlName]="key()"
        outputFormat="html"
        [placeholder]="'mail-template-placeholder' | translate"
        [maxlength]="maxlength()"
      >
      </ngx-editor>
    </section>
  }
  <section
    class="mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align"
  >
    @if (formError()) {
      <div class="mat-mdc-form-field-error-wrapper">
        <mat-error>{{ formError() }}</mat-error>
      </div>
    } @else {
      <div class="mat-mdc-form-field-hint-wrapper">
        <mat-hint>
          <ng-content select="mat-hint"></ng-content>
        </mat-hint>
        @if (maxlength()) {
          <div class="mat-mdc-form-field-hint-spacer"></div>
        }
        @if (maxlength() && !formError()) {
          <mat-hint align="end">
            {{ control()?.value?.length ?? 0 }} / {{ maxlength() }}
          </mat-hint>
        }
      </div>
    }
  </section>
</div>
