apiVersion: v1
kind: Secret
metadata:
  name: {{ include "zaakafhandelcomponent.fullname" . }}
  labels:
    {{- include "zaakafhandelcomponent.labels" . | nindent 4 }}
stringData:
  AUTH_SECRET: {{ required "Valid .Values.auth.secret entry required!" .Values.auth.secret | toString }}
  BAG_API_KEY: {{ required "Valid .Values.bagApi.apiKey entry required!" .Values.bagApi.apiKey | toString }}
  BRP_API_KEY: {{ required "Valid .Values.brpApi.apiKey entry required!" .Values.brpApi.apiKey | toString }}
  CONTACTMOMENTEN_API_SECRET: {{ required "Valid .Values.contactmomentenApi.secret entry required!" .Values.contactmomentenApi.secret | toString }}
  DB_PASSWORD: {{ required "Valid .Values.db.password entry required!" .Values.db.password | toString }}
  KLANTEN_API_SECRET: {{ required "Valid .Values.klantenApi.secret entry required!" .Values.klantenApi.secret | toString }}
  KVK_API_KEY: {{ required "Valid .Values.kvkApi.apiKey entry required!" .Values.kvkApi.apiKey | toString }}
  LDAP_PASSWORD: {{ required "Valid .Values.ldap.password entry required!" .Values.ldap.password | toString }}
  MAILJET_API_KEY: {{ required "Valid .Values.mail.mailjet.apiKey entry required!" .Values.mail.mailjet.apiKey | toString }}
  MAILJET_API_SECRET_KEY: {{ required "Valid .Values.mail.mailjet.secretKey required!" .Values.mail.mailjet.secretKey | toString }}
  OBJECTS_API_TOKEN: {{ required "Valid .Values.objectenApi.token entry required!" .Values.objectenApi.token | toString }}
  OBJECTTYPES_API_TOKEN: {{ required "Valid .Values.objecttypenApi.token entry required!" .Values.objecttypenApi.token | toString }}
  OPEN_NOTIFICATIONS_API_SECRET_KEY: {{ required "Valid .Values.notificationsSecretKey entry required!" .Values.notificationsSecretKey | toString }}
  SD_AUTHENTICATION: {{ required "Valid .Values.smartDocuments.authentication entry required!" .Values.smartDocuments.authentication | toString }}
  ZGW_API_SECRET: {{ required "Valid .Values.zgwApis.secret entry required!" .Values.zgwApis.secret | toString }}


