<!--
  ~ SPDX-FileCopyrightText: 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="form" (ngSubmit)="submit()" (cancel)="close()">
  <zac-generic-dialog
    [titleKey]="data.titleKey"
    [icon]="data.icon"
    [melding]="data.melding"
    [uitleg]="data.uitleg"
    [loading]="loading"
    (cancelled)="close()"
  >
    @if (data.multiline) {
      <zac-textarea [form]="form" key="reden" [label]="label" />
    } @else {
      <zac-input [form]="form" key="reden" [label]="label" />
    }
  </zac-generic-dialog>

  <mat-dialog-actions>
    <zac-form-actions
      [form]="form"
      [loading]="loading"
      [submitLabel]="submitLabel"
      [cancelLabel]="cancelLabel"
    />
  </mat-dialog-actions>
</form>
