<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<button
  mat-raised-button
  type="submit"
  color="primary"
  class="flex-row gap-8"
  [disabled]="isSubmitDisabled()"
>
  @if (isPending()) {
    <mat-icon>
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
  }
  {{ submitLabel() | translate }}
</button>
<button
  mat-raised-button
  [disabled]="isPending()"
  type="button"
  (click)="onCancel($event)"
>
  {{ cancelLabel() | translate }}
</button>
