<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-stepper orientation="horizontal" [linear]="true">
  <mat-step>
    <ng-template matStepLabel>{{
      "gegevens.proces-definitie" | translate
    }}</ng-template>

    <p>
      zac-radio form="form" key="processDefinitionType" label="field.label"
      ptions=" value: 'CMMN', label: 'CMMN', value: 'BPMN', label: 'BPMN', ]"
    </p>
    <button
      mat-raised-button
      color="primary"
      (click)="switchProcessDefinition.emit('CMMN')"
    >
      Selecteer CMMN
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="switchProcessDefinition.emit('BPMN')"
    >
      Selecteer BPMN
    </button>

    <div class="flex-row items-center gap-10 ml-3 mt-3">
      <mat-icon color="warn" class="pr-3">warning</mat-icon>
      <small>{{ "msg.zaakafhandelparameters.waarschuwing" | translate }}</small>
    </div>

    <div class="button-group flex-row flex-wrap">
      <button mat-raised-button matStepperNext>
        {{ "actie.volgende" | translate }}
      </button>
      <button mat-raised-button color="primary" disabled>
        {{ "actie.opslaan" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>

<!--
  This section displays a card with buttons to select either CMMN or BPMN process definition.
<ng-container>
  <mat-card class="flex-col gap-10">
    <mat-card-title>{{
      "gegevens.proces-definitie" | translate
    }}</mat-card-title>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="switchProcessDefinition.emit('CMMN')"
      >
        Selecteer CMMN
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="switchProcessDefinition.emit('BPMN')"
      >
        Selecteer BPMN
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
-->
