<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<ng-container>
  <mat-card class="flex-col gap-10">
    <mat-card-title>{{
      "gegevens.proces-definitie" | translate
    }}</mat-card-title>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="switchProcessDefinition.emit('CMMN')"
      >
        Selecteer CMMN
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="switchProcessDefinition.emit('BPMN')"
      >
        Selecteer BPMN
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
