<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card>
  <mat-card-content>
    <mat-icon color="primary" outlined>error</mat-icon>
    <h2>{{ foutmelding || "error-card.title.default" | translate }}</h2>
    @if (bericht) {
      <p>{{ bericht }}</p>
    }
    @if ((serverErrorTexts | async)?.length ?? 0 > 0) {
      <p *ngFor="let serverErrorText of serverErrorTexts | async">
        {{ serverErrorText }}
      </p>
    }
  </mat-card-content>
</mat-card>
