<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-stepper
  *ngIf="algemeenFormGroup"
  orientation="horizontal"
  [linear]="true"
  [selectedIndex]="stepperStart"
>
  <!--
    Step below is skipped on load when parameters are already saved
  -->
  <mat-step>
    <ng-template matStepLabel>{{
      "gegevens.proces-definitie" | translate
    }}</ng-template>

    <p>
      Geef aan welk CMMN model of BPMN procesdefinitie aan dit zaaktype
      gekoppeld is. Je kunt maar één van de twee koppelen.
    </p>

    <zac-radio
      [form]="cmmnBpmnFormGroup"
      key="options"
      label="Welke koppeling wil je maken?"
      [options]="[
        { label: 'CMMN', value: 'CMMN' },
        { label: 'BPMN', value: 'BPMN' },
      ]"
      optionDisplayValue="label"
      [disabled]="isSavedZaakafhandelparameters || isLoading"
    ></zac-radio>

    <div class="flex-row items-center gap-10 ml-1 my-3">
      <mat-icon color="warn" class="pr-3">warning</mat-icon>
      <small>{{ "msg.zaakafhandelparameters.waarschuwing" | translate }}</small>
    </div>

    <div class="button-group flex-row flex-wrap">
      <button
        mat-raised-button
        (click)="
          cmmnBpmnFormGroup.value.options?.value &&
            switchProcessDefinition.emit({
              type: cmmnBpmnFormGroup.value.options.value,
              stepperStart: 1,
            })
        "
      >
        {{ "actie.volgende" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!isValid() || isLoading"
      >
        {{ "actie.opslaan" | translate }}
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{
      "gegevens.algemeen" | translate
    }}</ng-template>

    <form [formGroup]="algemeenFormGroup">
      <fieldset>
        <section class="row">
          <zac-static-text
            class="col-12 col-md-6"
            label="zaaktypeOmschrijving"
            [value]="bpmnZaakafhandelParameters.zaaktype.omschrijving"
          />
          <zac-static-text
            class="col-12 col-md-6"
            label="doel"
            [value]="bpmnZaakafhandelParameters.zaaktype.doel"
          />
        </section>
        <section class="row">
          <zac-static-text
            class="col-12 col-md-6"
            label="identificatie"
            [value]="bpmnZaakafhandelParameters.zaaktype.identificatie"
          />
          <zac-static-text
            class="col-12 col-md-6"
            label="uuid"
            [value]="bpmnZaakafhandelParameters.zaaktype.uuid"
          />
        </section>
      </fieldset>
      <fieldset class="my-5">
        <section>
          <zac-select
            class="col-12 col-md-6"
            key="bpmnDefinition"
            optionDisplayValue="naam"
            [form]="algemeenFormGroup"
            [options]="bpmnDefinitions"
          >
          </zac-select>
        </section>
        <section class="row">
          <zac-select
            class="col-12 col-md-6"
            key="defaultGroep"
            label="groep"
            optionDisplayValue="naam"
            [form]="algemeenFormGroup"
            [options]="groepen"
          >
          </zac-select>
        </section>
        <section class="row">
          <zac-input
            class="col-12 col-md-6"
            key="productaanvraagtype"
            [form]="algemeenFormGroup"
          >
            <mat-hint>{{
              "msg.zaakafhandelparameters.productaanvraagtype" | translate
            }}</mat-hint>
          </zac-input>
        </section>
      </fieldset>

      <div class="flex-row items-center gap-10 ml-1 my-3">
        <mat-icon color="warn" class="pr-3">warning</mat-icon>
        <small>{{
          "msg.zaakafhandelparameters.waarschuwing" | translate
        }}</small>
      </div>

      <div class="button-group flex-row flex-wrap">
        <button mat-raised-button matStepperPrevious>
          {{ "actie.terug" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="opslaan()"
          [disabled]="!algemeenFormGroup.valid || isLoading"
        >
          {{ "actie.opslaan" | translate }}
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
