/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.table-wrapper {
  max-height: 400px;
}

.cdk-column-expandedTaakDetail zac-static-text {
  min-width: 150px;
}

.list-icon {
  position: relative;
  font-size: 18px;
  top: 2px;
}
