<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container tablet-bottom-toolbar">
  <mat-drawer-content>
    <div class="flex-row flex-wrap">
      <mat-card class="flex-1">
        <mat-card-header>
          <mat-card-title>{{ "bedrijfsgegevens" | translate }}</mat-card-title>
          <button
            mat-icon-button
            [disabled]="!profielOphalenMogelijk"
            title="{{ 'bedrijf.profiel.ophalen' | translate }}"
            (click)="ophalenProfiel()"
          >
            <mat-icon outlined>other_admission</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div
            id="bedrijfsgegevens"
            class="content flex-row flex-wrap space-between"
          >
            <zac-static-text label="bedrijfsnaam" [value]="bedrijf?.naam" />
            @if (bedrijf?.kvkNummer) {
              <zac-static-text label="kvknummer" [value]="bedrijf?.kvkNummer" />
            }
            @if (!bedrijf?.kvkNummer) {
              <zac-static-text
                label="kvknummer"
                [icon]="warningIcon"
                [value]="'msg.error.kvk.unknown' | translate"
              />
            }
            @if (bedrijf?.vestigingsnummer) {
              <zac-static-text
                label="vestigingsnummer"
                [value]="bedrijf?.vestigingsnummer"
              />
            }
            <zac-static-text
              label="type"
              [value]="bedrijf?.type | i18nKey | translate"
            />
            @if (profiel) {
              <zac-static-text label="rsin" [value]="profiel.rsin" />
            }
            @if (!profiel) {
              <zac-static-text
                [label]="bedrijf?.adres?.type ?? 'adres'"
                [value]="bedrijf?.adres?.volledigAdres"
              />
            }
            @for (adres of profiel?.adressen; track adres) {
              <zac-static-text
                [label]="adres.type"
                [value]="adres.volledigAdres"
              />
            }
            <zac-static-text
              label="telefoonnummer"
              [value]="bedrijf?.telefoonnummer"
            />
            <zac-static-text label="emailadres" [value]="bedrijf?.emailadres" />
            @if (profiel) {
              <zac-static-text
                label="totaal-werkzame-personen"
                [value]="profiel.totaalWerkzamePersonen"
              />
            }
            @if (profiel) {
              <zac-static-text
                label="hoofdactiviteit"
                [value]="profiel.sbiHoofdActiviteit"
              />
            }
            @if (profiel) {
              <zac-static-text
                label="activiteiten"
                [value]="profiel.sbiActiviteiten?.join(',\r\n')"
              />
            }
            @if (profiel) {
              <zac-static-text label="website" [value]="profiel.website" />
            }
            @if (profiel?.rechtsvorm) {
              <zac-static-text
                label="rechtsvorm"
                [value]="profiel?.rechtsvorm"
              />
            }
            @if (profiel?.uitgebreideRechtsvorm) {
              <zac-static-text
                label="uitgebreide-rechtsvorm"
                [value]="profiel?.uitgebreideRechtsvorm"
              />
            }
            @if (profiel?.statutaireNaam) {
              <zac-static-text
                label="statutaire-naam"
                [value]="profiel?.statutaireNaam"
              />
            }
          </div>
        </mat-card-content>
      </mat-card>

      <div class="flex-1 w75">
        @if (bedrijf) {
          <zac-klant-zaken-tabel [klant]="bedrijf"></zac-klant-zaken-tabel>
        }
        @if (bedrijf && bedrijf.vestigingsnummer) {
          <zac-klant-contactmomenten-tabel
            [vestigingsnummer]="bedrijf.vestigingsnummer"
          ></zac-klant-contactmomenten-tabel>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
