<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container tablet-bottom-toolbar">
  <mat-drawer-content>
    <div class="flex-row flex-wrap">
      <mat-card class="flex-1">
        <mat-card-header>
          <mat-card-title>{{ "bedrijfsgegevens" | translate }}</mat-card-title>
          <button
            mat-icon-button
            [disabled]="!profielOphalenMogelijk"
            title="{{ 'bedrijf.profiel.ophalen' | translate }}"
            (click)="ophalenProfiel()"
          >
            <mat-icon outlined>other_admission</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div
            id="bedrijfsgegevens"
            class="content flex-row flex-wrap space-between"
          >
            <zac-static-text label="bedrijfsnaam" [value]="bedrijf?.naam" />
            <zac-static-text
              *ngIf="bedrijf?.kvkNummer"
              label="kvknummer"
              [value]="bedrijf?.kvkNummer"
            />
            <zac-static-text
              *ngIf="!bedrijf?.kvkNummer"
              label="kvknummer"
              [icon]="warningIcon"
              [value]="'msg.error.kvk.unknown' | translate"
            />
            <zac-static-text
              *ngIf="bedrijf?.vestigingsnummer"
              label="vestigingsnummer"
              [value]="bedrijf?.vestigingsnummer"
            />
            <zac-static-text label="type" [value]="bedrijf?.type | translate" />
            <zac-static-text
              *ngIf="profiel"
              label="rsin"
              [value]="profiel.rsin"
            />
            <zac-static-text
              *ngIf="!profiel"
              label="adres"
              [value]="bedrijf?.adres"
            />
            <zac-static-text
              *ngFor="let adres of profiel?.adressen"
              [label]="adres.type | titlecase"
              [value]="adres.volledigAdres"
            />
            <zac-static-text
              label="telefoonnummer"
              [value]="bedrijf?.telefoonnummer"
            />
            <zac-static-text label="emailadres" [value]="bedrijf?.emailadres" />
            <zac-static-text
              *ngIf="profiel"
              label="totaalWerkzamePersonen"
              [value]="profiel.totaalWerkzamePersonen"
            />
            <zac-static-text
              *ngIf="profiel"
              label="hoofdactiviteit"
              [value]="profiel.sbiHoofdActiviteit"
            />
            <zac-static-text
              *ngIf="profiel"
              label="activiteiten"
              [value]="profiel.sbiActiviteiten?.join(',\r\n')"
            />
            <zac-static-text
              *ngIf="profiel"
              label="website"
              [value]="profiel.website"
            />
            <zac-static-text
              *ngIf="profiel?.rechtsvorm"
              label="rechtsvorm"
              [value]="profiel.rechtsvorm"
            />
            <zac-static-text
              *ngIf="profiel?.uitgebreideRechtsvorm"
              label="uitgebreideRechtsvorm"
              [value]="profiel.uitgebreideRechtsvorm"
            />
            <zac-static-text
              *ngIf="profiel?.statutaireNaam"
              label="statutaireNaam"
              [value]="profiel.statutaireNaam"
            />
          </div>
        </mat-card-content>
      </mat-card>

      <div class="flex-1 w75">
        <zac-klant-zaken-tabel
          *ngIf="bedrijf"
          [klant]="bedrijf"
        ></zac-klant-zaken-tabel>
        <zac-klant-contactmomenten-tabel
          *ngIf="bedrijf && bedrijf.vestigingsnummer"
          [vestigingsnummer]="bedrijf.vestigingsnummer"
        ></zac-klant-contactmomenten-tabel>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
