/*
 * SPDX-FileCopyrightText: 2022 Atos, 2024 Lifely
 * SPDX-License-Identifier: EUPL-1.2+
 */

fieldset {
  border: none;
  padding: 10px 0 0;
  margin: 0;
  min-width: 0;

  legend {
    font-size: small;
    font-weight: 500;
  }
}

button {
  mat-icon {
    color: var(--mat-form-field-enabled-select-arrow-color);

    &.error {
      color: var(--mat-form-field-error-text-color);
    }

    &:hover {
      color: inherit;
    }
  }

  &.mat-mdc-button-disabled {
    mat-icon {
      color: var(--mat-form-field-disabled-select-arrow-color);
    }
  }
}

.row {
  padding-top: 0px;

  & .fields {
    @media screen and (min-width: 959px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 5px;
    }
  }
}

mat-icon {
  margin-right: 4px;
  color: var(--mat-form-field-enabled-select-arrow-color);

  &.error {
    color: var(--mat-form-field-error-text-color);
  }
}
