<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>thumb_up_alt</mat-icon>
  <span class="flex-grow-1" *ngIf="data.planItem">
    {{ "planitem." + data.planItem?.userEventListenerActie | translate }}
  </span>
  <span class="flex-grow-1" *ngIf="!data.planItem">
    {{ "actie.zaak.afsluiten" | translate }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="formGroup" (submit)="afhandelen()">
  <mat-dialog-content>
    <p
      *ngIf="data.planItem?.toelichting"
      class="readonly"
      [innerHTML]="data.planItem?.toelichting"
    ></p>
    <p
      *ngIf="formGroup.controls.resultaattype.value?.besluitVerplicht"
      class="readonly error"
      [innerHTML]="'msg.besluit.verplicht' | translate"
    ></p>
    <zac-static-text
      *ngIf="data.zaak.resultaat"
      [label]="'resultaat' | translate"
      [value]="data.zaak.resultaat.resultaattype?.naam"
    ></zac-static-text>
    <zac-static-text
      *ngFor="let besluit of data.zaak.besluiten"
      [label]="besluit.identificatie | empty"
      [value]="besluit.besluittype?.naam"
    ></zac-static-text>
    <zac-select
      [form]="formGroup"
      key="resultaattype"
      label="resultaat"
      *ngIf="!data.zaak.resultaat"
      [options]="resultaattypes"
      optionDisplayValue="naam"
    />
    <zac-input [form]="formGroup" key="toelichting" />
    <zac-date
      [form]="formGroup"
      key="brondatumEigenschap"
      *ngIf="formGroup.controls.resultaattype.value?.datumKenmerkVerplicht"
    >
      <mat-label>{{ "zaak.brondatum" | translate }}</mat-label>
    </zac-date>
    <div
      *ngIf="
        data.zaak.zaaktype.zaakafhandelparameters?.afrondenMail !==
          'NIET_BESCHIKBAAR' && !!data.planItem
      "
    >
      <mat-checkbox id="sendMail" formControlName="sendMail">
        {{ "sendMail" | translate }}
      </mat-checkbox>
    </div>
    <zac-select
      [form]="formGroup"
      key="verzender"
      *ngIf="formGroup.controls.sendMail.value"
      [options]="afzenders"
      [optionDisplayValue]="afzenderOptionDisplayValue"
    />
    <zac-input
      [form]="formGroup"
      key="ontvanger"
      *ngIf="formGroup.controls.sendMail.value"
    >
      <button
        *ngIf="initiatorEmail"
        mat-icon-button
        type="button"
        matSuffix
        title="{{ 'actie.initiator.email.toevoegen' | translate }}"
        (click)="setInitiatorEmail()"
      >
        <mat-icon>person</mat-icon>
      </button>
    </zac-input>
    <mat-expansion-panel
      class="mat-elevation-z0"
      *ngIf="formGroup.controls.sendMail.value"
    >
      <mat-expansion-panel-header>
        {{ "body" | translate }}
      </mat-expansion-panel-header>
      <p class="readonly" [innerHTML]="mailtemplate?.body"></p>
    </mat-expansion-panel>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      *ngIf="!formGroup.controls.resultaattype.value?.besluitVerplicht"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || formGroup.invalid"
    >
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="18"></mat-spinner>
      </mat-icon>
      {{ "actie.zaak.afhandelen" | translate }}
    </button>
    <button
      *ngIf="formGroup.controls.resultaattype.value?.besluitVerplicht"
      mat-raised-button
      color="primary"
      (click)="openBesluitVastleggen()"
    >
      {{ "actie.besluit.vastleggen" | translate }}
    </button>
    <button
      mat-raised-button
      [disabled]="loading"
      (click)="close()"
      type="button"
    >
      {{ "actie.annuleren" | translate }}
    </button>
  </mat-dialog-actions>
</form>
