<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>thumb_up_alt</mat-icon>
  @if (data.planItem) {
    <span class="flex-grow-1">
      {{
        "planitem." + data.planItem.userEventListenerActie | i18nKey | translate
      }}
    </span>
  } @else {
    <span class="flex-grow-1">
      {{ "actie.zaak.afsluiten" | translate }}
    </span>
  }
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="afhandelen()">
  <mat-dialog-content>
    @if (data.planItem?.toelichting) {
      <p class="readonly" [innerHTML]="data.planItem?.toelichting"></p>
    }
    @if (
      form.controls.resultaattype.value?.isBesluitVerplicht &&
      !data.zaak.besluiten?.length
    ) {
      <p
        class="readonly error"
        [innerHTML]="'msg.besluit.verplicht' | translate"
      ></p>
    }
    @if (data.zaak.resultaat) {
      <zac-static-text
        label="resultaat"
        [value]="data.zaak.resultaat.resultaattype?.naam"
      />
    }
    @for (besluit of data.zaak.besluiten; track besluit) {
      <zac-static-text
        [label]="besluit.identificatie | empty"
        [value]="besluit.besluittype?.naam"
      />
    }
    @if (!data.zaak.resultaat) {
      <zac-select
        [form]="form"
        key="resultaattype"
        label="resultaat"
        [options]="resultaattypesQuery.data() ?? []"
        optionDisplayValue="naam"
      />
    }
    <zac-input [form]="form" key="toelichting" />
    @if (form.controls.resultaattype.value?.isDatumKenmerkVerplicht) {
      <zac-date [form]="form" key="brondatum">
        <mat-label>{{
          brondatumLabel || ("zaak.brondatum" | translate)
        }}</mat-label>
      </zac-date>
    }
    @if (
      data.zaak.zaaktype.zaakafhandelparameters?.afrondenMail !==
        "NIET_BESCHIKBAAR" && !!data.planItem
    ) {
      <div>
        <mat-checkbox id="sendMail" formControlName="sendMail">
          {{ "send-mail" | translate }}
        </mat-checkbox>
      </div>
    }
    @if (form.controls.sendMail.value) {
      <zac-select
        [form]="form"
        key="verzender"
        [options]="afzendersQuery.data() ?? []"
        optionDisplayValue="mail"
        suffix="suffix"
      />
    }
    @if (form.controls.sendMail.value) {
      <zac-input [form]="form" key="ontvanger">
        @if (contactEmailAddress()) {
          <button
            mat-icon-button
            type="button"
            matSuffix
            title="{{ 'actie.contact.email.toevoegen' | translate }}"
            (click)="setOntvanger()"
          >
            <mat-icon>person</mat-icon>
          </button>
        }
      </zac-input>
    }
    @if (form.controls.sendMail.value) {
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          {{ "body" | translate }}
        </mat-expansion-panel-header>
        <p class="readonly" [innerHTML]="mailtemplateQuery.data()?.body"></p>
      </mat-expansion-panel>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    @if (
      form.controls.resultaattype.value?.isBesluitVerplicht &&
      !data.zaak.besluiten?.length
    ) {
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="openBesluitVastleggen()"
      >
        {{ "actie.besluit.vastleggen" | translate }}
      </button>
    } @else {
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="
          !form.valid ||
          afsluitenMutation.isPending() ||
          afsluitenMutation.isSuccess() ||
          planItemAfhandelenMutation.isPending() ||
          planItemAfhandelenMutation.isSuccess()
        "
      >
        @if (
          afsluitenMutation.isPending() ||
          planItemAfhandelenMutation.isPending()
        ) {
          <mat-icon>
            <mat-spinner diameter="18"></mat-spinner>
          </mat-icon>
        }
        {{ "actie.zaak.afhandelen" | translate }}
      </button>
    }
    <button
      mat-raised-button
      [disabled]="
        afsluitenMutation.isPending() || planItemAfhandelenMutation.isPending()
      "
      (click)="close()"
      type="button"
    >
      {{ "actie.annuleren" | translate }}
    </button>
  </mat-dialog-actions>
</form>
