<!--
  ~ SPDX-FileCopyrightText: 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper">
  <table mat-table [dataSource]="betrokkenen" matSort>
    <ng-container matColumnDef="roltype">
      <th mat-header-cell *matHeaderCellDef>
        {{ "roltype" | translate }}
      </th>
      <td mat-cell *matCellDef="let betrokkene">
        <read-more [text]="betrokkene.roltype" [maxLength]="20"></read-more>
      </td>
    </ng-container>
    <ng-container matColumnDef="betrokkeneidentificatie">
      <th mat-header-cell *matHeaderCellDef>
        {{ "identificatie" | translate }}
      </th>
      <td mat-cell *matCellDef="let betrokkene">
        @if (
          betrokkene.type === "NIET_NATUURLIJK_PERSOON" &&
          betrokkene.identificatieType === "VN"
        ) {
          <span>{{ betrokkene.vestigingsnummer }}</span>
          <span>/</span>
        }
        @if (
          betrokkene.type === "NIET_NATUURLIJK_PERSOON" &&
          (betrokkene.identificatieType === "VN" ||
            betrokkene.identificatieType === "RSIN")
        ) {
          <span>{{ betrokkene.kvkNummer }} </span>
        }
        @if (
          betrokkene.type === "NIET_NATUURLIJK_PERSOON" &&
          betrokkene.identificatieType === "VN" &&
          !betrokkene.kvkNummer
        ) {
          <span>/ {{ "msg.error.kvk.unknown" | translate }} </span>
        }
        @if (
          betrokkene.type === "NATUURLIJK_PERSOON" &&
          betrokkene.identificatieType === "BSN"
        ) {
          <span>{{ betrokkene.bsn }} </span>
        }
        @if (betrokkene.type === "NATUURLIJK_PERSOON") {
          <span [matTooltip]="'identificatieType.BSN' | translate">(P)</span>
        }
        @if (
          betrokkene.type === "NIET_NATUURLIJK_PERSOON" &&
          betrokkene.identificatieType === "RSIN"
        ) {
          <span [matTooltip]="'identificatieType.RSIN' | translate">(R)</span>
        }
        @if (
          (betrokkene.type === "NIET_NATUURLIJK_PERSOON" &&
            betrokkene.identificatieType === "VN") ||
          betrokkene.type === "VESTIGING"
        ) {
          <span [matTooltip]="'identificatieType.VN' | translate">(V)</span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="betrokkenegegevens">
      <th mat-header-cell *matHeaderCellDef>
        {{ "gegevens" | translate }}
      </th>
      <td mat-cell *matCellDef="let betrokkene">
        @if (!betrokkene.gegevens) {
          <button
            mat-icon-button
            [disabled]="
              (betrokkene.type === 'NIET_NATUURLIJK_PERSOON' &&
                betrokkene.identificatieType === 'VN' &&
                !betrokkene.kvkNummer) ||
              (betrokkene.identificatieType !== 'BSN' &&
                !betrokkene.doesExistInKvK)
            "
            (click)="betrokkeneGegevensOphalen(betrokkene)"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
        }
        @if (betrokkene.gegevens === "LOADING") {
          <button mat-icon-button>
            <mat-icon>hourglass_empty</mat-icon>
          </button>
        }
        @if (betrokkene.gegevens && betrokkene.gegevens !== "LOADING") {
          <span>{{ betrokkene.gegevens }}</span>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="roltoelichting">
      <th mat-header-cell *matHeaderCellDef>
        {{ "toelichting" | translate }}
      </th>
      <td mat-cell *matCellDef="let betrokkene">
        <read-more
          [text]="betrokkene.roltoelichting"
          [maxLength]="20"
        ></read-more>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let betrokkene">
        <betrokkene-link
          [betrokkene]="betrokkene"
          [zaaktypeUuid]="zaak().zaaktype?.uuid"
        />
        @if (zaak().rechten.verwijderenBetrokkene) {
          <button
            mat-icon-button
            (click)="deleteBetrokkene(betrokkene)"
            title="{{ 'actie.betrokkene.ontkoppelen' | translate }}"
          >
            <mat-icon>link_off</mat-icon>
          </button>
        }
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="betrokkenenColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: betrokkenenColumns"></tr>
  </table>
</div>
