<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos, 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field
  appearance="fill"
  class="full-width"
  (click)="clicked()"
  [class]="data.styleClass"
>
  @if (data.onClear.observed && data.formControl.value && !data.readonly) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      [disabled]="clearDisabled$ | async"
      (click)="data.onClear.emit(); $event.stopPropagation()"
      title="{{ 'actie.wissen' | translate }}"
    >
      <mat-icon>clear</mat-icon>
    </button>
  }

  <button
    *ngFor="let icon of data.icons"
    mat-icon-button
    type="button"
    matSuffix
    title="{{ icon.title | translate }}"
    (click)="icon.iconClicked.next(null)"
    [disabled]="iconButtonsDisabled$ | async"
  >
    <mat-icon>{{ icon.icon }}</mat-icon>
  </button>

  <mat-label>{{ data.label | translate }}</mat-label>
  <input
    [formControl]="data.formControl"
    [id]="data.id + '_tekstfield'"
    [required]="data.required"
    matInput
    [maxlength]="data.maxlength"
    [readonly]="data.readonly"
  />
  <mat-hint *ngIf="data.hint" [align]="data.hint.align">{{
    data.hint.label | translate
  }}</mat-hint>
  <mat-hint
    *ngIf="data.showCount && data.formControl.value && data.formControl.dirty"
    >{{ data.formControl.value.length }} /{{ data.maxlength }}</mat-hint
  >
  <mat-error appEnhanceMatError *ngIf="data.formControl.invalid">{{
    getErrorMessage()
  }}</mat-error>
</mat-form-field>
