<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container">
  <mat-drawer-content>
    <div class="flex-row gap-10 flex-wrap">
      <div class="bag-gegevens flex-col">
        @if (adres) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                "objecttype.adres" | translate
              }}</mat-card-title>
              @if (adres.omschrijving) {
                <mat-card-subtitle>{{ adres.omschrijving }}</mat-card-subtitle>
              }
            </mat-card-header>
            <mat-card-content>
              <div class="rule"></div>
              <div class="content flex-row flex-wrap">
                @if (adresRegels) {
                  <zac-static-text label="adres" [value]="adresRegels" />
                }
                @if (adres.panden?.[0]?.oorspronkelijkBouwjaar) {
                  <zac-static-text
                    label="bouwjaar"
                    [value]="adres.panden?.[0]?.oorspronkelijkBouwjaar"
                  />
                }
                @if (
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                    "VERBLIJFSOBJECT" &&
                  adres.adresseerbaarObject?.vboOppervlakte
                ) {
                  <zac-static-text
                    label="oppervlakte"
                    [value]="adres.adresseerbaarObject?.vboOppervlakte"
                  />
                }
                @if (
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                    "VERBLIJFSOBJECT" && adres.adresseerbaarObject?.vboDoel
                ) {
                  <zac-static-text
                    label="gebruiksdoel"
                    [value]="adres.adresseerbaarObject?.vboDoel"
                  />
                }
                @if (adres.nummeraanduiding?.status) {
                  <zac-static-text
                    label="status"
                    [value]="
                      'bag-object.status.' + adres.nummeraanduiding?.status
                        | i18nKey
                        | translate
                    "
                  />
                }
              </div>
              @if (adres.panden?.[0]; as eerstePand) {
                <div class="rule title">
                  {{ "objecttype.pand" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (eerstePand.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="eerstePand.identificatie"
                    />
                  }
                  @if (eerstePand.oorspronkelijkBouwjaar) {
                    <zac-static-text
                      label="bouwjaar"
                      [value]="eerstePand.oorspronkelijkBouwjaar"
                    />
                  }
                  @if (eerstePand.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.pand.status.' + eerstePand.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
              @if (adres.adresseerbaarObject; as adresseerbaarObject) {
                <div class="rule title">
                  {{
                    "adresseerbaar-object." +
                      adresseerbaarObject.typeAdresseerbaarObject
                      | i18nKey
                      | translate
                  }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (adresseerbaarObject.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="adresseerbaarObject.identificatie"
                    />
                  }
                  @if (
                    adresseerbaarObject.typeAdresseerbaarObject ===
                      "VERBLIJFSOBJECT" && adresseerbaarObject.vboDoel
                  ) {
                    <zac-static-text
                      class="w50 w100-lg"
                      label="gebruiksdoel"
                      [value]="adresseerbaarObject.vboDoel"
                    />
                  }
                  @if (adresseerbaarObject.status) {
                    <zac-static-text
                      label="status"
                      [value]="adresseerbaarObject.status"
                    />
                  }
                  @if (
                    adresseerbaarObject.typeAdresseerbaarObject ===
                      "VERBLIJFSOBJECT" && adresseerbaarObject.vboOppervlakte
                  ) {
                    <zac-static-text
                      class="w50 w100-lg"
                      label="oppervlakte"
                      [value]="adresseerbaarObject.vboOppervlakte + ' m2'"
                    />
                  }
                </div>
              }
              @if (adres.nummeraanduiding; as adresNummeraanduiding) {
                <div class="rule title">
                  {{ "objecttype.nummeraanduiding" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (adresNummeraanduiding.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="adresNummeraanduiding.identificatie"
                    />
                  }
                  @if (adresNummeraanduiding.postcode) {
                    <zac-static-text
                      label="postcode"
                      [value]="adresNummeraanduiding.postcode"
                    />
                  }
                  @if (adresNummeraanduiding.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' + adresNummeraanduiding.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                  @if (adresNummeraanduiding.huisnummerWeergave) {
                    <zac-static-text
                      label="huisnummer"
                      [value]="adresNummeraanduiding.huisnummerWeergave"
                    />
                  }
                </div>
              }
              @if (adres.openbareRuimte; as adresOpenbareRuimte) {
                <div class="rule title">
                  {{ "objecttype.openbare-ruimte" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (adresOpenbareRuimte.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="adresOpenbareRuimte.identificatie"
                    />
                  }
                  @if (adresOpenbareRuimte.naam) {
                    <zac-static-text
                      label="naam"
                      [value]="adresOpenbareRuimte.naam"
                    />
                  }
                  @if (adresOpenbareRuimte.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' + adresOpenbareRuimte.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
              @if (adres.woonplaats; as adresWoonplaats) {
                <div class="rule title">
                  {{ "objecttype.woonplaats" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (adresWoonplaats.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="adresWoonplaats.identificatie"
                    />
                  }
                  @if (adresWoonplaats.naam) {
                    <zac-static-text
                      label="naam"
                      [value]="adresWoonplaats.naam"
                    />
                  }
                  @if (adresWoonplaats.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' + adresWoonplaats.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
            </mat-card-content>
          </mat-card>
        }

        @if (openbareRuimte) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                "objecttype.openbare-ruimte" | translate
              }}</mat-card-title>
              @if (openbareRuimte.omschrijving) {
                <mat-card-subtitle>{{
                  openbareRuimte.omschrijving
                }}</mat-card-subtitle>
              }
            </mat-card-header>
            <mat-card-content>
              <div class="rule"></div>
              <div class="content flex-row flex-wrap">
                @if (openbareRuimte.naam) {
                  <zac-static-text label="naam" [value]="openbareRuimte.naam" />
                }
                @if (openbareRuimte.status) {
                  <zac-static-text
                    label="status"
                    [value]="
                      'bag-object.status.' + openbareRuimte.status
                        | i18nKey
                        | translate
                    "
                  />
                }
                @if (openbareRuimte.woonplaatsNaam) {
                  <zac-static-text
                    label="woonplaats"
                    [value]="openbareRuimte.woonplaatsNaam"
                  />
                }
                @if (openbareRuimte.typeWeergave) {
                  <zac-static-text
                    label="type"
                    [value]="openbareRuimte.typeWeergave"
                  />
                }
              </div>
              <div class="rule title">
                {{ "objecttype.openbare-ruimte" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                @if (openbareRuimte.identificatie) {
                  <zac-static-text
                    label="identificatie"
                    [value]="openbareRuimte.identificatie"
                  />
                }
                @if (openbareRuimte.naam) {
                  <zac-static-text label="naam" [value]="openbareRuimte.naam" />
                }
                @if (openbareRuimte.status) {
                  <zac-static-text
                    label="status"
                    [value]="
                      'bag-object.status.' + openbareRuimte.status
                        | i18nKey
                        | translate
                    "
                  />
                }
              </div>
              @if (openbareRuimte.woonplaats; as openbareRuimteWoonplaats) {
                <div class="rule title">
                  {{ "objecttype.woonplaats" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (openbareRuimteWoonplaats.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="openbareRuimteWoonplaats.identificatie"
                    />
                  }
                  @if (openbareRuimteWoonplaats.naam) {
                    <zac-static-text
                      label="naam"
                      [value]="openbareRuimteWoonplaats.naam"
                    />
                  }
                  @if (openbareRuimteWoonplaats.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' + openbareRuimteWoonplaats.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
            </mat-card-content>
          </mat-card>
        }

        @if (woonplaats) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                "objecttype.woonplaats" | translate
              }}</mat-card-title>
              @if (woonplaats.omschrijving) {
                <mat-card-subtitle>{{
                  woonplaats.omschrijving
                }}</mat-card-subtitle>
              }
            </mat-card-header>
            <mat-card-content>
              <div class="rule"></div>
              <div class="content flex-row flex-wrap">
                @if (woonplaats.identificatie) {
                  <zac-static-text
                    label="identificatie"
                    [value]="woonplaats.identificatie"
                  />
                }
                @if (woonplaats.naam) {
                  <zac-static-text label="naam" [value]="woonplaats.naam" />
                }
                @if (woonplaats.status) {
                  <zac-static-text
                    label="status"
                    [value]="
                      'bag-object.status.' + woonplaats.status
                        | i18nKey
                        | translate
                    "
                  />
                }
              </div>
            </mat-card-content>
          </mat-card>
        }

        @if (pand) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                "objecttype.pand" | translate
              }}</mat-card-title>
              @if (pand.omschrijving) {
                <mat-card-subtitle>{{ pand.omschrijving }}</mat-card-subtitle>
              }
            </mat-card-header>
            <mat-card-content>
              <div class="rule"></div>
              <div class="content flex-row flex-wrap">
                @if (pand.identificatie) {
                  <zac-static-text
                    label="identificatie"
                    [value]="pand.identificatie"
                  />
                }
                @if (pand.oorspronkelijkBouwjaar) {
                  <zac-static-text
                    label="bouwjaar"
                    [value]="pand.oorspronkelijkBouwjaar"
                  />
                }
                @if (pand.statusWeergave) {
                  <zac-static-text
                    label="status"
                    [value]="pand.statusWeergave"
                  />
                }
              </div>
            </mat-card-content>
          </mat-card>
        }

        @if (nummeraanduiding) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{
                "objecttype.nummeraanduiding" | translate
              }}</mat-card-title>
              @if (nummeraanduiding.omschrijving) {
                <mat-card-subtitle>{{
                  nummeraanduiding.omschrijving
                }}</mat-card-subtitle>
              }
            </mat-card-header>
            <mat-card-content>
              <div class="rule"></div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  label="huisnummer"
                  [value]="nummeraanduiding.huisnummer"
                />
                @if (nummeraanduiding.huisletter) {
                  <zac-static-text
                    label="huisletter"
                    [value]="nummeraanduiding.huisletter"
                  />
                }
                @if (nummeraanduiding.huisnummertoevoeging) {
                  <zac-static-text
                    label="huisnummertoevoeging"
                    [value]="nummeraanduiding.huisnummertoevoeging"
                  />
                }
                @if (nummeraanduiding.openbareRuimte?.naam) {
                  <zac-static-text
                    label="straat"
                    [value]="nummeraanduiding.openbareRuimte?.naam"
                  />
                }
                @if (nummeraanduiding.woonplaats?.naam) {
                  <zac-static-text
                    label="woonplaats"
                    [value]="nummeraanduiding.woonplaats?.naam"
                  />
                }
                @if (nummeraanduiding.status) {
                  <zac-static-text
                    label="status"
                    [value]="
                      'bag-object.status.' + nummeraanduiding.status
                        | i18nKey
                        | translate
                    "
                  />
                }
              </div>
              @if (
                nummeraanduiding.openbareRuimte;
                as nummeraanduidingOpenbareRuimte
              ) {
                <div class="rule title">
                  {{ "objecttype.openbare-ruimte" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (nummeraanduidingOpenbareRuimte.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="nummeraanduidingOpenbareRuimte.identificatie"
                    />
                  }
                  @if (nummeraanduidingOpenbareRuimte.naam) {
                    <zac-static-text
                      label="naam"
                      [value]="nummeraanduidingOpenbareRuimte.naam"
                    />
                  }
                  @if (nummeraanduidingOpenbareRuimte.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' +
                          nummeraanduidingOpenbareRuimte.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
              @if (nummeraanduiding.woonplaats; as nummeraanduidingWoonplaats) {
                <div class="rule title">
                  {{ "objecttype.woonplaats" | translate }}
                </div>
                <div class="content flex-row flex-wrap">
                  @if (nummeraanduidingWoonplaats.identificatie) {
                    <zac-static-text
                      label="identificatie"
                      [value]="nummeraanduidingWoonplaats.identificatie"
                    />
                  }
                  @if (nummeraanduidingWoonplaats.naam) {
                    <zac-static-text
                      label="naam"
                      [value]="nummeraanduidingWoonplaats.naam"
                    />
                  }
                  @if (nummeraanduidingWoonplaats.status) {
                    <zac-static-text
                      label="status"
                      [value]="
                        'bag-object.status.' + nummeraanduidingWoonplaats.status
                          | i18nKey
                          | translate
                      "
                    />
                  }
                </div>
              }
            </mat-card-content>
          </mat-card>
        }
      </div>
      <div class="main-content flex-col gap-16">
        <zac-bag-zaken-tabel
          [BagObjectIdentificatie]="bagIdentificatie"
        ></zac-bag-zaken-tabel>
        @if (geometrie) {
          <zac-bag-locatie [bagGeometrie]="geometrie!"></zac-bag-locatie>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
