<!--
  ~ SPDX-FileCopyrightText: 2023 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container">
  <mat-drawer-content>
    <div class="flex-row gap-10 flex-wrap">
      <div class="bag-gegevens flex-col">
        <mat-card *ngIf="adres">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.ADRES" | translate
            }}</mat-card-title>
            <mat-card-subtitle>{{ adres.omschrijving }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="adres"
                [value]="
                  adres.openbareRuimteNaam +
                  ' ' +
                  adres.huisnummerWeergave +
                  ' \n' +
                  adres.postcode +
                  ' ' +
                  adres.woonplaatsNaam
                "
              />
              <zac-static-text
                label="bouwjaar"
                [value]="adres.panden?.[0]?.oorspronkelijkBouwjaar"
              />
              <zac-static-text
                label="oppervlakte"
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                  'VERBLIJFSOBJECT'
                "
                [value]="adres.adresseerbaarObject?.vboOppervlakte"
              />
              <zac-static-text
                label="gebruiksdoel"
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                  'VERBLIJFSOBJECT'
                "
                [value]="adres.adresseerbaarObject?.vboDoel"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + adres.nummeraanduiding?.status
                    | translate
                "
              />
            </div>
            <div class="rule title">{{ "objecttype.PAND" | translate }}</div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="adres.panden?.[0].identificatie"
              />
              <zac-static-text
                label="bouwjaar"
                [value]="adres.panden?.[0]?.oorspronkelijkBouwjaar"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.pand.status.' + adres.panden?.[0]?.status
                    | translate
                "
              />
            </div>
            <div class="rule title">
              {{
                "AdresseerbaarObject." +
                  adres.adresseerbaarObject?.typeAdresseerbaarObject | translate
              }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="adres.adresseerbaarObject?.identificatie"
              />
              <zac-static-text
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                  'VERBLIJFSOBJECT'
                "
                class="w50 w100-lg"
                label="gebruiksdoel"
                [value]="adres.adresseerbaarObject?.vboDoel"
              />
              <zac-static-text
                label="status"
                [value]="adres.adresseerbaarObject?.status"
              />
              <zac-static-text
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                  'VERBLIJFSOBJECT'
                "
                class="w50 w100-lg"
                label="oppervlakte"
                [value]="adres.adresseerbaarObject?.vboOppervlakte + ' m2'"
              />
            </div>
            <div class="rule title">
              {{ "objecttype.NUMMERAANDUIDING" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="adres.nummeraanduiding?.identificatie"
              />
              <zac-static-text
                label="postcode"
                [value]="adres.nummeraanduiding?.postcode"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + adres.nummeraanduiding?.status
                    | translate
                "
              />
              <zac-static-text
                label="huisnummer"
                [value]="adres.nummeraanduiding?.huisnummerWeergave"
              />
            </div>
            <div class="rule title">
              {{ "objecttype.OPENBARE_RUIMTE" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="adres.openbareRuimte?.identificatie"
              />
              <zac-static-text
                label="naam"
                [value]="adres.openbareRuimte?.naam"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + adres.openbareRuimte?.status | translate
                "
              />
            </div>
            <div class="rule title">
              {{ "objecttype.WOONPLAATS" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="adres.woonplaats?.identificatie"
              />
              <zac-static-text label="naam" [value]="adres.woonplaats?.naam" />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + adres.woonplaats?.status | translate
                "
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="openbareRuimte">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.OPENBARE_RUIMTE" | translate
            }}</mat-card-title>
            <mat-card-subtitle>{{
              openbareRuimte.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text label="naam" [value]="openbareRuimte.naam" />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + openbareRuimte.status | translate
                "
              />
              <zac-static-text
                label="woonplaats"
                [value]="openbareRuimte.woonplaatsNaam"
              />
              <zac-static-text
                label="type"
                [value]="openbareRuimte.typeWeergave"
              />
            </div>
            <div class="rule title">
              {{ "objecttype.OPENBARE_RUIMTE" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="openbareRuimte.identificatie"
              />
              <zac-static-text label="naam" [value]="openbareRuimte.naam" />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + openbareRuimte.status | translate
                "
              />
            </div>
            <div class="rule title">
              {{ "objecttype.WOONPLAATS" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="openbareRuimte.woonplaats?.identificatie"
              />
              <zac-static-text
                label="naam"
                [value]="openbareRuimte.woonplaats?.naam"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + openbareRuimte.woonplaats?.status
                    | translate
                "
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="woonplaats">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.WOONPLAATS" | translate
            }}</mat-card-title>
            <mat-card-subtitle>{{ woonplaats.omschrijving }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="woonplaats.identificatie"
              />
              <zac-static-text label="naam" [value]="woonplaats.naam" />
              <zac-static-text
                label="status"
                [value]="'bagObject.status.' + woonplaats.status | translate"
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="pand">
          <mat-card-header>
            <mat-card-title>{{ "objecttype.PAND" | translate }}</mat-card-title>
            <mat-card-subtitle>{{ pand.omschrijving }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                class=""
                label="identificatie"
                [value]="pand.identificatie"
              />
              <zac-static-text
                class=""
                label="bouwjaar"
                [value]="pand.oorspronkelijkBouwjaar"
              />
              <zac-static-text
                class=""
                label="status"
                [value]="pand.statusWeergave"
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="nummeraanduiding">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.NUMMERAANDUIDING" | translate
            }}</mat-card-title>
            <mat-card-subtitle>{{
              nummeraanduiding.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="huisnummer"
                [value]="nummeraanduiding.huisnummer"
              />
              <zac-static-text
                label="huisletter"
                [value]="nummeraanduiding.huisletter"
              />
              <zac-static-text
                label="huisnummertoevoeging"
                [value]="nummeraanduiding.huisnummertoevoeging"
              />
              <zac-static-text
                label="straat"
                [value]="nummeraanduiding.openbareRuimte?.naam"
              />
              <zac-static-text
                label="woonplaats"
                [value]="nummeraanduiding.woonplaats?.naam"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + nummeraanduiding.status | translate
                "
              />
            </div>
            <div class="rule title">
              {{ "objecttype.OPENBARE_RUIMTE" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="nummeraanduiding.openbareRuimte?.identificatie"
              />
              <zac-static-text
                label="naam"
                [value]="nummeraanduiding.openbareRuimte?.naam"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + nummeraanduiding.openbareRuimte?.status
                    | translate
                "
              />
            </div>
            <div class="rule title">
              {{ "objecttype.WOONPLAATS" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="identificatie"
                [value]="nummeraanduiding.woonplaats?.identificatie"
              />
              <zac-static-text
                label="naam"
                [value]="nummeraanduiding.woonplaats?.naam"
              />
              <zac-static-text
                label="status"
                [value]="
                  'bagObject.status.' + nummeraanduiding.woonplaats?.status
                    | translate
                "
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="main-content flex-col gap-16">
        <zac-bag-zaken-tabel
          [BagObjectIdentificatie]="bagIdentificatie"
        ></zac-bag-zaken-tabel>
        <zac-bag-locatie
          *ngIf="geometrie"
          [bagGeometrie]="geometrie"
        ></zac-bag-locatie>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
