<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container">
  <mat-drawer-content>
    <div class="flex-row gap-10 flex-wrap">
      <div class="bag-gegevens flex-col">
        <mat-card *ngIf="adres">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.adres" | translate
            }}</mat-card-title>
            <mat-card-subtitle *ngIf="adres.omschrijving">{{
              adres.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                *ngIf="adresRegels"
                label="adres"
                [value]="adresRegels"
              />
              <zac-static-text
                *ngIf="adres.panden?.[0]?.oorspronkelijkBouwjaar"
                label="bouwjaar"
                [value]="adres.panden?.[0]?.oorspronkelijkBouwjaar"
              />
              <zac-static-text
                label="oppervlakte"
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                    'VERBLIJFSOBJECT' &&
                  adres.adresseerbaarObject?.vboOppervlakte
                "
                [value]="adres.adresseerbaarObject?.vboOppervlakte"
              />
              <zac-static-text
                label="gebruiksdoel"
                *ngIf="
                  adres.adresseerbaarObject?.typeAdresseerbaarObject ===
                    'VERBLIJFSOBJECT' && adres.adresseerbaarObject?.vboDoel
                "
                [value]="adres.adresseerbaarObject?.vboDoel"
              />
              <zac-static-text
                *ngIf="adres.nummeraanduiding?.status"
                label="status"
                [value]="
                  'bag-object.status.' + adres.nummeraanduiding?.status
                    | i18nKey
                    | translate
                "
              />
            </div>
            <ng-container *ngIf="adres.panden?.[0] as eerstePand">
              <div class="rule title">{{ "objecttype.pand" | translate }}</div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="eerstePand.identificatie"
                  label="identificatie"
                  [value]="eerstePand.identificatie"
                />
                <zac-static-text
                  *ngIf="eerstePand.oorspronkelijkBouwjaar"
                  label="bouwjaar"
                  [value]="eerstePand.oorspronkelijkBouwjaar"
                />
                <zac-static-text
                  *ngIf="eerstePand.status"
                  label="status"
                  [value]="
                    'bag-object.pand.status.' + eerstePand.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
            <ng-container
              *ngIf="adres.adresseerbaarObject as adresseerbaarObject"
            >
              <div class="rule title">
                {{
                  "adresseerbaar-object." +
                    adresseerbaarObject.typeAdresseerbaarObject
                    | i18nKey
                    | translate
                }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="adresseerbaarObject.identificatie"
                  label="identificatie"
                  [value]="adresseerbaarObject.identificatie"
                />
                <zac-static-text
                  *ngIf="
                    adresseerbaarObject.typeAdresseerbaarObject ===
                      'VERBLIJFSOBJECT' && adresseerbaarObject.vboDoel
                  "
                  class="w50 w100-lg"
                  label="gebruiksdoel"
                  [value]="adresseerbaarObject.vboDoel"
                />
                <zac-static-text
                  *ngIf="adresseerbaarObject.status"
                  label="status"
                  [value]="adresseerbaarObject.status"
                />
                <zac-static-text
                  *ngIf="
                    adresseerbaarObject.typeAdresseerbaarObject ===
                      'VERBLIJFSOBJECT' && adresseerbaarObject.vboOppervlakte
                  "
                  class="w50 w100-lg"
                  label="oppervlakte"
                  [value]="adresseerbaarObject.vboOppervlakte + ' m2'"
                />
              </div>
            </ng-container>
            <ng-container
              *ngIf="adres.nummeraanduiding as adresNummeraanduiding"
            >
              <div class="rule title">
                {{ "objecttype.nummeraanduiding" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="adresNummeraanduiding.identificatie"
                  label="identificatie"
                  [value]="adresNummeraanduiding.identificatie"
                />
                <zac-static-text
                  *ngIf="adresNummeraanduiding.postcode"
                  label="postcode"
                  [value]="adresNummeraanduiding.postcode"
                />
                <zac-static-text
                  *ngIf="adresNummeraanduiding.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + adresNummeraanduiding.status
                      | i18nKey
                      | translate
                  "
                />
                <zac-static-text
                  *ngIf="adresNummeraanduiding.huisnummerWeergave"
                  label="huisnummer"
                  [value]="adresNummeraanduiding.huisnummerWeergave"
                />
              </div>
            </ng-container>
            <ng-container *ngIf="adres.openbareRuimte as adresOpenbareRuimte">
              <div class="rule title">
                {{ "objecttype.openbare-ruimte" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="adresOpenbareRuimte.identificatie"
                  label="identificatie"
                  [value]="adresOpenbareRuimte.identificatie"
                />
                <zac-static-text
                  *ngIf="adresOpenbareRuimte.naam"
                  label="naam"
                  [value]="adresOpenbareRuimte.naam"
                />
                <zac-static-text
                  *ngIf="adresOpenbareRuimte.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + adresOpenbareRuimte.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
            <ng-container *ngIf="adres.woonplaats as adresWoonplaats">
              <div class="rule title">
                {{ "objecttype.woonplaats" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="adresWoonplaats.identificatie"
                  label="identificatie"
                  [value]="adresWoonplaats.identificatie"
                />
                <zac-static-text
                  *ngIf="adresWoonplaats.naam"
                  label="naam"
                  [value]="adresWoonplaats.naam"
                />
                <zac-static-text
                  *ngIf="adresWoonplaats.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + adresWoonplaats.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="openbareRuimte">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.openbare-ruimte" | translate
            }}</mat-card-title>
            <mat-card-subtitle *ngIf="openbareRuimte.omschrijving">{{
              openbareRuimte.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                *ngIf="openbareRuimte.naam"
                label="naam"
                [value]="openbareRuimte.naam"
              />
              <zac-static-text
                *ngIf="openbareRuimte.status"
                label="status"
                [value]="
                  'bag-object.status.' + openbareRuimte.status
                    | i18nKey
                    | translate
                "
              />
              <zac-static-text
                *ngIf="openbareRuimte.woonplaatsNaam"
                label="woonplaats"
                [value]="openbareRuimte.woonplaatsNaam"
              />
              <zac-static-text
                *ngIf="openbareRuimte.typeWeergave"
                label="type"
                [value]="openbareRuimte.typeWeergave"
              />
            </div>
            <div class="rule title">
              {{ "objecttype.openbare-ruimte" | translate }}
            </div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                *ngIf="openbareRuimte.identificatie"
                label="identificatie"
                [value]="openbareRuimte.identificatie"
              />
              <zac-static-text
                *ngIf="openbareRuimte.naam"
                label="naam"
                [value]="openbareRuimte.naam"
              />
              <zac-static-text
                *ngIf="openbareRuimte.status"
                label="status"
                [value]="
                  'bag-object.status.' + openbareRuimte.status
                    | i18nKey
                    | translate
                "
              />
            </div>
            <ng-container
              *ngIf="openbareRuimte.woonplaats as openbareRuimteWoonplaats"
            >
              <div class="rule title">
                {{ "objecttype.woonplaats" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="openbareRuimteWoonplaats.identificatie"
                  label="identificatie"
                  [value]="openbareRuimteWoonplaats.identificatie"
                />
                <zac-static-text
                  *ngIf="openbareRuimteWoonplaats.naam"
                  label="naam"
                  [value]="openbareRuimteWoonplaats.naam"
                />
                <zac-static-text
                  *ngIf="openbareRuimteWoonplaats.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + openbareRuimteWoonplaats.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="woonplaats">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.woonplaats" | translate
            }}</mat-card-title>
            <mat-card-subtitle *ngIf="woonplaats.omschrijving">{{
              woonplaats.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                *ngIf="woonplaats.identificatie"
                label="identificatie"
                [value]="woonplaats.identificatie"
              />
              <zac-static-text
                *ngIf="woonplaats.naam"
                label="naam"
                [value]="woonplaats.naam"
              />
              <zac-static-text
                *ngIf="woonplaats.status"
                label="status"
                [value]="
                  'bag-object.status.' + woonplaats.status | i18nKey | translate
                "
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="pand">
          <mat-card-header>
            <mat-card-title>{{ "objecttype.pand" | translate }}</mat-card-title>
            <mat-card-subtitle *ngIf="pand.omschrijving">{{
              pand.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                *ngIf="pand.identificatie"
                label="identificatie"
                [value]="pand.identificatie"
              />
              <zac-static-text
                *ngIf="pand.oorspronkelijkBouwjaar"
                label="bouwjaar"
                [value]="pand.oorspronkelijkBouwjaar"
              />
              <zac-static-text
                *ngIf="pand.statusWeergave"
                label="status"
                [value]="pand.statusWeergave"
              />
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="nummeraanduiding">
          <mat-card-header>
            <mat-card-title>{{
              "objecttype.nummeraanduiding" | translate
            }}</mat-card-title>
            <mat-card-subtitle *ngIf="nummeraanduiding.omschrijving">{{
              nummeraanduiding.omschrijving
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="rule"></div>
            <div class="content flex-row flex-wrap">
              <zac-static-text
                label="huisnummer"
                [value]="nummeraanduiding.huisnummer"
              />
              <zac-static-text
                *ngIf="nummeraanduiding.huisletter"
                label="huisletter"
                [value]="nummeraanduiding.huisletter"
              />
              <zac-static-text
                *ngIf="nummeraanduiding.huisnummertoevoeging"
                label="huisnummertoevoeging"
                [value]="nummeraanduiding.huisnummertoevoeging"
              />
              <zac-static-text
                *ngIf="nummeraanduiding.openbareRuimte?.naam"
                label="straat"
                [value]="nummeraanduiding.openbareRuimte?.naam"
              />
              <zac-static-text
                *ngIf="nummeraanduiding.woonplaats?.naam"
                label="woonplaats"
                [value]="nummeraanduiding.woonplaats?.naam"
              />
              <zac-static-text
                *ngIf="nummeraanduiding.status"
                label="status"
                [value]="
                  'bag-object.status.' + nummeraanduiding.status
                    | i18nKey
                    | translate
                "
              />
            </div>
            <ng-container
              *ngIf="
                nummeraanduiding.openbareRuimte as nummeraanduidingOpenbareRuimte
              "
            >
              <div class="rule title">
                {{ "objecttype.openbare-ruimte" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="nummeraanduidingOpenbareRuimte.identificatie"
                  label="identificatie"
                  [value]="nummeraanduidingOpenbareRuimte.identificatie"
                />
                <zac-static-text
                  *ngIf="nummeraanduidingOpenbareRuimte.naam"
                  label="naam"
                  [value]="nummeraanduidingOpenbareRuimte.naam"
                />
                <zac-static-text
                  *ngIf="nummeraanduidingOpenbareRuimte.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + nummeraanduidingOpenbareRuimte.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
            <ng-container
              *ngIf="nummeraanduiding.woonplaats as nummeraanduidingWoonplaats"
            >
              <div class="rule title">
                {{ "objecttype.woonplaats" | translate }}
              </div>
              <div class="content flex-row flex-wrap">
                <zac-static-text
                  *ngIf="nummeraanduidingWoonplaats.identificatie"
                  label="identificatie"
                  [value]="nummeraanduidingWoonplaats.identificatie"
                />
                <zac-static-text
                  *ngIf="nummeraanduidingWoonplaats.naam"
                  label="naam"
                  [value]="nummeraanduidingWoonplaats.naam"
                />
                <zac-static-text
                  *ngIf="nummeraanduidingWoonplaats.status"
                  label="status"
                  [value]="
                    'bag-object.status.' + nummeraanduidingWoonplaats.status
                      | i18nKey
                      | translate
                  "
                />
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="main-content flex-col gap-16">
        <zac-bag-zaken-tabel
          [BagObjectIdentificatie]="bagIdentificatie"
        ></zac-bag-zaken-tabel>
        <zac-bag-locatie
          *ngIf="geometrie"
          [bagGeometrie]="geometrie!"
        ></zac-bag-locatie>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
