/*
 * SPDX-FileCopyrightText: 2021 Atos, 2025 Dimpact
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-toolbar {
  display: flex;
  gap: 16px;
  height: var(--mat-toolbar-standard-height);
  padding: 0px 32px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.username {
  font-size: 12px;
  line-height: 16px;
}

.search-field {
  ::ng-deep {
    .mdc-floating-label.mdc-floating-label--float-above,
    .mdc-text-field__input {
      color: #f5f5f5 !important;
    }

    .mat-mdc-text-field-wrapper {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}
