<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-col gap-20">
    <ng-container [ngSwitch]="selected">
      <!-- PRISTINE -->
      <zac-parameter-edit-process-definition
        *ngSwitchCase="'PRISTINE'"
        [data]="data"
        (switchProcessDefinition)="switchProcessDefinition($event)"
      >
      </zac-parameter-edit-process-definition>

      <!-- CMMN -->
      <zac-parameter-edit
        *ngSwitchCase="'CMMN'"
        [data]="data"
        (switchProcessDefinition)="switchProcessDefinition($event)"
      >
      </zac-parameter-edit>

      <!-- BPMN -->
      <zac-parameter-edit-bpmn
        *ngSwitchCase="'BPMN'"
        [data]="data"
        (switchProcessDefinition)="switchProcessDefinition($event)"
      >
        >
      </zac-parameter-edit-bpmn>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
