<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>local_post_office</mat-icon>
  <span class="flex-grow-1">{{ "actie.document.verzenden" | translate }}</span>
  <button mat-icon-button (click)="sideNav().close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (ngSubmit)="submit()" class="mt-2">
  <fieldset>
    <p [innerHTML]="'msg.document.verzenden.post.uitleg' | translate"></p>
    <zac-documents
      [form]="form"
      key="documenten"
      [options]="documentenQuery.data() ?? []"
    />
    <zac-date [form]="form" key="verzenddatum" />
    <zac-textarea [form]="form" key="toelichting" />
  </fieldset>
  <fieldset>
    <mat-action-row>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || verzendenMutation.isPending()"
      >
        @if (verzendenMutation.isPending()) {
          <mat-icon><mat-spinner diameter="18"></mat-spinner></mat-icon>
        }
        {{ "actie.verzenden" | translate }}
      </button>
      <button
        mat-raised-button
        type="button"
        [disabled]="verzendenMutation.isPending()"
        (click)="sideNav().close()"
      >
        {{ "actie.annuleren" | translate }}
      </button>
    </mat-action-row>
  </fieldset>
</form>
