<!--
  ~ SPDX-FileCopyrightText: 2023 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>local_post_office</mat-icon>
  <span class="flex-grow-1">{{ "actie.document.verzenden" | translate }}</span>
  <button mat-icon-button (click)="sideNav().close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form
  [formGroup]="form"
  (submit)="submit()"
  (cancel)="sideNav().close()"
  class="mt-2"
>
  <fieldset>
    <p [innerHTML]="'msg.document.verzenden.post.uitleg' | translate"></p>
    <zac-documents
      [form]="form"
      key="documenten"
      [options]="documentenQuery.data() ?? []"
    />
    <zac-date [form]="form" key="verzenddatum" />
    <zac-textarea [form]="form" key="toelichting" />
  </fieldset>
  <fieldset>
    <zac-form-actions
      [form]="form"
      [mutation]="verzendenMutation"
      submitLabel="actie.verzenden"
    />
  </fieldset>
</form>
