<!--
  ~ SPDX-FileCopyrightText: 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="form">
  <fieldset>
    <section class="row">
      <zac-static-text
        class="col-12 col-lg-6"
        label="zaaktypeOmschrijving"
        [value]="zaaktype.omschrijving"
      />
      <zac-static-text
        class="col-12 col-lg-6"
        label="doel"
        [value]="zaaktype.doel"
      />
    </section>
    <section class="row">
      <zac-static-text
        class="col-12 col-lg-6"
        label="identificatie"
        [value]="zaaktype.identificatie"
      />
      <zac-static-text
        class="col-12 col-lg-6"
        label="uuid"
        [value]="zaaktype.uuid"
      />
    </section>
    <section class="row">
      <zac-static-text
        class="col-12 col-lg-6"
        label="zaakspecifiekAutoriseerbaar"
        [value]="
          (zaakspecifiekAutoriseerbaar ? 'actie.ja' : 'actie.nee') | translate
        "
      />
    </section>
  </fieldset>
  <fieldset class="my-5">
    <section class="row">
      <ng-content select="[proces-definitie]"></ng-content>
    </section>
    <section class="row">
      <zac-select
        class="col-12 col-lg-6"
        key="defaultGroep"
        label="groep"
        optionDisplayValue="naam"
        [form]="form"
        [options]="groepen"
      >
      </zac-select>

      <zac-select
        class="col-12 col-lg-6"
        key="defaultBehandelaar"
        label="behandelaar"
        optionDisplayValue="naam"
        [form]="form"
        [options]="medewerkers"
      >
      </zac-select>
    </section>
    <ng-content select="[extra-velden]"></ng-content>
    <section class="row">
      <zac-input
        class="col-12 col-lg-6"
        key="productaanvraagtype"
        [form]="form"
      >
        <mat-hint>{{
          "msg.zaakafhandelparameters.productaanvraagtype" | translate
        }}</mat-hint>
      </zac-input>
    </section>
  </fieldset>

  <div class="flex-row items-center gap-10 ml-3 mt-3">
    <mat-icon color="warn" class="pr-3">warning</mat-icon>
    <small>{{ "msg.zaakafhandelparameters.waarschuwing" | translate }}</small>
  </div>
  <div class="button-group flex-row flex-wrap">
    <button mat-raised-button matStepperPrevious>
      {{ "actie.terug" | translate }}
    </button>
    <button mat-raised-button matStepperNext>
      {{ "actie.volgende" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!isValid || isLoading"
      (click)="opslaan.emit()"
    >
      {{ "actie.opslaan" | translate }}
    </button>
  </div>
</form>
