<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>add_circle</mat-icon>
  <h3 class="flex-grow-1">{{ "actie.nieuwe.versie.toevoegen" | translate }}</h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="form">
  <mfb-form
    *ngIf="fields"
    (formSubmit)="onFormSubmit($event)"
    [formFields]="fields"
    [config]="formConfig"
  ></mfb-form>
</div>
