<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>add_circle</mat-icon>
  <h3 class="flex-grow-1">{{ "actie.nieuwe.versie.toevoegen" | translate }}</h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form (submit)="submit()">
  <fieldset>
    <section class="row">
        <!-- TODO: file upload -->
<!--      <zac-file-upload-->
<!--        [formControl]="form.controls.bestand"-->
<!--        [accept]="['.pdf', '.doc', '.docx', '.xls', '.xlsx', '.ppt', '.pptx']"-->
<!--        [maxSize]="10000000"-->
<!--        [required]="true"-->
<!--      ></zac-file-upload>-->
        <zac-file [form]="form" key="bestand" />
      <zac-input class="col-12" [form]="form" key="titel" />
      <zac-input class="col-12" [form]="form" key="beschrijving" />
      <zac-select
        class="col-12 col-md-6"
        [form]="form"
        key="informatieobjectType"
        [options]="informatieObjectTypes"
      />
      <zac-select
        class="col-12 col-md-6"
        [form]="form"
        key="vertrouwelijkheidaanduiding"
        [options]="vertrouwelijkheidsAanduidingen"
      />
      <zac-select
        class="col-12 col-md-6"
        [form]="form"
        key="status"
        [options]="informatieobjectStatussen"
      />
      <div class="col-12 col-md-6">
        <!-- spacer -->
      </div>
      <zac-input class="col-12 col-md-6" [form]="form" key="auteur" />
      <zac-select class="col-12 col-md-6" [form]="form" key="taal" [options]="talen" />
      <zac-input class="col-12 col-md-6" [form]="form" key="ontvangstdatum" />
      <zac-input class="col-12 col-md-6" [form]="form" key="verzenddatum" />
      <zac-input class="col-12" [form]="form" key="toelichting" />
      <!-- this.fields = [
      [inhoudField],
      [titel],
      [beschrijving],
      [informatieobjectType, vertrouwelijk],
      [status, emptyField],
      [auteur, taal],
      [ontvangstDatum, verzenddatum],
      [toelichting],
    ]; -->
    </section>
  </fieldset>
  <fieldset>
    <mat-action-row>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="submit()"
      >
        {{ "actie.opslaan" | translate }}
      </button>
      <button mat-button type="reset" (click)="resetAndClose()">
        {{ "actie.annuleren" | translate }}
      </button>
    </mat-action-row>
  </fieldset>
</form>
