<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>mark_email_read</mat-icon>
  <span class="flex-grow-1">{{
    "actie.ontvangstbevestiging.versturen" | translate
  }}</span>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="submit()" class="mt-2">
  <fieldset>
    <zac-select
      [form]="form"
      key="verzender"
      [options]="afzenders"
      suffix="suffix"
      optionDisplayValue="mail"
    />
    <zac-input [form]="form" key="ontvanger">
      <button
        (click)="setOntvanger()"
        *ngIf="this.contactGegevens?.emailadres"
        type="button"
        mat-icon-button
        matSuffix
      >
        <mat-icon>person</mat-icon>
      </button>
    </zac-input>
    <zac-html-editor
      [form]="form"
      key="onderwerp"
      isPlaintext
      [variables]="variables"
    />
    <zac-html-editor [form]="form" key="body" [variables]="variables" />
  </fieldset>
  <fieldset>
    <mfb-form-field [field]="bijlagenFormField" />
  </fieldset>
  <fieldset>
    <mat-action-row>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ "actie.versturen" | translate }}
      </button>
      <button mat-button type="button" (click)="sideNav.close()">
        {{ "actie.annuleren" | translate }}
      </button>
    </mat-action-row>
  </fieldset>
</form>
