<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-stepper orientation="horizontal" [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>{{
      "gegevens.algemeen" | translate
    }}</ng-template>

    <div class="button-group flex-row flex-wrap">
      <button
        mat-raised-button
        (click)="switchProcessDefinition.emit('PRISTINE')"
      >
        {{ "actie.procesdefinitie.terug" | translate }}
      </button>
      <button mat-raised-button matStepperNext>
        {{ "actie.volgende" | translate }}
      </button>
      <button mat-raised-button color="primary">
        {{ "actie.opslaan" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
