/*
 * SPDX-FileCopyrightText: 2023 Atos, 2024 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

@min-column-width: 200px;

.buttons {
  position: fixed;
  bottom: 15px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.pagination-wrapper {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

// rules for the columns
:is([class^="mat-column-"],
  [class*=" mat-column-"]) {

  // default column behavior: shrink to the min width
  width: 1%;
  min-width: @min-column-width;

  // in html/css, by default, columns wrap on dashes `-`
  // opt out for identificatie and date columns so they always show on one line
  &[class*="identificatie" i],
  &[class*="datum" i] {
    white-space: nowrap;
    min-width: unset;
  }

  // extra rule to shrink the action column
  &[class*="mat-column-url"] {
    min-width: unset;
  }

  // maximize omschrijving / toelichting columns
  &[class*="omschrijving" i],
  &[class*="toelichting" i] {
    width: unset;
    min-width: unset;
    max-width: 300px;

    span {
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      max-height: 58px;
      padding: 4px 0;
    }
  }

  // don't maximize zaaktypeOmschrijving
  &[class*="zaaktype" i] {
    width: 1%;
    min-width: @min-column-width;
  }
}

.mat-column-select {
  width: 50px;
  text-overflow: unset;
}

.row-detail {
  padding: 10px 62px;
}