<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>clear_all</mat-icon>
  <span *ngIf="data.length === 1" class="flex-grow-1">
    {{ "title.zaak.vrijgeven" | translate }}
  </span>
  <span *ngIf="data.length !== 1" class="flex-grow-1">
    {{ "title.zaken.vrijgeven" | translate: { aantal: data.length } }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-dialog-content>
  <form [formGroup]="form">
    <fieldset class="p-0">
      <section class="row">
        <zac-input class="col-12" [form]="form" key="reden"></zac-input>
      </section>
    </fieldset>
  </form>
  <p *ngIf="data.length === 1">{{ "msg.vrijgeven.zaak" | translate }}</p>
  <p *ngIf="data.length !== 1">{{ "msg.vrijgeven.zaken" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    [disabled]="loading || !data.length"
    mat-raised-button
    color="primary"
    (click)="vrijgeven()"
    id="zakenVrijgeven_button"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.vrijgeven" | translate }}
  </button>
  <button [disabled]="loading" mat-raised-button (click)="close()">
    {{ "actie.annuleren" | translate }}
  </button>
</mat-dialog-actions>
