<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>
  <span class="flex-grow-1">
    {{ data.confirmButtonActionKey | translate }}
  </span>
  <button mat-icon-button (click)="cancel()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <p *ngIf="data.options.melding" [innerHTML]="data.options.melding"></p>
  <p
    *ngIf="data.options.uitleg"
    class="uitleg"
    [innerHTML]="data.options.uitleg"
  ></p>
  <ng-container *ngFor="let formField of data.options.formFields">
    <mfb-form-field [field]="formField"></mfb-form-field>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button
    *ngIf="data.confirmButtonActionKey"
    mat-raised-button
    color="primary"
    id="confirmButton"
    [disabled]="disabled()"
    (click)="confirm()"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ data.confirmButtonActionKey | translate }}
  </button>
  <button
    *ngIf="data.cancelButtonActionKey"
    mat-raised-button
    id="cancelButton"
    [disabled]="loading"
    (click)="cancel()"
  >
    {{ data.cancelButtonActionKey | translate }}
  </button>
</div>
