<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>{{ zaak.zaakgeometrie ? "edit" : "add_location_alt" }}</mat-icon>
  <span class="flex-grow-1">
    {{
      (zaak.zaakgeometrie
        ? "actie.zaak.locatie.wijzigen"
        : "actie.zaak.locatie.koppelen"
      ) | translate
    }}
  </span>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="form">
  <div class="flex-row flex-col-md gap-10 flex-wrap">
    <div class="w100">
      <mat-card class="location-coordinates">
        <mat-card-content class="flex-row items-center">
          <div>{{ "coordinates" | translate }}</div>
          <zac-static-text
            [value]="markerLocatie$ | async | location | empty"
            class="flex-item flex-1"
          ></zac-static-text>
          <button
            mat-icon-button
            matSuffix
            (click)="resetLocation()"
            [disabled]="!(markerLocatie$ | async)"
          >
            <mat-icon>link_off</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
      <mat-form-field *ngIf="!readonly" appearance="fill" class="full-width">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label>{{ "adres" | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="search"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          maxlength="255"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayAddress"
          (optionSelected)="selectAddress($event)"
        >
          <mat-option *ngFor="let result of searchResults" [value]="result">
            <mat-icon mat-list-icon>home</mat-icon>
            <span>{{ result.weergavenaam }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <zac-static-text
        *ngIf="nearestAddress?.weergavenaam"
        class="overlay"
        [label]="'zaak.locatie.adres' | translate"
        [value]="nearestAddress.weergavenaam"
      >
      </zac-static-text>
      <div class="map-container">
        <div
          #openLayersMap
          [id]="'open-layers-map'"
          class="open-layers-map"
          [ngClass]="{ readonly: readonly }"
        ></div>
      </div>
      <mat-form-field *ngIf="!readonly" class="full-width">
        <mat-label>{{ "reden" | translate }}</mat-label>
        <input
          matInput
          type="text"
          id="reden"
          [formControl]="reasonControl"
          required="true"
        />
        <mat-hint align="end"
          >{{ reasonControl.value?.length ?? 0 }}/80</mat-hint
        >
      </mat-form-field>
      <div *ngIf="!readonly" class="full-width">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!reasonControl.valid"
          (click)="save()"
        >
          {{ "actie.opslaan" | translate }}
        </button>
        <button mat-raised-button (click)="cancel()">
          {{ "actie.annuleren" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
