<!--
  ~ SPDX-FileCopyrightText: 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>calendar_today</mat-icon>
  @if (data.planItem) {
    <span class="flex-grow-1">
      {{
        "planitem." + data.planItem.userEventListenerActie | i18nKey | translate
      }}
    </span>
  }
  @if (!data.planItem) {
    <span class="flex-grow-1">
      {{ "actie.zaak.brondatum-zetten" | translate }}
    </span>
  }
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="afhandelen()">
  <mat-dialog-content>
    <zac-date [form]="form" key="brondatum">
      <mat-label>{{
        brondatumLabel || ("zaak.brondatum" | translate)
      }}</mat-label>
    </zac-date>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="
        !form.valid ||
        brondatumZettenMutation.isPending() ||
        brondatumZettenMutation.isSuccess() ||
        planItemAfhandelenMutation.isPending() ||
        planItemAfhandelenMutation.isSuccess()
      "
    >
      @if (
        brondatumZettenMutation.isPending() ||
        planItemAfhandelenMutation.isPending()
      ) {
        <mat-icon>
          <mat-spinner diameter="18"></mat-spinner>
        </mat-icon>
      }
      {{ "actie.zaak.brondatum-zetten" | translate }}
    </button>
    <button
      mat-raised-button
      [disabled]="
        brondatumZettenMutation.isPending() ||
        planItemAfhandelenMutation.isPending()
      "
      (click)="close()"
      type="button"
    >
      {{ "actie.annuleren" | translate }}
    </button>
  </mat-dialog-actions>
</form>
