<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ "initiator.titel" | translate }} </mat-panel-title>
    <mat-panel-description *ngIf="persoonQuery.data()">
      {{ persoonQuery.data()?.naam ?? ("msg.loading" | translate) }}
      <div class="flex-row items-center">
        <zac-persoon-indicaties
          class="zac-persoon-indicaties"
          (click)="$event.stopPropagation()"
          [persoon]="persoonQuery.data()!"
          [layout]="
            (persoonQuery.data()?.indicaties ?? []).length > 2
              ? indicatiesLayout.COMPACT
              : indicatiesLayout.EXTENDED
          "
        ></zac-persoon-indicaties>
        <button
          *ngIf="persoonQuery.data() && isWijzigbaar()"
          [title]="'actie.initiator.wijzigen' | translate"
          mat-icon-button
          (click)="$event.stopPropagation(); edit.emit(persoonQuery.data()!)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="persoonQuery.data() && isVerwijderbaar()"
          [title]="'actie.ontkoppelen' | translate"
          mat-icon-button
          (click)="$event.stopPropagation(); delete.emit(persoonQuery.data()!)"
        >
          <mat-icon>link_off</mat-icon>
        </button>
        <a
          *ngIf="persoonQuery.data()"
          mat-icon-button
          title="{{ 'actie.persoon.bekijken' | translate }}"
          (click)="openPersoonPagina($event)"
        >
          <mat-icon>visibility</mat-icon>
        </a>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    *ngIf="persoonQuery.data()"
    id="persoonsgegevens"
    class="content flex-row justify-start flex-wrap gap-10"
  >
    <zac-static-text
      class="flex-1"
      label="naam"
      [value]="persoonQuery.data()?.naam"
    />
    <zac-static-text
      class="flex-1"
      label="burgerservicenummer"
      [value]="persoonQuery.data()?.bsn"
    />
    <zac-static-text
      class="flex-1"
      label="geboortedatum"
      [value]="persoonQuery.data()?.geboortedatum | datum"
    />
    <zac-static-text
      class="flex-1"
      label="verblijfplaats"
      [value]="persoonQuery.data()?.verblijfplaats"
    />
    <zac-static-text
      class="flex-1"
      label="telefoonnummer"
      [value]="persoonQuery.data()?.telefoonnummer"
    />
    <zac-static-text
      class="flex-1"
      label="emailadres"
      [value]="persoonQuery.data()?.emailadres"
    />
  </div>
</mat-expansion-panel>
