<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-expansion-panel [disabled]="isDisabled()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="mr-2">{{ "initiator.titel" | translate }}</span>
      @if (persoonQuery.isLoading()) {
        <mat-spinner diameter="14" />
      } @else if (persoonQuery.error()) {
        <mat-icon
          class="mr-2"
          color="warn"
          [matTooltip]="'msg.hint.temporary.person.id.unknown' | translate"
          >warning</mat-icon
        >
      }
    </mat-panel-title>
    <mat-panel-description>
      <span>{{ persoonQuery.data()?.naam | empty }}</span>
      <div class="flex-row items-center">
        <zac-persoon-indicaties
          class="zac-persoon-indicaties"
          (click)="$event.stopPropagation()"
          [persoon]="persoonQuery.data()!"
          [layout]="
            (persoonQuery.data()?.indicaties ?? []).length > 2
              ? indicatiesLayout.COMPACT
              : indicatiesLayout.EXTENDED
          "
        ></zac-persoon-indicaties>
        <button
          *ngIf="isWijzigbaar()"
          mat-icon-button
          [title]="'actie.initiator.wijzigen' | translate"
          [disabled]="isDisabled()"
          (click)="$event.stopPropagation(); edit.emit(persoonQuery.data()!)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="isVerwijderbaar()"
          mat-icon-button
          [disabled]="isDisabled()"
          [title]="'actie.ontkoppelen' | translate"
          (click)="$event.stopPropagation(); delete.emit(persoonQuery.data()!)"
        >
          <mat-icon>link_off</mat-icon>
        </button>
        <a
          mat-icon-button
          [routerLink]="['/persoon', temporaryPersonId()]"
          [disabled]="isDisabled()"
          (click)="$event.stopPropagation()"
          title="{{ 'actie.persoon.bekijken' | translate }}"
        >
          <mat-icon>visibility</mat-icon>
        </a>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    *ngIf="persoonQuery.data()"
    id="persoonsgegevens"
    class="content flex-row justify-start flex-wrap gap-10"
  >
    <zac-static-text
      class="flex-1"
      label="naam"
      [value]="persoonQuery.data()?.naam"
    />
    <zac-static-text
      class="flex-1"
      label="burgerservicenummer"
      [value]="persoonQuery.data()?.bsn"
    />
    <zac-static-text
      class="flex-1"
      label="geboortedatum"
      [value]="persoonQuery.data()?.geboortedatum | datum"
    />
    <zac-static-text
      class="flex-1"
      label="verblijfplaats"
      [value]="persoonQuery.data()?.verblijfplaats"
    />
    <zac-static-text
      class="flex-1"
      label="telefoonnummer"
      [value]="persoonQuery.data()?.telefoonnummer"
    />
    <zac-static-text
      class="flex-1"
      label="emailadres"
      [value]="persoonQuery.data()?.emailadres"
    />
  </div>
</mat-expansion-panel>
