/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

#persoonsgegevens {
  zac-static-text {
    min-width: 200px;
    word-wrap: break-word;
  }
}

.zac-persoon-indicaties {
  margin-right: 16px;
}

.mat-expansion-panel-header[aria-disabled="true"] {
  color: inherit;
}

.hint {
  color: #757575;
  font-size: 13px;
  font-style: italic;

  mat-icon {
    flex-shrink: 0;
    align-self: flex-start;
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}
