<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>assignment_ind</mat-icon>
  <span *ngIf="data.length === 1" class="flex-grow-1">
    {{ "title.zaak.verdelen" | translate }}
  </span>
  <span *ngIf="data.length !== 1" class="flex-grow-1">
    {{ "title.zaken.verdelen" | translate: { aantal: data.length } }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<mat-dialog-content>
  <mfb-form-field [field]="medewerkerGroepFormField"></mfb-form-field>
  <mfb-form-field [field]="redenFormField"></mfb-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    [disabled]="isDisabled() || !data.length"
    mat-raised-button
    color="primary"
    (click)="verdeel()"
    id="zakenVerdelen_button"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.verdelen" | translate }}
  </button>
  <button [disabled]="loading" autofocus mat-raised-button (click)="close()">
    {{ "actie.annuleren" | translate }}
  </button>
</mat-dialog-actions>
