<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="p-4">
    <form [formGroup]="form" (submit)="saveMailtemplate()">
      <mat-card>
        <mat-card-content>
          <fieldset>
            <zac-input [form]="form" key="mailTemplateNaam" />
            <zac-select
              [form]="form"
              key="mail"
              [options]="mailTemplates"
              optionDisplayValue="label"
            />
            <zac-html-editor
              [form]="form"
              isPlainText
              key="onderwerp"
              [variables]="variabelen"
            ></zac-html-editor>
            <zac-html-editor
              [form]="form"
              key="body"
              [variables]="variabelen"
            ></zac-html-editor>
          </fieldset>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            {{ "actie.opslaan" | translate }}
          </button>
          <button mat-raised-button type="button" (click)="cancel()">
            {{ "actie.annuleren" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
