<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="sidenav-title">
  <h3>
    <mat-icon>upload_file</mat-icon>
    {{ "actie.document.toevoegen" | translate }}
  </h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="form">
  <!-- we use a for loop here to mount a completely new form here when there is a new iteration -->
  @for (iteration of formIterations$ | async; track $index) {
    @if (iteration === (activeIteration$ | async)) {
      <mfb-form
        *ngIf="fields$ | async"
        (formSubmit)="onFormSubmit($event)"
        [formFields]="fields$ | async"
        [config]="formConfig"
      ></mfb-form>
    }
  }
</div>
