/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.truncate() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.process-definition-item {
  padding: 10px 50px;
  border-top: 1px solid #d8d8d8;

  table {
    table-layout: fixed;

    --mat-table-header-container-height: 4px;
  }

  td.mat-column-index,
  th.mat-column-index,
  td.mat-column-uploaded,
  th.mat-column-uploaded {
    width: 36px;
    padding-right: 8px;
  }

  td.mat-column-uploaded mat-icon {
    position: relative;
    top: 2px;
  }

  th.mat-column-formKey,
  td.mat-column-formKey {
    width: 33%;

    &:is(td) {
      .truncate();

      &.not-uploaded {
        color: gray;
      }
    }
  }

  th.mat-column-title,
  td.mat-column-title {
    &:is(td) {
      .truncate();

      &.not-uploaded {
        color: gray;
      }
    }
  }

  td.mat-column-actions,
  th.mat-column-actions {
    text-align: right;
    padding: 0;
    width: 48px;
  }
}
