/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.process-definition-item {
  padding: 10px 50px;
  border-top: 1px solid #d8d8d8;

  td.mat-column-index,
  th.mat-column-index {
    width: 1px;
    white-space: nowrap;
    padding-right: 8px;
  }

  td.mat-column-id,
  th.mat-column-id {
    text-align: right;
    padding: 0;
    width: 40px;
  }
}
