/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

#contactgegevens {
  zac-static-text {
    min-width: 200px;
    word-wrap: break-word;
  }
}

.mat-expansion-panel-header[aria-disabled="true"] {
  color: inherit;
}
