<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<button mat-icon-button (click)="toggle()">
  @switch (state()) {
    @case (toggleSwitchOptions.CHECKED) {
      <mat-icon outlined color="primary">{{ checkedIcon() }}</mat-icon>
    }
    @case (toggleSwitchOptions.UNCHECKED) {
      <mat-icon outlined color="warn">{{ unCheckedIcon() }}</mat-icon>
    }
    @case (toggleSwitchOptions.INDETERMINATE) {
      <mat-icon outlined>{{ indeterminateIcon() }}</mat-icon>
    }
  }
</button>
