<!--
  ~ SPDX-FileCopyrightText: 2025 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="sidenav-title">
  <h3>
    <mat-icon>account_tree</mat-icon>
    {{ "actie.zaak.koppelen" | translate }}
  </h3>
  <button mat-icon-button (click)="sideNav.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="form" *ngIf="zaak">
  <p>{{ intro }}</p>
  <mfb-form-field class="flex-1" [field]="selectLinkTypeField"></mfb-form-field>
  <mfb-form-field class="flex-1" [field]="caseSearchField"></mfb-form-field>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!isValid || loading"
    (click)="searchCases()"
  >
    {{ "actie.zoeken" | translate }}
  </button>
  <button mat-flat-button (click)="reset()">
    {{ "actie.wissen" | translate }}
  </button>
</div>

<div class="table-wrapper">found cases table here</div>
