<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-progress-bar
  mode="indeterminate"
  *ngIf="queryClient.isMutating(); else loadingQuery"
></mat-progress-bar>

<ng-template #loadingQuery>
  <mat-progress-bar
    mode="query"
    *ngIf="utilService.loading() || queryClient.isFetching(); else loadingDeterminate"
  ></mat-progress-bar>
</ng-template>

<ng-template #loadingDeterminate>
  <mat-progress-bar
    mode="determinate"
    value="100"
  ></mat-progress-bar>
</ng-template>
