<!--
  ~ SPDX-FileCopyrightText: 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>pause</mat-icon>
  <span class="flex-grow-1">
    {{ "actie.zaak.opschorten" | translate }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<form [formGroup]="form" (submit)="opschorten()">
  <mat-dialog-content>
    <zac-input [form]="form" key="duurDagen" label="opschortduur"></zac-input>
    <zac-date
      [form]="form"
      key="einddatumGepland"
      *ngIf="data.zaak.einddatumGepland"
    ></zac-date>
    <zac-date [form]="form" key="uiterlijkeEinddatumAfdoening"></zac-date>
    <zac-textarea [form]="form" key="reden"></zac-textarea>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      id="zaakOpschorten_button"
      [disabled]="loading || !form.valid"
      type="submit"
    >
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="18"></mat-spinner>
      </mat-icon>
      {{ "actie.zaak.opschorten" | translate }}
    </button>
    <button autofocus mat-raised-button [disabled]="loading" (click)="close()">
      {{ "actie.annuleren" | translate }}
    </button>
  </mat-dialog-actions>
</form>
