<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-title>
  <h3>
    <mat-icon>thumb_up_alt</mat-icon>
    {{ "actie.zaak.opschorten" | translate }}
  </h3>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <ng-container *ngFor="let formField of formFields"> </ng-container>
  <mfb-form-field [field]="duurField"></mfb-form-field>
  <mfb-form-field [field]="einddatumGeplandField"></mfb-form-field>
  <mfb-form-field [field]="uiterlijkeEinddatumAfdoeningField"></mfb-form-field>
  <mfb-form-field [field]="opschortReden"></mfb-form-field>
</div>

<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    id="zaakOpschorten_button"
    [disabled]="disabled()"
    (click)="opschorten()"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.zaak.opschorten" | translate }}
  </button>
  <button [disabled]="loading" autofocus mat-button (click)="close()">
    {{ "actie.annuleren" | translate }}
  </button>
</div>
