<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="flex-row justify-end items-start">
  <mat-slide-toggle
    class="mode-slider"
    color="primary"
    id="dashboardEdit_toggle"
    [formControl]="editMode"
    aria-label="Dashboard aanpassen"
  >
    {{ "actie.dashboard.wijzigen" | translate }}
  </mat-slide-toggle>
  @if (editMode.value) {
    <button
      [disabled]="this.available.length == 0"
      id="cardToevoegen_button"
      mat-icon-button
      title="{{ 'actie.card.toevoegen' | translate }}"
      aria-label="Dashboardcard toevoegen"
      [matMenuTriggerFor]="cardsMenu"
    >
      <mat-icon>dashboard_customize</mat-icon>
    </button>
  } @else {
    <button [disabled]="true" id="spacer_button" mat-icon-button></button>
  }
  <mat-menu #cardsMenu="matMenu" class="cards-menu">
    <h4 class="menu-title hide-xs" translate="actie.card.toevoegen"></h4>
    <mat-divider class="hide-gt-xs"></mat-divider>
    @for (card of available; track card) {
      <button mat-menu-item (click)="add(card)">
        <mat-icon>{{
          card.signaleringType != null ? "notifications" : ""
        }}</mat-icon>
        <span>{{ "dashboard.card." + card.id | i18nKey | translate }}</span>
      </button>
    }
  </mat-menu>
</div>

<div
  class="cards"
  [ngClass]="editMode.value ? 'edit-mode' : 'view-mode'"
  cdkDropListGroup
>
  @for (column of grid; track column) {
    @if (editMode.value || 0 < column.length) {
      <div
        class="grid-column-{{ editMode.value ? '3' : columnsInDashboard }}"
        cdkDropList
        cdkDropListOrientation="vertical"
        cdkDropListDisabled="{{ !editMode.value }}"
        (cdkDropListDropped)="move($event)"
        [cdkDropListData]="column"
      >
        @for (card of column; track card) {
          <mat-card
            #cardElement
            appearance="raised"
            class="dashboard-card"
            role="region"
            [attr.aria-label]="
              'dashboard.card.' + card?.id | i18nKey | translate
            "
            cdkDrag
          >
            <div class="placeholder" *cdkDragPlaceholder></div>
            @if (card != null) {
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    {{ "dashboard.card." + card.id | i18nKey | translate }}
                    @if (card.signaleringType != null) {
                      <mat-icon
                        class="cardtype"
                        title="{{
                          'signalering.type.' + card.signaleringType
                            | i18nKey
                            | translate
                        }}"
                      >
                        notifications_active
                      </mat-icon>
                    }
                  </mat-card-title>

                  @if (editMode.value) {
                    <button
                      class="delete"
                      [id]="'cardVerwijderen_' + card.id + '_button'"
                      mat-icon-button
                      title="{{ 'actie.card.verwijderen' | translate }}"
                      (click)="delete(card)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  }
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                @switch (card.type) {
                  @case (dashboardCardType.INFORMATIEOBJECTEN) {
                    <zac-informatieobjecten-card [data]="card">
                    </zac-informatieobjecten-card>
                  }
                  @case (dashboardCardType.TAKEN) {
                    <zac-taken-card [data]="card"> </zac-taken-card>
                  }
                  @case (dashboardCardType.TAAK_ZOEKEN) {
                    <zac-taak-zoeken-card [data]="card"> </zac-taak-zoeken-card>
                  }
                  @case (dashboardCardType.ZAKEN) {
                    <zac-zaken-card [data]="card"> </zac-zaken-card>
                  }
                  @case (dashboardCardType.ZAAK_WAARSCHUWINGEN) {
                    <zac-zaak-waarschuwingen-card [data]="card">
                    </zac-zaak-waarschuwingen-card>
                  }
                  @case (dashboardCardType.ZAAK_ZOEKEN) {
                    <zac-zaak-zoeken-card [data]="card"> </zac-zaak-zoeken-card>
                  }
                }
              </mat-card-content>
            }
          </mat-card>
        }
      </div>
    }
  }
</div>
@if (showHint) {
  <div class="table-wrapper">
    <p class="hint">
      <button type="button" id="hint_button" mat-button (click)="hint()">
        {{ "msg.geen.cards.hint" | translate }}
      </button>
    </p>
  </div>
}
