/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.cards {
  padding: 0 16px;
}

.grid-column-1,
.grid-column-2,
.grid-column-3 {
  margin: 6px;
  display: inline-block;
  vertical-align: top;
  min-height: 60px;
}

.grid-column-1 {
  width: 100%;
}

.grid-column-2 {
  width: calc(50% - 12px);
}

.grid-column-3 {
  width: calc(33% - 12px);
}

@media (max-width: 1200px) {
  .grid-column-1,
  .grid-column-2,
  .grid-column-3 {
    display: block;
    width: 100%;
  }
}

.draggable {
  cursor: grabbing;
}

.placeholder {
  background: #ddd;
  border: dotted 1px #aaa;
  border-radius: 30px;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cardtype {
  color: #0000008a;
  margin-top: -20px;
  position: relative;
  top: 6px;
  left: 12px;
}

.delete {
  margin-bottom: -20px;
  position: relative;
  z-index: 2;
}

.mode-slider {
  flex-shrink: 0;
  height: 40px;
  line-height: 40px;
}

.menu-title {
  font-size: 14px;
  text-align: center;
}

::ng-deep .mat-mdc-menu-panel.cards-menu {
  max-width: fit-content;
}

.hint {
  margin-top: 140px;
}

.dashboard-card {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  transition: min-height 200ms ease;

  &.dashboard-card--measuring {
    transition: none;
  }

  .dashboard-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
