<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-col gap-20">
    <mat-stepper
      orientation="horizontal"
      [linear]="!algemeenFormGroup.valid"
      *ngIf="algemeenFormGroup"
    >
      <mat-step [stepControl]="algemeenFormGroup">
        <ng-template matStepLabel>{{
          "gegevens.algemeen" | translate
        }}</ng-template>
        <form [formGroup]="algemeenFormGroup">
          <fieldset>
            <section class="row">
              <zac-static-text
                class="col-12 col-md-6"
                label="zaaktypeOmschrijving"
                [value]="parameters.zaaktype.omschrijving"
              ></zac-static-text>
              <zac-static-text
                class="col-12 col-md-6"
                label="doel"
                [value]="parameters.zaaktype.doel"
              ></zac-static-text>
            </section>
            <section class="row">
              <zac-static-text
                class="col-12 col-md-6"
                label="identificatie"
                [value]="parameters.zaaktype.identificatie"
              ></zac-static-text>
              <zac-static-text
                class="col-12 col-md-6"
                label="uuid"
                [value]="parameters.zaaktype.uuid"
              ></zac-static-text>
            </section>
          </fieldset>
          <fieldset>
            <section class="row">
              <zac-select
                class="col-12 col-md-6"
                key="caseDefinition"
                optionDisplayValue="naam"
                [form]="algemeenFormGroup"
                [options]="caseDefinitions"
              >
              </zac-select>
              <zac-select
                class="col-12 col-md-6"
                key="domein"
                [form]="algemeenFormGroup"
                [options]="domeinen"
              >
              </zac-select>
            </section>
            <section class="row">
              <zac-select
                class="col-12 col-md-6"
                key="defaultGroep"
                label="groep"
                optionDisplayValue="naam"
                [form]="algemeenFormGroup"
                [options]="groepen"
              >
              </zac-select>

              <zac-select
                class="col-12 col-md-6"
                key="defaultBehandelaar"
                label="behandelaar"
                optionDisplayValue="naam"
                [form]="algemeenFormGroup"
                [options]="medewerkers"
              >
              </zac-select>
            </section>
            <section class="row">
              <zac-input
                class="col-12 col-md-6"
                key="uiterlijkeEinddatumAfdoeningWaarschuwing"
                [form]="algemeenFormGroup"
              >
                <span matSuffix>{{ "kalenderdagen" | translate }}</span>
              </zac-input>
              <zac-input
                *ngIf="parameters.zaaktype.servicenorm"
                class="col-12 col-md-6"
                key="einddatumGeplandWaarschuwing"
                [form]="algemeenFormGroup"
              >
                <span matSuffix>{{ "kalenderdagen" | translate }}</span>
              </zac-input>
            </section>
            <section class="row">
              <zac-input
                class="col-12 col-md-6"
                key="productaanvraagtype"
                [form]="algemeenFormGroup"
              >
                <mat-hint>{{
                  "msg.zaakafhandelparameters.productaanvraagtype" | translate
                }}</mat-hint>
              </zac-input>
            </section>
          </fieldset>

          <div class="flex-row items-center gap-10 ml-3 mt-3">
            <mat-icon color="warn" class="pr-3">warning</mat-icon>
            <small>{{
              "msg.zaakafhandelparameters.waarschuwing" | translate
            }}</small>
          </div>
          <div class="button-group flex-row flex-wrap">
            <button mat-raised-button matStepperNext>
              {{ "actie.volgende" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!isValid() || loading"
              (click)="opslaan()"
            >
              {{ "actie.opslaan" | translate }}
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="humanTasksFormGroup">
        <ng-template matStepLabel>{{
          "gegevens.humantasks" | translate
        }}</ng-template>
        <ng-template matStepContent>
          <form [formGroup]="humanTasksFormGroup" class="flex-col">
            <mat-accordion>
              <mat-expansion-panel
                *ngFor="let humanTaskParameter of humanTaskParameters"
                [formGroupName]="
                  humanTaskParameter.planItemDefinition?.id ?? ''
                "
                class="flex-col"
                hideToggle
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon
                      outlined
                      *ngIf="isHumanTaskParameterValid(humanTaskParameter)"
                      color="primary"
                    >
                      check_circle
                    </mat-icon>
                    <mat-icon
                      outlined
                      *ngIf="!isHumanTaskParameterValid(humanTaskParameter)"
                      color="warn"
                    >
                      error
                    </mat-icon>
                    <span
                      [ngClass]="{
                        disabled: !getHumanTaskControl(
                          humanTaskParameter,
                          'actief'
                        ).value,
                      }"
                    >
                      {{ humanTaskParameter.planItemDefinition?.naam }}
                    </span>
                  </mat-panel-title>
                  <mat-slide-toggle
                    formControlName="actief"
                    (click)="$event.stopPropagation()"
                    color="primary"
                  ></mat-slide-toggle>
                </mat-expansion-panel-header>
                <div class="flex-row flex-wrap">
                  <mat-form-field class="w33 w100-md" floatLabel="always">
                    <mat-label>{{
                      "formulierDefinitie" | translate
                    }}</mat-label>
                    <mat-select
                      placeholder="{{
                        'formulierDefinitie.-kies-' | translate
                      }}"
                      (selectionChange)="
                        formulierDefinitieChanged($event, humanTaskParameter)
                      "
                      [formControl]="
                        getHumanTaskControl(
                          humanTaskParameter,
                          'formulierDefinitie'
                        )
                      "
                      [compareWith]="compareObject"
                    >
                      <mat-option
                        *ngFor="let formDef of formulierDefinities"
                        [value]="formDef.id"
                        >{{
                          "formulierDefinitie." + formDef.id | translate
                        }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex-row flex-wrap">
                  <mat-form-field class="w33 w100-md" floatLabel="always">
                    <mat-label>{{ "groep" | translate }}</mat-label>
                    <mat-select
                      placeholder="{{ 'groep.-geen-' | translate }}"
                      formControlName="defaultGroep"
                      [compareWith]="compareObject"
                    >
                      <mat-option [value]="">{{
                        "groep.-geen-" | translate
                      }}</mat-option>
                      <mat-option
                        *ngFor="let groep of groepen | async"
                        [value]="groep.id"
                        >{{ groep.naam }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="flex-row flex-wrap">
                  <mat-form-field class="w33 w100-md" floatLabel="always">
                    <mat-label>{{ "doorlooptijd" | translate }}</mat-label>
                    <input
                      matInput
                      type="number"
                      [attr.inputmode]="'numeric'"
                      min="0"
                      max="2147483647"
                      formControlName="doorlooptijd"
                    />
                    <span matSuffix>{{ "kalenderdagen" | translate }}</span>
                  </mat-form-field>
                </div>
                <div
                  class="flex-row flex-wrap"
                  *ngFor="
                    let veld of getVeldDefinities(
                      humanTaskParameter.formulierDefinitieId ?? ''
                    )
                  "
                >
                  <mat-form-field class="w33 w100-md" floatLabel="always">
                    <mat-label>{{
                      "referentietabel." + veld.naam | translate
                    }}</mat-label>
                    <mat-select
                      placeholder="{{ 'referentietabel.-geen-' | translate }}"
                      [formControlName]="'referentieTabel' + veld.naam"
                      [compareWith]="compareObject"
                    >
                      <mat-option
                        *ngFor="let tabel of referentieTabellen"
                        [value]="tabel"
                        >{{ tabel.naam }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="button-group flex-row flex-wrap">
              <button mat-raised-button matStepperPrevious>
                {{ "actie.terug" | translate }}
              </button>
              <button mat-raised-button matStepperNext>
                {{ "actie.volgende" | translate }}
              </button>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!isValid() || loading"
                (click)="opslaan()"
              >
                {{ "actie.opslaan" | translate }}
              </button>
            </div>
          </form>
        </ng-template>
      </mat-step>
      <mat-step
        [stepControl]="userEventListenersFormGroup"
        [hasError]="userEventListenersFormGroup.invalid"
      >
        <ng-template matStepLabel>{{
          "gegevens.acties" | translate
        }}</ng-template>
        <ng-template matStepContent>
          <form [formGroup]="userEventListenersFormGroup" class="flex-col">
            <mat-accordion>
              <mat-expansion-panel
                [formGroupName]="actieParameter.id"
                class="flex-col"
                *ngFor="let actieParameter of userEventListenerParameters"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ actieParameter.naam }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="flex-row flex-wrap">
                  <mat-form-field class="w33 w100-md" floatLabel="always">
                    <mat-label>{{ "toelichting" | translate }}</mat-label>
                    <textarea
                      matInput
                      class="toelichting"
                      formControlName="toelichting"
                      maxlength="1000"
                    ></textarea>
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="button-group flex-row flex-wrap">
              <button mat-raised-button matStepperPrevious>
                {{ "actie.terug" | translate }}
              </button>
              <button mat-raised-button matStepperNext>
                {{ "actie.volgende" | translate }}
              </button>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!isValid() || loading"
                (click)="opslaan()"
              >
                {{ "actie.opslaan" | translate }}
              </button>
            </div>
          </form>
        </ng-template>
      </mat-step>
      <mat-step
        [stepControl]="mailFormGroup"
        [hasError]="
          mailFormGroup.invalid ||
          !automatischeOntvangstbevestigingFormGroup.valid
        "
      >
        <ng-template matStepLabel>{{
          "gegevens.mail" | translate
        }}</ng-template>
        <ng-template matStepContent>
          <form [formGroup]="mailFormGroup" class="flex-col">
            <mat-card>
              <mat-card-content class="flex-col">
                <div class="flex-row flex-wrap gap-20">
                  <mat-form-field
                    class="flex-1 w33 w100-md"
                    floatLabel="always"
                  >
                    <mat-label>{{
                      "statusmail.type.intake" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="intakeMail"
                      [compareWith]="compareObject"
                    >
                      <mat-option
                        *ngFor="let b of mailOpties"
                        [value]="b.value"
                        >{{ b.label | translate }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    class="flex-1 w33 w100-md"
                    floatLabel="always"
                  >
                    <mat-label>{{
                      "statusmail.type.afronden" | translate
                    }}</mat-label>
                    <mat-select
                      formControlName="afrondenMail"
                      [compareWith]="compareObject"
                    >
                      <mat-option
                        *ngFor="let b of mailOpties"
                        [value]="b.value"
                        >{{ b.label | translate }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ "gegevens.mail.afzenders" | translate }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="table-wrapper">
                  <table mat-table [dataSource]="zaakAfzendersDataSource">
                    <ng-container matColumnDef="default">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ "default" | translate }}
                      </th>
                      <td mat-cell *matCellDef="let afzender">
                        <mat-radio-button
                          (click)="updateZaakAfzenders(afzender.mail)"
                          [checked]="afzender.defaultMail"
                        >
                        </mat-radio-button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="mail">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        translate="mail.afzender"
                      ></th>
                      <td mat-cell *matCellDef="let afzender">
                        {{
                          afzender.speciaal
                            ? ("gegevens.mail.afzender." + afzender.mail
                              | translate)
                            : afzender.mail
                        }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="replyto">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        translate="mail.antwoord"
                      ></th>
                      <td mat-cell *matCellDef="let afzender">
                        <mat-select
                          placeholder="{{ 'verzender.-geen-' | translate }}"
                          [formControl]="
                            getZaakAfzenderControl(afzender, 'replyTo')
                          "
                          [compareWith]="compareObject"
                        >
                          <mat-option>{{
                            "verzender.-geen-" | translate
                          }}</mat-option>
                          <mat-option
                            *ngFor="let replyTo of replyTos"
                            [value]="replyTo.mail"
                          >
                            {{ replyToDisplayValue(replyTo) | translate }}
                          </mat-option>
                        </mat-select>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="id" stickyEnd>
                      <th mat-header-cell *matHeaderCellDef>
                        <button
                          mat-icon-button
                          *ngIf="0 < zaakAfzenders.length"
                          id="afzender-toevoegen"
                          title="{{ 'actie.toevoegen' | translate }}"
                          aria-label="Afzender toevoegen"
                          [matMenuTriggerFor]="afzendersMenu"
                        >
                          <mat-icon>add_circle</mat-icon>
                        </button>
                        <mat-menu #afzendersMenu="matMenu">
                          <mat-divider class="hide-gt-xs"></mat-divider>
                          <ng-container *ngFor="let afzender of zaakAfzenders">
                            <button
                              mat-menu-item
                              (click)="addZaakAfzender(afzender)"
                            >
                              {{ afzender }}
                            </button>
                          </ng-container>
                        </mat-menu>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <button
                          mat-icon-button
                          *ngIf="!row.speciaal"
                          id="afzender-verwijderen"
                          title="{{ 'actie.verwijderen' | translate }}"
                          (click)="removeZaakAfzender(row.mail)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr
                      mat-header-row
                      *matHeaderRowDef="['default', 'mail', 'replyto', 'id']"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="
                        let row;
                        columns: ['default', 'mail', 'replyto', 'id']
                      "
                    ></tr>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ "gegevens.mail.templates" | translate }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel
                    [formGroupName]="mailtemplate"
                    class="flex-col"
                    *ngFor="let mailtemplate of mailtemplateKoppelingen"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ "mail." + mailtemplate | translate }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex-row flex-wrap">
                      <mat-form-field
                        class="flex-1 w33 w100-md"
                        floatLabel="always"
                      >
                        <mat-label>{{
                          "title.mailtemplate" | translate
                        }}</mat-label>
                        <mat-select
                          placeholder="{{ 'mailtemplate.-kies-' | translate }}"
                          [formControl]="
                            getMailtemplateKoppelingControl(
                              mailtemplate,
                              'mailtemplate'
                            )
                          "
                          [compareWith]="compareObject"
                        >
                          <mat-option
                            *ngFor="
                              let template of getBeschikbareMailtemplates(
                                mailtemplate
                              )
                            "
                            [value]="template.id"
                            >{{ template.mailTemplateNaam }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <form [formGroup]="automatischeOntvangstbevestigingFormGroup">
                <mat-card-header class="mb-2">
                  <mat-card-title>
                    <zac-toggle
                      label="gegevens.mail.ontvangstbevestiging"
                      labelPosition="before"
                      [form]="automatischeOntvangstbevestigingFormGroup"
                      key="enabled"
                    ></zac-toggle>
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{ "gegevens.mail.ontvangstbevestiging.hint" | translate }}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content
                  *ngIf="
                    automatischeOntvangstbevestigingFormGroup.controls.enabled
                      .value
                  "
                >
                  <fieldset>
                    <section class="row">
                      <zac-select
                        class="col-12"
                        [form]="automatischeOntvangstbevestigingFormGroup"
                        key="templateName"
                        label="title.mailtemplate"
                        [options]="
                          getBeschikbareMailtemplates(
                            'TAAK_ONTVANGSTBEVESTIGING'
                          )
                        "
                        optionDisplayValue="mailTemplateNaam"
                      ></zac-select>
                      <zac-select
                        class="col-12"
                        [form]="automatischeOntvangstbevestigingFormGroup"
                        key="emailSender"
                        label="mail.afzender"
                        [options]="filterOutMedewerkerMail(replyTos)"
                        [optionDisplayValue]="replyToDisplayValue"
                      ></zac-select>
                      <zac-select
                        class="col-12"
                        [form]="automatischeOntvangstbevestigingFormGroup"
                        key="emailReply"
                        label="mail.antwoord"
                        [options]="filterOutMedewerkerMail(replyTos)"
                        [optionDisplayValue]="replyToDisplayValue"
                      ></zac-select>
                    </section>
                  </fieldset>
                </mat-card-content>
              </form>
            </mat-card>
            <div class="button-group flex-row flex-wrap">
              <button mat-raised-button matStepperPrevious>
                {{ "actie.terug" | translate }}
              </button>
              <button mat-raised-button matStepperNext>
                {{ "actie.volgende" | translate }}
              </button>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!isValid() || loading"
                (click)="opslaan()"
              >
                {{ "actie.opslaan" | translate }}
              </button>
            </div>
          </form>
        </ng-template>
      </mat-step>
      <mat-step
        [stepControl]="zaakbeeindigFormGroup"
        [hasError]="zaakbeeindigFormGroup.invalid"
      >
        <ng-template matStepLabel>{{
          "gegevens.beeindiging" | translate
        }}</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-content>
              <form [formGroup]="zaakbeeindigFormGroup" class="flex-col">
                <div class="table-wrapper">
                  <table mat-table [dataSource]="zaakbeeindigParameters">
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let parameter">
                        <mat-checkbox
                          (click)="$event.stopPropagation()"
                          (change)="changeSelection($event, parameter)"
                          [checked]="selection.isSelected(parameter)"
                          [disabled]="
                            isZaaknietontvankelijkParameter(parameter)
                          "
                        >
                        </mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="reden">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        translate="reden"
                      ></th>
                      <td mat-cell *matCellDef="let parameter">
                        {{
                          parameter.zaakbeeindigReden?.naam ??
                            "zaakIsNietOntvankelijk" | translate
                        }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="resultaat">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        translate="resultaat"
                      ></th>
                      <td mat-cell *matCellDef="let parameter">
                        <mat-select
                          placeholder="{{ 'resultaat.-kies-' | translate }}"
                          [formControl]="
                            getZaakbeeindigControl(
                              parameter,
                              'beeindigResultaat'
                            )
                          "
                          [compareWith]="compareObject"
                        >
                          <mat-option
                            *ngFor="let resultaattype of resultaattypes"
                            [value]="resultaattype"
                            >{{ resultaattype.naam }}</mat-option
                          >
                        </mat-select>
                      </td>
                    </ng-container>
                    <tr
                      mat-header-row
                      *matHeaderRowDef="['select', 'reden', 'resultaat']"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="
                        let row;
                        columns: ['select', 'reden', 'resultaat']
                      "
                    ></tr>
                  </table>
                  <p *ngIf="zaakbeeindigParameters.length === 0">
                    {{ "msg.geen.gegevens.gevonden" | translate }}
                  </p>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <div class="button-group flex-row flex-wrap">
            <button mat-raised-button matStepperPrevious>
              {{ "actie.terug" | translate }}
            </button>
            <button mat-raised-button matStepperNext>
              {{ "actie.volgende" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!isValid() || loading"
              (click)="opslaan()"
            >
              {{ "actie.opslaan" | translate }}
            </button>
          </div>
        </ng-template>
      </mat-step>
      <mat-step
        [stepControl]="smartDocumentsEnabledForm"
        [hasError]="
          !isSmartDocumentsStepValid || !brpDoelbindingFormGroup.valid
        "
      >
        <ng-template matStepLabel>{{
          "gegevens.koppelingen" | translate
        }}</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-content>
              <h2>
                {{ "gegevens.landelijk.koppelingen" | translate }}
              </h2>
              <p>
                {{ "gegevens.landelijk.koppelingen.omschrijving" | translate }}
              </p>
              <form class="flex-col gap-12" [formGroup]="betrokkeneKoppelingen">
                <div class="flex-row items-center gap-8">
                  <mat-slide-toggle
                    formControlName="brpKoppelen"
                    (click)="$event.stopPropagation()"
                    color="primary"
                  ></mat-slide-toggle>
                  <p>{{ "gegevens.koppelen.brp" | translate }}</p>
                </div>
                <form
                  [formGroup]="brpDoelbindingFormGroup"
                  *ngIf="betrokkeneKoppelingen.controls.brpKoppelen.value"
                >
                  <p>
                    {{
                      "title.admin.parameters.step.brpDoelbinding" | translate
                    }}
                  </p>
                  <section class="flex-col">
                    <mat-form-field
                      class="flex-1 w33 w100-md"
                      floatLabel="always"
                    >
                      <mat-label>{{
                        "brpDoelbinding.zoekWaarde" | translate
                      }}</mat-label>
                      <mat-select
                        placeholder="{{ 'resultaat.-kies-' | translate }}"
                        [formControl]="
                          brpDoelbindingFormGroup.controls.zoekWaarde
                        "
                      >
                        <mat-option
                          *ngFor="let value of brpSearchValues"
                          [value]="value"
                          >{{ value }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field
                      class="flex-1 w33 w100-md"
                      floatLabel="always"
                    >
                      <mat-label>{{
                        "brpDoelbinding.raadpleegWaarde" | translate
                      }}</mat-label>
                      <mat-select
                        placeholder="{{ 'resultaat.-kies-' | translate }}"
                        [formControl]="
                          brpDoelbindingFormGroup.controls.raadpleegWaarde
                        "
                      >
                        <mat-option
                          *ngFor="let value of brpConsultingValues"
                          [value]="value"
                          >{{ value }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </section>
                </form>
                <div class="flex-row items-center gap-8">
                  <mat-slide-toggle
                    formControlName="kvkKoppelen"
                    (click)="$event.stopPropagation()"
                    color="primary"
                  ></mat-slide-toggle>
                  <p>{{ "gegevens.koppelen.kvk" | translate }}</p>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="parameters.smartDocuments.enabledGlobally">
            <mat-card-content>
              <form [formGroup]="smartDocumentsEnabledForm" class="flex-col">
                <div class="flex-row items-center">
                  <section class="flex-1">
                    <h2>
                      {{ "title.smartdocuments.form" | translate }}
                    </h2>
                    <p>
                      {{
                        "title.admin.parameters.step.smart-documents"
                          | translate
                      }}
                    </p>
                  </section>
                  <mat-slide-toggle
                    formControlName="enabledForZaaktype"
                    (click)="$event.stopPropagation()"
                    color="primary"
                  ></mat-slide-toggle>
                </div>
              </form>
              <mat-divider class="my-3"></mat-divider>
              <smart-documents-form
                *ngIf="
                  smartDocumentsEnabledForm.get('enabledForZaaktype').value
                "
                [zaakTypeUuid]="parameters.zaaktype.uuid"
                #smartDocumentsFormRef
              >
              </smart-documents-form>
              <div
                *ngIf="
                  !smartDocumentsEnabledForm.get('enabledForZaaktype').value
                "
                class="form-disabled-feedback"
              >
                {{ "msg.smartdocuments.form.disabled" | translate }}
              </div>
            </mat-card-content>
          </mat-card>
          <div class="button-group flex-row flex-wrap">
            <button mat-raised-button matStepperPrevious>
              {{ "actie.terug" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!isValid() || loading"
              (click)="opslaan()"
            >
              {{ "actie.opslaan" | translate }}
            </button>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </mat-sidenav-content>
</mat-sidenav-container>
