<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16" mat-dialog-title>
  <mat-icon>error</mat-icon>
  <span class="flex-grow-1">
    {{ "dialoog.error.titel.algemeen" | translate }}
  </span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div mat-dialog-content>
  <p *ngIf="data.error">{{ data.error }}</p>
  <p *ngIf="data.details" style="white-space: pre-line">{{ data.details }}</p>
  <ng-container *ngIf="data.showServerErrorTexts">
    <p *ngFor="let serverErrorText of serverErrorTexts | async">
      {{ serverErrorText }}
    </p>
  </ng-container>
</div>

<div mat-dialog-actions>
  <button autofocus mat-raised-button (click)="close()">
    {{ "actie.sluiten" | translate }}
  </button>
</div>
