<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<h1 mat-dialog-title>{{'title.fout' | translate}}</h1>
<div mat-dialog-content>
  <p *ngIf="data.error">{{data.error}}</p>
  <p *ngIf="data.details">{{data.details}}</p>
  <ng-container *ngIf="data.showServerErrorTexts">
    <p *ngFor="let serverErrorText of serverErrorTexts | async">
      {{serverErrorText}}
    </p>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button autofocus mat-button (click)="close()">
    {{'actie.sluiten' | translate}}
  </button>
</div>
