<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>

  <input
    #bpmnProcessDefinitionFileInput
    type="file"
    accept=".bpmn"
    style="display: none"
    (change)="bpmnProcessDefinitionFileSelected($event)"
  />

  <mat-sidenav-content class="flex-col gap-20">
    <mat-card>
      <mat-card-content class="table-container">
        <div
          DropZone
          (fileDropped)="bpmnProcessDefinitionFileDropped($event)"
          class="flex-row items-center"
        >
          <section class="flex-1">
            <h2>
              {{ "title.bpmn-procesdefinities" | translate }}
            </h2>
          </section>
          <div class="actions-header">
            <button
              id="upload"
              mat-raised-button
              color="primary"
              (click)="selectBpmnProcessDefinitionFile()"
            >
              {{
                "bpmn.process-definition.button.upload.definition" | translate
              }}
            </button>
          </div>
        </div>

        <div class="table-wrapper">
          <mat-tree [dataSource]="data()" [childrenAccessor]="childrenAccessor">
            <mat-nested-tree-node *matTreeNodeDef="let node" class="item">
              <zac-bpmn-process-definition-item
                [processDefinition]="asProcessDefinition(node)"
                (bpmnFormListChanged)="refreshDefinitions()"
              ></zac-bpmn-process-definition-item>
            </mat-nested-tree-node>
            <mat-nested-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              class="group"
            >
              <div class="tree-group-row" [bpmnNodeRow]="node.key" (click)="toggleNode(node)">
                <button mat-icon-button>
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      expandedKey === node.key ? "expand_more" : "chevron_right"
                    }}
                  </mat-icon>
                </button>
                <div class="flex-1">{{ node.name }}</div>

                <mat-icon
                  outlined
                  class="cursor-default"
                  [color]="hasAllFormsUploaded(node) ? 'primary' : 'warn'"
                  [matTooltip]="
                    !hasAllFormsUploaded(node)
                      ? ('bpmn.process-definition.chip.onvolledig' | translate)
                      : ''
                  "
                  (click)="$event.stopPropagation()"
                  >{{
                    hasAllFormsUploaded(node) ? "check_circle" : "error"
                  }}</mat-icon
                >

                <span
                  [class.cursor-default]="node.definition.details?.inUse"
                  [matTooltip]="
                    node.definition.details?.inUse
                      ? ('bpmn.process-definition.definition-row.button.delete.in-use'
                        | translate)
                      : ('actie.verwijderen' | translate)
                  "
                  (click)="$event.stopPropagation()"
                >
                  <button
                    mat-icon-button
                    [disabled]="node.definition.details?.inUse"
                    (click)="deleteProcessDefinition(node)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </span>
              </div>
              <div [hidden]="expandedKey !== node.key">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
          @if (data().length === 0) {
            <p>{{ "msg.geen.gegevens.gevonden" | translate }}</p>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
