/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.group {
  .tree-group-row {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-top: 1px solid #d8d8d8;

    mat-icon-button {
      margin-left: 88px;
    }

    &:hover {
      background: var(--mat-expansion-header-hover-state-layer-color);
    }
  }

  &:last-child .tree-group-row {
    border-bottom: 1px solid #d8d8d8;
  }
}

.actions-header {
  padding: 16px 0;
}
