/*
 * SPDX-FileCopyrightText: 2024 Lifely
 * SPDX-License-Identifier: EUPL-1.2+
 *
 */

@import "../../../../variables";

.group {
  cursor: pointer;

  &.mat-tree-node {
    border-top: 1px solid #d8d8d8;
  }
  &.mat-tree-node:last-child {
    border-bottom: 1px solid #d8d8d8;
  }

  &:hover {
    background: var(--mat-expansion-header-hover-state-layer-color);
  }
}

.template-group-chip {
  height: 24px;
  border-radius: 3px;
  font-variant: all-small-caps;
  font-weight: bold;
  letter-spacing: 1px;
}
