<!--
  ~ SPDX-FileCopyrightText: 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="formGroup" class="flex-col">
  <mat-form-field>
    <mat-label>Document Title</mat-label>
    <input matInput formControlName="documentTitle" />
    <mat-error *ngIf="formGroup.get('documentTitle').hasError('required')">
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Document Description</mat-label>
    <input matInput formControlName="documentDescription" />
    <mat-error
      *ngIf="formGroup.get('documentDescription').hasError('required')"
    >
      This field is required.
    </mat-error>
  </mat-form-field>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <smart-documents-form-item
        [template]="{ id: '1234', name: node.name }"
        [documentTypes]="[
          { id: '123', name: 'foo', informatieObjectTypeUUID: '123' },
          { id: '456', name: 'bar', informatieObjectTypeUUID: '456' },
          { id: '789', name: 'baz', informatieObjectTypeUUID: '789' }
        ]"
        [initialInformationObjectTypeUuid]="456"
      ></smart-documents-form-item>
    </mat-tree-node>
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
      <button
        *ngIf="node.level === 0"
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <div class="node-name flex-1">{{ node.name }}</div>
      <mat-chip *ngIf="node.level === 0">inactief</mat-chip>
    </mat-tree-node>
  </mat-tree>
</form>
