<!--
  ~ SPDX-FileCopyrightText: 2024 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="formGroup" class="flex-col">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="flex-1">
      <smart-documents-form-item
        class="flex-1"
        [formGroup]="formGroup"
        [informationObjectTypes]="informationObjectTypes"
        [node]="node"
        (selectionChange)="handleMatTreeNodeChange($event)"
      ></smart-documents-form-item>
    </mat-tree-node>
    <mat-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      class="group"
      matTreeNodeToggle
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <div class="flex-1">{{ node.name }}</div>
      <mat-chip [highlighted]="hasSelected(node.id)">
        {{ (hasSelected(node.id) ? "actief" : "inactief") | translate }}
      </mat-chip>
    </mat-tree-node>
  </mat-tree>
</form>
