/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-column-zaakID {
  width: 200px;
}

.mat-column-ontkoppeldDoor {
  width: 200px;
}

.mat-column-ontkoppeldOp {
  width: 150px;
}

.mat-column-creatiedatum {
  width: 150px;
}

.mat-column-actions {
  width: 170px;
}

.lock-icon {
  color: var(--mdc-chip-label-text-color);
  block-size: fit-content;
  margin-block: auto;
  padding: 0.125em;
}

.indication {
  display: inline-flex;
  justify-content: space-around;
  width: 48px;
  margin-right: 6px; // behave like the adjacent buttons to align properly

  & .mat-icon {
    font-size: 20px;
  }
}
