<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-row gap-20">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-select
            placeholder="{{ 'groep.kies' | translate }}"
            (selectionChange)="laadSignaleringSettings($event.value)"
          >
            @for (groep of groepen | async; track groep) {
              <mat-option [value]="groep">{{ groep.naam }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div
          class="table-wrapper"
          [ngClass]="{ 'table-loading-shade': isLoadingResults }"
        >
          <table
            mat-table
            [dataSource]="dataSource"
            [attr.aria-busy]="isLoadingResults"
          >
            @for (column of columns; track column) {
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>
                  {{ "signalering." + column | translate }}
                </th>
                <td mat-cell *matCellDef="let row">
                  @if (column == "subjecttype") {
                    {{
                      "signalering.subjecttype." + row[column]
                        | i18nKey
                        | translate
                    }}
                  }
                  @if (column == "type") {
                    {{
                      "signalering.type." + row[column] + ".group"
                        | i18nKey
                        | translate
                    }}
                  }
                  @if (
                    column != "type" &&
                    column != "subjecttype" &&
                    row[settingPerColumn[column]] != null
                  ) {
                    <mat-checkbox
                      (click)="$event.stopPropagation()"
                      (change)="changed(row, column, $event.checked)"
                      [checked]="row[settingPerColumn[column]]"
                      [id]="row.type + '_' + column + '_checkbox'"
                      [title]="'actie.signalering.' + column | translate"
                      [aria-label]="'actie.signalering.' + column | translate"
                    >
                    </mat-checkbox>
                  }
                </td>
              </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
            <tr mat-row *matNoDataRow>
              <td [colSpan]="columns.length">
                {{ "msg.geen.gegevens.gevonden" | translate }}
              </td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
