<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-col gap-20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "health-check.synchroniseer.ztc.title" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button
                (click)="clearZTCCache($event)"
                [disabled]="loadingZaaktypes"
                mat-raised-button
                color="primary"
              >
                <mat-icon>{{
                  loadingZaaktypes ? "sync_lock" : "sync"
                }}</mat-icon>
                {{ "health-check.synchroniseer.ztc.button" | translate }}
              </button>
            </mat-panel-title>
            <mat-panel-description>
              {{
                "health-check.synchroniseer.ztc.description"
                  | translate
                    : {
                        ztcCacheTime: (ztcCacheTime | datum: "medium"),
                      }
              }}
            </mat-panel-description>
            <mat-icon>help</mat-icon>
          </mat-expansion-panel-header>
          <p>
            {{ "health-check.synchroniseer.ztc.uitleg.1" | translate }}
            <br />{{ "health-check.synchroniseer.ztc.uitleg.2" | translate }}
          </p>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "health-check.zaaktype.inrichtingscheck" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card>
          <mat-card-content>
            <div class="table-wrapper">
              <table
                *ngIf="!loadingZaaktypes"
                mat-table
                [dataSource]="dataSource"
                matSort
                matSortDirection="asc"
                (matSortChange)="sortData($event)"
                multiTemplateDataRows
              >
                <ng-container matColumnDef="expand">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    aria-label="row actions"
                  >
                    &nbsp;
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon *ngIf="needsAttention(row) && expandedRow !== row"
                      >keyboard_arrow_down</mat-icon
                    >
                    <mat-icon *ngIf="needsAttention(row) && expandedRow === row"
                      >keyboard_arrow_up</mat-icon
                    >
                  </td>
                </ng-container>
                <ng-container matColumnDef="zaaktypeOmschrijving">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="zaaktypeOmschrijving"
                  >
                    {{ "zaaktype-omschrijving" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.zaaktype.omschrijving }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="zaaktypeDoel">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="zaaktypeDoel"
                  >
                    {{ "doel" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <read-more
                      [text]="row.zaaktype.doel"
                      [maxLength]="100"
                    ></read-more>
                  </td>
                </ng-container>
                <ng-container matColumnDef="beginGeldigheid">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="beginGeldigheid"
                  >
                    {{ "begin.geldigheid" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.zaaktype.beginGeldigheid | datum }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="valide">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header="valide"
                  ></th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon
                      outlined
                      *ngIf="row.isValide && !row.hasWaarschuwingen"
                      color="primary"
                      aria-hidden="false"
                      [attr.aria-label]="
                        'health-check.zaaktype.status.valide' | translate
                      "
                      >check_circle</mat-icon
                    >
                    <mat-icon
                      outlined
                      *ngIf="row.isValide && row.hasWaarschuwingen"
                      class="warning"
                      aria-hidden="false"
                      [attr.aria-label]="
                        'health-check.zaaktype.status.waarschuwing' | translate
                      "
                      >warning</mat-icon
                    >
                    <mat-icon
                      outlined
                      *ngIf="!row.isValide"
                      color="warn"
                      aria-hidden="false"
                      [attr.aria-label]="
                        'health-check.zaaktype.status.niet-valide' | translate
                      "
                      >error</mat-icon
                    >
                  </td>
                </ng-container>
                <ng-container matColumnDef="expandedPrefix">
                  <td mat-cell *matCellDef="let row" colspan="2"></td>
                </ng-container>
                <ng-container matColumnDef="expandedTitle">
                  <td mat-cell *matCellDef="let cellRow">
                    @let row = rowOf(dataSource, cellRow);
                    <div
                      class="detail flex-col"
                      [@detailExpand]="
                        row === expandedRow ? 'expanded' : 'collapsed'
                      "
                    >
                      <div *ngIf="!row.isZaakafhandelParametersValide">
                        {{ "zaakafhandelparameters" | translate }}
                      </div>
                      <div *ngIf="!row.isStatustypeIntakeAanwezig">
                        {{ "statustype" | translate }}
                      </div>
                      <div *ngIf="!row.isStatustypeInBehandelingAanwezig">
                        {{ "statustype" | translate }}
                      </div>
                      <div *ngIf="!row.isStatustypeHeropendAanwezig">
                        {{ "statustype" | translate }}
                      </div>
                      <div
                        *ngIf="!row.isStatustypeAanvullendeInformatieVereist"
                      >
                        {{ "statustype" | translate }}
                      </div>
                      <div *ngIf="!row.isStatustypeAfgerondAanwezig">
                        {{ "statustype" | translate }}
                      </div>
                      <div
                        *ngIf="
                          row.isStatustypeAfgerondAanwezig &&
                          !row.isStatustypeAfgerondLaatsteVolgnummer
                        "
                      >
                        {{ "statustype" | translate }}
                      </div>
                      <div *ngIf="!row.isResultaattypeAanwezig">
                        {{ "resultaattype" | translate }}
                      </div>
                      <div *ngIf="!row.aantalInitiatorroltypen">
                        {{ "rol" | translate }}
                      </div>
                      <div *ngIf="!row.aantalBehandelaarroltypen">
                        {{ "rol" | translate }}
                      </div>
                      <div *ngIf="!row.isRolOverigeAanwezig">
                        {{ "rol" | translate }}
                      </div>
                      <div *ngIf="!row.isInformatieobjecttypeEmailAanwezig">
                        {{ "informatieobjecttype" | translate }}
                      </div>
                      <div
                        *ngIf="
                          row.resultaattypesMetVerplichtBesluit?.length &&
                          !row.isBesluittypeAanwezig
                        "
                      >
                        {{ "besluittype" | translate }}
                      </div>
                      <div *ngIf="!row.isBrpInstellingenCorrect">
                        {{ "brp-protocollering" | translate }}
                      </div>
                      <div
                        *ngIf="
                          row.isZaakspecifiekeAutorisatieEigenschapAanwezig &&
                          !row.isZaakspecifiekeAutorisatieRoltypeAanwezig
                        "
                      >
                        {{ "rol" | translate }}
                      </div>
                      <div
                        *ngIf="
                          row.isZaakspecifiekeAutorisatieRoltypeAanwezig &&
                          !row.isZaakspecifiekeAutorisatieEigenschapAanwezig
                        "
                      >
                        {{ "eigenschap" | translate }}
                      </div>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                  <td
                    mat-cell
                    *matCellDef="let cellRow"
                    [attr.colspan]="columnsToDisplay.length - 3"
                  >
                    @let row = rowOf(dataSource, cellRow);
                    <div
                      class="detail flex-col"
                      [@detailExpand]="
                        row === expandedRow ? 'expanded' : 'collapsed'
                      "
                    >
                      <div *ngIf="!row.isZaakafhandelParametersValide">
                        {{
                          "health-check.zaaktype.zaakafhandel-parameters-ongeldig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isStatustypeIntakeAanwezig">
                        {{
                          "health-check.zaaktype.geen-statustype-intake-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isStatustypeInBehandelingAanwezig">
                        {{
                          "health-check.zaaktype.geen-statustype-in-behandeling-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isStatustypeHeropendAanwezig">
                        {{
                          "health-check.zaaktype.geen-statustype-heropend-aanwezig"
                            | translate
                        }}
                      </div>
                      <div
                        *ngIf="!row.isStatustypeAanvullendeInformatieVereist"
                      >
                        {{
                          "health-check.zaaktype.geen-statustype-aanvullende-informatie-vereist"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isStatustypeAfgerondAanwezig">
                        {{
                          "health-check.zaaktype.geen-statustype-afgerond-aanwezig"
                            | translate
                        }}
                      </div>
                      <div
                        *ngIf="
                          row.isStatustypeAfgerondAanwezig &&
                          !row.isStatustypeAfgerondLaatsteVolgnummer
                        "
                      >
                        {{
                          "health-check.zaaktype.statustype-afgerond-laatste-volgnummer"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isResultaattypeAanwezig">
                        {{
                          "health-check.zaaktype.geen-resultaattype-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.aantalInitiatorroltypen">
                        {{
                          "health-check.zaaktype.geen-rol-initiator-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.aantalBehandelaarroltypen">
                        {{
                          "health-check.zaaktype.geen-rol-behandelaar-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="(row.aantalInitiatorroltypen ?? 0) > 1">
                        {{
                          "health-check.zaaktype.te-veel-rol-initiator-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="(row.aantalBehandelaarroltypen ?? 0) > 1">
                        {{
                          "health-check.zaaktype.te-veel-rol-behandelaar-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isRolOverigeAanwezig">
                        {{
                          "health-check.zaaktype.geen-rol-overige-aanwezig"
                            | translate
                        }}
                      </div>
                      <div *ngIf="!row.isInformatieobjecttypeEmailAanwezig">
                        {{
                          "health-check.zaaktype.geen-informatieobjecttype-email-aanwezig"
                            | translate
                        }}
                      </div>
                      <div
                        *ngIf="
                          row.resultaattypesMetVerplichtBesluit?.length &&
                          !row.isBesluittypeAanwezig
                        "
                        [innerHTML]="
                          'health-check.zaaktype.geen-besluittype-aanwezig'
                            | translate
                              : {
                                  resultaattypes:
                                    row.resultaattypesMetVerplichtBesluit!.join(
                                      ', '
                                    ),
                                }
                        "
                      ></div>
                      <div *ngIf="!row.isBrpInstellingenCorrect">
                        {{
                          "health-check.zaaktype.onjuiste-brp-headerwaarde"
                            | translate
                        }}
                      </div>
                      <div
                        *ngIf="
                          row.isZaakspecifiekeAutorisatieEigenschapAanwezig &&
                          !row.isZaakspecifiekeAutorisatieRoltypeAanwezig
                        "
                      >
                        {{
                          "health-check.zaaktype.zaakspecifieke-autorisatie.roltype-ontbreekt"
                            | translate
                        }}
                      </div>
                      <div
                        *ngIf="
                          row.isZaakspecifiekeAutorisatieRoltypeAanwezig &&
                          !row.isZaakspecifiekeAutorisatieEigenschapAanwezig
                        "
                      >
                        {{
                          "health-check.zaaktype.zaakspecifieke-autorisatie.eigenschap-ontbreekt"
                            | translate
                        }}
                      </div>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="zoekFilter">
                  <th mat-header-cell *matHeaderCellDef colspan="3">
                    <mat-form-field subscriptSizing="dynamic">
                      <mat-label>{{ "filter" | translate }}</mat-label>
                      <input matInput (keyup)="applyFilter($event)" />
                    </mat-form-field>
                  </th>
                </ng-container>
                <ng-container matColumnDef="valideFilter">
                  <th mat-header-cell *matHeaderCellDef colspan="2">
                    <zac-toggle-filter
                      unCheckedIcon="error"
                      [selected]="valideFilter"
                      (changed)="valideFilter = $event; applyFilter()"
                    ></zac-toggle-filter>
                  </th>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="columnsToDisplay; sticky: true"
                ></tr>
                <tr
                  mat-header-row
                  *matHeaderRowDef="['valideFilter', 'zoekFilter']"
                ></tr>
                <tr
                  (click)="
                    needsAttention(row)
                      ? (expandedRow = expandedRow === row ? null : row)
                      : null
                  "
                  [class]="rowStateClass(row)"
                  class="main-row"
                  mat-row
                  *matRowDef="let row; columns: columnsToDisplay"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: [
                      'expandedPrefix',
                      'expandedTitle',
                      'expandedDetail',
                    ]
                  "
                  class="detail-row"
                ></tr>
              </table>
            </div>
            <p *ngIf="dataSource.data.length === 0 && !loadingZaaktypes">
              {{ "msg.geen.gegevens.gevonden" | translate }}
            </p>
            <p *ngIf="dataSource.data.length === 0 && loadingZaaktypes">
              {{ "msg.loading" | translate }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "health-check.referentielijsten.inrichtingscheck" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon *ngIf="loadingCommunicatiekanaal"
                >hourglass_empty</mat-icon
              >
              <mat-icon
                outlined
                *ngIf="
                  !loadingCommunicatiekanaal &&
                  bestaatCommunicatiekanaalEformulier
                "
                color="primary"
                >check_circle
              </mat-icon>
              <mat-icon
                outlined
                *ngIf="
                  !loadingCommunicatiekanaal &&
                  !bestaatCommunicatiekanaalEformulier
                "
                color="warn"
                >error
              </mat-icon>
              <div>
                {{ "health-check.communicatiekanaal.e-formulier" | translate }}
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div *ngIf="!loadingCommunicatiekanaal">
                <ng-container *ngIf="bestaatCommunicatiekanaalEformulier">
                  {{
                    "health-check.communicatiekanaal.e-formulier.beschikbaar"
                      | translate
                  }}
                </ng-container>
                <ng-container *ngIf="!bestaatCommunicatiekanaalEformulier">
                  {{
                    "health-check.communicatiekanaal.e-formulier.niet.beschikbaar"
                      | translate
                  }}
                </ng-container>
              </div>
            </mat-panel-description>
            <mat-icon>help</mat-icon>
          </mat-expansion-panel-header>
          {{ "health-check.communicatiekanaal.e-formulier.uitleg" | translate }}
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "health-check.build-informatie" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <zac-version [layout]="versionLayout.VERBOSE"></zac-version>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
