/*
 * SPDX-FileCopyrightText: 2026 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

.loading-shade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.panel-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.panel-meta {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.systeem-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
