<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-toolbar role="heading" class="gap-16">
  <mat-icon>edit</mat-icon>
  <span class="flex-grow-1">{{ "actie.besluit.wijzigen" | translate }}</span>
  <button mat-icon-button (click)="sideNav().close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-divider />

<form
  [formGroup]="form"
  (submit)="submit()"
  (cancel)="sideNav().close()"
  class="mt-2"
>
  <fieldset>
    <zac-input [form]="form" key="besluittype" label="besluit" />
    <zac-date [form]="form" key="ingangsdatum" />
    <zac-date [form]="form" key="vervaldatum" />
    <zac-textarea [form]="form" key="toelichting" label="besluitToelichting" />
    <zac-documents
      [form]="form"
      key="documenten"
      [options]="documentenQuery.data() ?? []"
    />
  </fieldset>

  @if (showPublicationSection()) {
    <fieldset>
      <p class="mb-2">
        {{ "besluit.publicatie.indicatie.koptitel" | translate }}
      </p>
      <zac-date [form]="form" key="publicationDate" label="publicatiedatum" />
      <zac-date
        [form]="form"
        key="lastResponseDate"
        label="uiterlijkereactiedatum"
      />
    </fieldset>
  }

  <fieldset>
    <zac-input [form]="form" key="reden" label="wijziging.reden" />
  </fieldset>

  <fieldset>
    <zac-form-actions
      [form]="form"
      [mutation]="updateBesluitMutation"
      disableAfterSuccess
      submitLabel="actie.wijzigen"
    />
  </fieldset>
</form>
