<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-col gap-20">
    <mat-card>
      <mat-card-content class="table-container">
        <div class="flex-row items-center">
          <section class="flex-1">
            <h2>
              {{ "title.procesdefinities" | translate }}
            </h2>
          </section>
          <div class="actions-header">
            <button
              mat-icon-button
              id="upload"
              title="{{ 'actie.toevoegen' | translate }}"
              (click)="selectBpmnProcessDefinitionFile()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <input
              type="file"
              #bpmnProcessDefinitionFileInput
              accept=".bpmn"
              (change)="bpmnProcessDefinitionFileSelected($event)"
              style="display: none"
            />
          </div>
        </div>

        <div class="table-wrapper">
          <mat-tree [dataSource]="data" [childrenAccessor]="childrenAccessor">
            <mat-nested-tree-node *matTreeNodeDef="let node" class="item">
              <zac-process-definition-item
                [processDefinition]="asProcessDefinition(node)"
                [forms]="formsDataSource.data"
                (bpmnFormListChanged)="loadBpmnForms()"
              ></zac-process-definition-item>
            </mat-nested-tree-node>
            <mat-nested-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              class="group"
            >
              <div
                class="tree-group-row"
                (click)="toggleNode(node)"
                [attr.aria-label]="'Toggle ' + node.name"
              >
                <button
                  mat-icon-button
                  [attr.aria-label]="'Toggle ' + node.name"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      expandedKey === node.key ? "expand_more" : "chevron_right"
                    }}
                  </mat-icon>
                </button>
                <div class="flex-1">{{ node.name }}</div>
                <mat-chip [highlighted]="node.definition.details?.inUse">
                  {{
                    (node.definition.details?.inUse ? "volledig" : "onvolledig") | translate
                  }}
                </mat-chip>

                <button
                  mat-icon-button
                  title="{{ 'actie.verwijderen' | translate }}"
                  [disabled]="node.definition.details?.inUse"
                  (click)="
                    $event.stopPropagation(); deleteProcessDefinition(node)
                  "
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
              <div [hidden]="expandedKey !== node.key">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
          @if (data.length === 0) {
            <p>{{ "msg.geen.gegevens.gevonden" | translate }}</p>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
