<!--
  ~ SPDX-FileCopyrightText: 2024 Dimpact, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container
  class="inner-sidenav-container"
  #sideNavContainer
  [class]="sideNaveMode"
>
  <mat-sidenav
    #menuSidenav
    [mode]="sideNaveMode"
    position="start"
    opened="true"
    disableClose="true"
  >
    <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="flex-col gap-20">
    <mat-card>
      <mat-card-content class="table-container">
        <div class="flex-row items-center">
          <section class="flex-1">
            <h2>
              {{ "title.procesdefinities" | translate }}
            </h2>
          </section>
          <div class="actions-header">
            <button
              mat-icon-button
              id="upload"
              title="{{ 'actie.toevoegen' | translate }}"
              (click)="selectBpmnProcessDefinitionFile()"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <input
              type="file"
              #bpmnProcessDefinitionFileInput
              (change)="bpmnProcessDefinitionFileSelected($event)"
              style="display: none"
            />
            <input
              type="file"
              #formioFileInput
              (change)="formioFileSelected($event)"
              style="display: none"
            />
          </div>
        </div>

        <div class="table-wrapper">
          <mat-tree
            [dataSource]="treeData"
            [childrenAccessor]="childrenAccessor"
          >
            <mat-nested-tree-node *matTreeNodeDef="let node" class="flex-1">
              <zac-process-definition-item
                class="flex-1"
                [processDefinition]="asProcessDefinition(node)"
                (uploadFormio)="selectFormioFile($event)"
              ></zac-process-definition-item>
            </mat-nested-tree-node>
            <mat-nested-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              #treeNode="matNestedTreeNode"
              class="group"
            >
              <div
                class="tree-group-row"
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
              >
                <button
                  mat-icon-button
                  [attr.aria-label]="'Toggle ' + node.name"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeNode.isExpanded ? "expand_more" : "chevron_right" }}
                  </mat-icon>
                </button>
                <div class="flex-1">{{ node.name }}</div>
                <div class="key-label">{{ node.key }}</div>
                <button
                  mat-icon-button
                  title="{{ 'actie.verwijderen' | translate }}"
                  (click)="deleteProcessDefinition(node); $event.stopPropagation()"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div [hidden]="!treeNode.isExpanded">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
          @if (treeData.length === 0) {
            <p>{{ "msg.geen.gegevens.gevonden" | translate }}</p>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
