<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

@if (layout() === Layout.EXTENDED) {
  <mat-chip-listbox
    [class]="layout().toLowerCase()"
    selectable="false"
    class="flex-row"
  >
    @for (indicatie of indicaties(); track indicatie) {
      <mat-chip-option
        selectable="false"
        [color]="indicatie.primary ? 'accent' : null"
        [highlighted]="indicatie.primary"
        [matTooltip]="indicatie.toelichting"
      >
        <div class="extended">
          <mat-icon [attr.outlined]="indicatie.outlined">
            {{ indicatie.icon }}
          </mat-icon>
          <span>
            {{ "indicatie." + indicatie.naam | i18nKey | translate }}
          </span>
        </div>
      </mat-chip-option>
    }
  </mat-chip-listbox>
}

@if (layout() === Layout.COMPACT || layout() === Layout.SEARCH) {
  <mat-chip-listbox
    [class]="layout().toLowerCase()"
    selectable="false"
    class="flex-row"
  >
    @for (indicatie of indicaties(); track indicatie) {
      <mat-chip-option
        selectable="false"
        [color]="indicatie.primary ? 'accent' : null"
        [highlighted]="indicatie.primary"
        [matTooltip]="
          ('indicatie.' + indicatie.naam | i18nKey | translate) +
          (indicatie.toelichting ? ': ' + indicatie.toelichting : '')
        "
      >
        <div class="compact">
          <mat-icon [attr.outlined]="indicatie.outlined">
            {{ indicatie.icon }}
          </mat-icon>
        </div>
      </mat-chip-option>
    }
  </mat-chip-listbox>
}
