<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card
  class="multi-facet-filter"
  appearance="outlined"
  [formGroup]="formGroup"
>
  <mat-card-title-group>
    <mat-card-title>{{
      "zoeken.filter." + (label() | lowercase) | i18nKey | translate
    }}</mat-card-title>
    @if (inverse) {
      <mat-icon (click)="invert()" class="off">toggle_on</mat-icon>
    } @else {
      <mat-icon (click)="invert()" class="on">toggle_off</mat-icon>
    }
  </mat-card-title-group>
  <mat-card-content>
    @for (facetWaarde of opties(); track facetWaarde) {
      <div class="flex-row space-between">
        <mat-checkbox
          zacNarrowMatCheckbox
          (change)="checkboxChange()"
          [formControlName]="facetWaarde.naam"
        >
          @if (isVertaalbaar(label())) {
            <read-more
              [text]="
                VERTAALBARE_FACETTEN[label()] + facetWaarde.naam
                  | i18nKey
                  | translate
              "
              [maxLength]="30"
            ></read-more>
          } @else {
            <read-more [text]="facetWaarde.naam" [maxLength]="30"></read-more>
          }
        </mat-checkbox>
        <span class="waarde">{{ facetWaarde.aantal }}</span>
      </div>
    }
  </mat-card-content>
</mat-card>
