<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card>
  <mat-card-title>{{
    "zoeken.filter.zaak-betrokkene" | translate
  }}</mat-card-title>
  <mat-card-content class="zaak-betrokkene-filter">
    <mat-form-field class="full-width" appearance="fill">
      <mat-select
        id="betrokkeneRoltype_filter"
        [formControl]="betrokkeneSelectControl"
        (selectionChange)="roltypeChanged()"
      >
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENEN">{{
          "betrokkene-roltype.alle" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_INITIATOR">{{
          "betrokkene-roltype.initiator" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_MEDE_INITIATOR">{{
          "betrokkene-roltype.mede-initiator" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BELANGHEBBENDE">{{
          "betrokkene-roltype.belanghebbende" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BESLISSER">{{
          "betrokkene-roltype.beslisser" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ADVISEUR">{{
          "betrokkene-roltype.adviseur" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_KLANTCONTACTER">{{
          "betrokkene-roltype.klantcontacter" | translate
        }}</mat-option>
        <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ZAAKCOORDINATOR">{{
          "betrokkene-roltype.zaakcoordinator" | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <input
        matInput
        placeholder="{{ 'bsn.vestigingsnummer.rsin' | translate }}"
        (blur)="idChanged()"
        (keyup.enter)="idChanged()"
        [formControl]="klantIdControl"
      />
      <mat-icon
        [ngClass]="{ active: dialogOpen }"
        matSuffix
        (click)="openDialog()"
        >person</mat-icon
      >
    </mat-form-field>
  </mat-card-content>
</mat-card>
