/*
 * SPDX-FileCopyrightText: 2021 Atos, 2025 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

@import "../../../variables";

.table-wrapper {
  max-height: 400px;
}

.proces-button {
  position: relative;
  top: -4px;
  left: 12px;
}

.zaakspecifiek-geautoriseerd-icon {
  position: relative;
  top: 4px;
  left: -4px;
}

.flex-item {
  flex: 1 0 auto;
  min-width: 150px;
}

.flex-double-item {
  flex: 0 1 calc(66%);
  display: flex;
  box-sizing: border-box;
  min-width: 400px;
  max-width: 600px;
}

.replace_me_margin {
  margin-top: 10px;
}

.hint {
  position: relative;
  color: #757575;
  font-size: 13px;
  font-style: italic;
  gap: 2px;

  mat-icon {
    flex-shrink: 0;
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}
