<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container
  #sideNavContainer
  class="inner-sidenav-container"
  [class]="sideNaveMode"
  xmlns="http://www.w3.org/1999/html"
>
  <mat-drawer
    #menuSidenav
    position="start"
    opened="true"
    disableClose="true"
    [mode]="sideNaveMode"
  >
    <zac-side-nav
      (mode)="menuModeChanged($event)"
      [menu]="menu"
      [activeItem]="activeSideAction"
      (activeItemChange)="menuItemChanged($event)"
    ></zac-side-nav>
  </mat-drawer>
  <mat-drawer
    #actionsSidenav
    mode="over"
    position="end"
    [ngSwitch]="activeSideAction"
    class="side-nav-container"
    (closedStart)="activeSideAction = null"
  >
    <zac-klant-koppel
      *ngSwitchCase="'actie.initiator.koppelen'"
      [sideNav]="actionsSidenav"
      (klantGegevens)="initiatorGeselecteerd($event.klant)"
      [initiator]="true"
      [allowBedrijf]="allowBedrijf()"
      [allowPersoon]="allowPersoon()"
      [zaaktypeUUID]="zaak.zaaktype.uuid"
    ></zac-klant-koppel>
    <zac-klant-koppel
      *ngSwitchCase="'actie.betrokkene.koppelen'"
      (klantGegevens)="betrokkeneGeselecteerd($event)"
      [sideNav]="actionsSidenav"
      [zaaktypeUUID]="zaak.zaaktype.uuid"
      [allowBedrijf]="allowBedrijf()"
      [allowPersoon]="allowPersoon()"
    ></zac-klant-koppel>
    <zac-bag-zoek
      *ngSwitchCase="'actie.bagObject.koppelen'"
      [gekoppeldeBagObjecten]="gekoppeldeBagObjecten"
      [sideNav]="actionsSidenav"
      (bagObject)="adresGeselecteerd($event)"
    ></zac-bag-zoek>
    <zac-case-details-edit
      *ngSwitchCase="'actie.zaak.wijzigen'"
      [zaak]="zaak"
      [loggedInUser]="loggedInUser.data()!"
      [sideNav]="actionsSidenav"
    ></zac-case-details-edit>
    <zac-case-location-edit
      *ngSwitchCase="'actie.zaak.locatie.koppelen'"
      [zaak]="zaak"
      [sideNav]="actionsSidenav"
      (locatie)="locationSelected()"
    ></zac-case-location-edit>
    <zac-informatie-object-create-attended
      *ngSwitchCase="'actie.document.maken'"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      (document)="documentCreated()"
    ></zac-informatie-object-create-attended>
    <zac-informatie-object-add
      *ngSwitchCase="'actie.document.toevoegen'"
      [sideNav]="actionsSidenav"
      [zaakUuid]="zaak!.uuid"
      (document)="documentToegevoegd()"
    ></zac-informatie-object-add>
    <zac-informatie-verzenden
      *ngSwitchCase="'actie.document.verzenden'"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      (documentSent)="documentSent()"
    ></zac-informatie-verzenden>
    <zac-human-task-do
      *ngSwitchCase="actiefPlanItem?.naam ?? 'none'"
      (done)="taakGestart()"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      [planItem]="actiefPlanItem"
    ></zac-human-task-do>
    <zac-process-task-do
      *ngSwitchCase="actiefPlanItem?.naam ?? 'none'"
      (done)="processGestart()"
      [zaak]="zaak"
      [planItem]="actiefPlanItem"
    ></zac-process-task-do>
    <zac-mail-create
      *ngSwitchCase="'actie.mail.versturen'"
      (mailVerstuurd)="mailVerstuurd($event)"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-mail-create>
    <zac-ontvangstbevestiging
      *ngSwitchCase="'actie.ontvangstbevestiging.versturen'"
      (ontvangstBevestigd)="ontvangstBevestigd($event)"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-ontvangstbevestiging>
    <zac-besluit-create
      *ngSwitchCase="'actie.besluit.vastleggen'"
      (besluitVastgelegd)="besluitVastgelegd()"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-besluit-create>
    <zac-besluit-edit
      *ngSwitchCase="'actie.besluit.wijzigen'"
      (besluitGewijzigd)="besluitVastgelegd()"
      [sideNav]="actionsSidenav"
      [besluit]="teWijzigenBesluit"
      [zaak]="zaak"
    ></zac-besluit-edit>
    <zac-informatie-object-link
      *ngSwitchCase="'actie.document.verplaatsen'"
      actionLabel="actie.document.verplaatsen"
      [infoObject]="documentToMove"
      [sideNav]="actionsSidenav"
      [source]="zaak.identificatie"
      (informationObjectLinked)="updateDocumentList()"
    />
    <zac-zaak-link
      *ngSwitchCase="'actie.zaak.koppelen'"
      [zaak]="zaak"
      [sideNav]="actionsSidenav"
      (zaakLinked)="zaakLinked()"
    ></zac-zaak-link>
    <zac-zaakdata
      *ngSwitchCase="'actie.zaakdata.bekijken'"
      [readonly]="true"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-zaakdata>
    <zac-zaak-process-flow
      *ngSwitchCase="'actie.procesverloop.bekijken'"
      class="flex-col flex-fill-col"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-zaak-process-flow>
  </mat-drawer>
  <mat-drawer-content>
    <div class="flex-row flex-wrap gap-12">
      <section *ngIf="showInitiator()" class="w100 flex-1">
        <ng-container [ngSwitch]="initiatorViewType()">
          <zac-zaak-initiator-toevoegen
            *ngSwitchCase="'ADD'"
            class="w100 flex-1"
            [toevoegenToegestaan]="allowedToAddBetrokkene()"
            (add)="addOrEditZaakInitiator()"
          >
          </zac-zaak-initiator-toevoegen>
          <zac-contactgegevens
            *ngSwitchCase="'CONTACT_DETAILS'"
            class="w100 flex-1"
            [contactDetails]="zaak.zaakSpecificContactDetails!"
            [toevoegenToegestaan]="allowedToAddBetrokkene()"
            (add)="addOrEditZaakInitiator()"
          >
          </zac-contactgegevens>
          <zac-persoongegevens
            *ngSwitchCase="'PERSON'"
            class="w100 flex-1"
            [zaak]="zaak"
            (edit)="addOrEditZaakInitiator()"
            (delete)="deleteInitiator()"
          >
          </zac-persoongegevens>
          <zac-bedrijfsgegevens
            *ngSwitchCase="'COMPANY'"
            class="w100 flex-1"
            [zaak]="zaak"
            (edit)="addOrEditZaakInitiator()"
            (delete)="deleteInitiator()"
          >
          </zac-bedrijfsgegevens>
        </ng-container>
      </section>
      <mat-card class="w50 flex-1">
        <mat-card-header class="flex-col gap-8">
          <div class="flex-row">
            <zac-zaak-indicaties
              [layout]="indicatiesLayout.EXTENDED"
              [zaak]="zaak"
            ></zac-zaak-indicaties>
          </div>
          <section class="flex-row space-between items-center">
            <div>
              <mat-card-title>
                {{ zaak.identificatie }}
              </mat-card-title>
              <mat-card-subtitle>{{
                zaak.zaaktype.omschrijving
              }}</mat-card-subtitle>
            </div>
          </section>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group mat-stretch-tabs="false">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>topic</mat-icon>
                {{ "gegevens.algemeen" | translate }}</ng-template
              >
              <div class="content grid">
                <div class="zaak-grid">
                  <zac-static-text
                    class="grid-text"
                    label="status"
                    [value]="zaak.status | empty: 'naam'"
                  >
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="registratiedatum"
                    [value]="zaak.registratiedatum | datum"
                  >
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="resultaat"
                    [value]="zaak.resultaat?.resultaattype | empty: 'naam'"
                  >
                  </zac-static-text>
                  <div class="grid-placeholder"></div>
                  <zac-static-text
                    *ngIf="zaak.einddatum"
                    label="einddatum"
                    [value]="zaak.einddatum | datum"
                  >
                  </zac-static-text>
                  <zac-static-text
                    *ngIf="zaak.startdatumBewaartermijn"
                    label="startdatumBewaartermijn"
                    [value]="zaak.startdatumBewaartermijn | datum"
                  >
                  </zac-static-text>
                  <zac-static-text
                    *ngIf="zaak.archiefNominatie === 'VERNIETIGEN'"
                    [label]="'archiefNominatie.datum.' + zaak.archiefNominatie"
                    [value]="zaak.archiefActiedatum | datum | empty"
                  >
                  </zac-static-text>
                  <zac-static-text
                    *ngIf="zaak.archiefNominatie === 'BLIJVEND_BEWAREN'"
                    label="archiefNominatie"
                    [value]="
                      'archiefNominatie.' + zaak.archiefNominatie | translate
                    "
                  >
                  </zac-static-text>
                  <mat-divider
                    class="mat-divider-wrapper full-width"
                  ></mat-divider>
                  <zac-static-text
                    class="grid-text"
                    label="groep"
                    [value]="zaak.groep?.naam | empty"
                  >
                    @if (zaak.groep?.active === false) {
                      <em position="content-after"
                        >&nbsp;({{ "inactief" | translate | lowercase }})</em
                      >
                    }
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="behandelaar"
                    [value]="zaak.behandelaar?.naam | empty"
                  >
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="communicatiekanaal"
                    [value]="zaak.communicatiekanaal | empty"
                  >
                  </zac-static-text>
                  <button
                    *ngIf="zaak.rechten.wijzigen || zaak.rechten.toekennen"
                    mat-icon-button
                    mat-small-icon-button
                    (click)="editCaseDetails()"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <zac-static-text
                    class="grid-text"
                    label="startdatum"
                    [value]="zaak.startdatum | datum | empty"
                  >
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="streefdatum"
                    [value]="zaak.einddatumGepland | datum | empty"
                    [icon]="dateFieldIconMap.get('einddatumGepland')"
                  >
                    <mat-icon>label-icon</mat-icon>
                  </zac-static-text>
                  <zac-static-text
                    class="grid-text"
                    label="fataledatum"
                    [value]="zaak.uiterlijkeEinddatumAfdoening | datum | empty"
                    [icon]="
                      dateFieldIconMap.get('uiterlijkeEinddatumAfdoening')
                    "
                  >
                  </zac-static-text>
                  <div
                    *ngIf="zaak.duurVerlenging || zaakOpschorting?.duurDagen"
                    class="full-width remark"
                  >
                    <div class="flex-col gap-5">
                      <div
                        class="flex-row items-center gap-5"
                        *ngIf="zaakOpschorting?.duurDagen"
                      >
                        <mat-icon>pause</mat-icon>
                        {{
                          (zaakOpschorting?.duurDagen === 1
                            ? "duurDagenOpschorting.enkelvoud"
                            : "duurDagenOpschorting"
                          ) | translate: { duur: zaakOpschorting?.duurDagen }
                        }}
                      </div>
                      <div
                        class="flex-row items-center gap-5"
                        *ngIf="zaak.duurVerlenging"
                      >
                        <mat-icon>update</mat-icon>
                        {{
                          "duurVerlenging"
                            | translate: { duur: zaak.duurVerlenging }
                        }}
                      </div>
                    </div>
                  </div>
                  <zac-static-text
                    class="full-width"
                    label="vertrouwelijkheidaanduiding"
                    [value]="
                      zaak.vertrouwelijkheidaanduiding
                        | vertrouwelijkaanduidingToTranslationKey
                        | translate
                        | empty
                    "
                  >
                  </zac-static-text>
                  <zac-static-text
                    class="full-width"
                    label="omschrijving"
                    [value]="zaak.omschrijving | empty"
                  ></zac-static-text>
                  <zac-static-text
                    class="full-width"
                    label="toelichting"
                    [value]="zaak.toelichting | empty"
                  ></zac-static-text>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngIf="zaak.zaakgeometrie">
              <ng-template mat-tab-label>
                <mat-icon>place</mat-icon>
                {{ "locatie" | translate }}</ng-template
              >
              <div class="table-wrapper">
                <div class="flex flex-col gap-10 mt-2">
                  <div class="flex flex-row space-between">
                    <zac-static-text
                      label="coordinates"
                      [value]="zaak.zaakgeometrie | location"
                      class="flex-item"
                    />
                    <button
                      *ngIf="zaak.rechten.wijzigenLocatie"
                      mat-icon-button
                      mat-small-icon-button
                      (click)="editLocationDetails()"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <zac-locatie-tonen
                    [currentLocation]="zaak.zaakgeometrie"
                  ></zac-locatie-tonen>
                </div>
              </div>
            </mat-tab>

            <mat-tab *ngIf="zaak.gerelateerdeZaken?.length">
              <ng-template mat-tab-label>
                <mat-icon>account_tree</mat-icon>
                {{ "gerelateerdeZaken" | translate }}</ng-template
              >
              <div class="table-wrapper">
                <table mat-table [dataSource]="zaak.gerelateerdeZaken">
                  <ng-container
                    *ngFor="let column of gerelateerdeZaakColumns"
                    [matColumnDef]="column"
                  >
                    <th mat-header-cell *matHeaderCellDef>
                      {{ "gerelateerde.zaak." + column | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row[column] | empty | datum }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <a
                        *ngIf="row.rechten.lezen"
                        mat-icon-button
                        [routerLink]="['/zaken', row.identificatie]"
                        (click)="$event.stopPropagation()"
                        [id]="'zaakBekijken_' + row.identificatie + '_button'"
                        title="{{ 'actie.zaak.bekijken' | translate }}"
                      >
                        <mat-icon>visibility</mat-icon>
                      </a>
                      @if (row.ontkoppelen) {
                        <button
                          mat-icon-button
                          (click)="startZaakOntkoppelenDialog(row)"
                          [id]="
                            'zaakOntkoppelen_' + row.identificatie + '_button'
                          "
                          title="{{ 'actie.zaak.ontkoppelen' | translate }}"
                        >
                          <mat-icon>link_off</mat-icon>
                        </button>
                      }
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="gerelateerdeZaakColumnsWithAction"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: gerelateerdeZaakColumnsWithAction
                    "
                  ></tr>
                </table>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>history</mat-icon>
                {{ "historie" | translate }}
              </ng-template>
              <ng-template matTabContent>
                <zac-zaak-historie [zaak]="zaak"></zac-zaak-historie>
              </ng-template>
            </mat-tab>

            <mat-tab *ngIf="showBetrokkeneKoppelingen()">
              <ng-template mat-tab-label>
                <mat-icon>groups</mat-icon>
                {{ "betrokkenen" | translate }}
              </ng-template>

              <zac-zaak-betrokkene-list
                [zaak]="zaak"
                [zaakRollenListener]="zaakRollenListener"
              ></zac-zaak-betrokkene-list>
            </mat-tab>

            <mat-tab *ngIf="bagObjectenDataSource.data.length > 0">
              <ng-template mat-tab-label>
                <mat-icon>gps_fixed</mat-icon>
                {{ "bagObjecten" | translate }}
              </ng-template>
              <div class="table-wrapper">
                <table mat-table [dataSource]="bagObjectenDataSource" matSort>
                  <ng-container matColumnDef="identificatie">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ "identificatie" | translate }}
                    </th>
                    <td mat-cell *matCellDef="let bagObjectGegevens">
                      <read-more
                        [text]="bagObjectGegevens.bagObject.identificatie"
                        [maxLength]="20"
                      ></read-more>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ "type" | translate }}
                    </th>
                    <td mat-cell *matCellDef="let bagObjectGegevens">
                      {{
                        "objecttype." +
                          bagObjectGegevens.bagObject.bagObjectType | translate
                      }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="omschrijving">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                      {{ "omschrijving" | translate }}
                    </th>
                    <td *matCellDef="let bagObjectGegevens" mat-cell>
                      {{ bagObjectGegevens.bagObject.omschrijving }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell></th>
                    <td *matCellDef="let bagObjectGegevens" mat-cell>
                      <a
                        mat-icon-button
                        [routerLink]="[
                          '/bag-objecten',
                          bagObjectGegevens.bagObject.bagObjectType.toLowerCase(),
                          bagObjectGegevens.bagObject.identificatie,
                        ]"
                        (click)="$event.stopPropagation()"
                        [id]="
                          'bagObject_' +
                          bagObjectGegevens.bagObject.identificatie +
                          '_button'
                        "
                        title="{{ 'actie.bagObject.bekijken' | translate }}"
                      >
                        <mat-icon>visibility</mat-icon>
                      </a>
                      <button
                        *ngIf="zaak.rechten.behandelen"
                        mat-icon-button
                        (click)="bagObjectVerwijderen(bagObjectGegevens)"
                        title="{{ 'actie.bagObject.ontkoppelen' | translate }}"
                      >
                        <mat-icon>link_off</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="bagObjectenColumns; sticky: true"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: bagObjectenColumns"
                  ></tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
      <div class="w50 flex-1 flex-col gap-12">
        <zac-besluit-view
          *ngIf="zaak.besluiten?.length"
          [besluiten]="zaak.besluiten ?? []"
          [result]="zaak.resultaat"
          [readonly]="!zaak.isOpen || !zaak.rechten.behandelen"
          (besluitWijzigen)="besluitWijzigen($event)"
        ></zac-besluit-view>

        <zac-zaak-taken
          #zaakTakenComponent
          [zaak]="zaak"
          class="flex-col flex-1"
        ></zac-zaak-taken>
      </div>
      <zac-zaak-documenten
        #zaakDocumentenComponent
        class="w100"
        [zaak]="zaak"
        (documentMoveToCase)="documentMoveToCase($event)"
      ></zac-zaak-documenten>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<zac-notities
  *ngIf="notitieRechten?.lezen || notitieRechten?.wijzigen"
  [zaakUuid]="zaak.uuid"
  [notitieRechten]="notitieRechten"
></zac-notities>
