<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2024 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container
  #sideNavContainer
  class="inner-sidenav-container"
  [class]="sideNaveMode"
  xmlns="http://www.w3.org/1999/html"
>
  <mat-drawer
    #menuSidenav
    position="start"
    opened="true"
    disableClose="true"
    [mode]="sideNaveMode"
  >
    <zac-side-nav
      (mode)="menuModeChanged($event)"
      [menu]="menu"
      [activeItem]="activeSideAction"
      (activeItemChange)="menuItemChanged($event)"
    ></zac-side-nav>
  </mat-drawer>
  <mat-drawer
    #actionsSidenav
    mode="over"
    position="end"
    [ngSwitch]="activeSideAction"
    class="side-nav-container"
    (closedStart)="activeSideAction = null"
  >
    <zac-klant-koppel
      *ngSwitchCase="'actie.initiator.koppelen'"
      [sideNav]="actionsSidenav"
      (klantGegevens)="initiatorGeselecteerd($event.klant)"
      [initiator]="true"
      [allowBedrijf]="allowBedrijf()"
      [allowPersoon]="allowPersoon()"
      [zaaktypeUUID]="zaak.zaaktype.uuid"
    ></zac-klant-koppel>
    <zac-klant-koppel
      *ngSwitchCase="'actie.betrokkene.koppelen'"
      (klantGegevens)="betrokkeneGeselecteerd($event)"
      [sideNav]="actionsSidenav"
      [zaaktypeUUID]="zaak.zaaktype.uuid"
      [allowBedrijf]="allowBedrijf()"
      [allowPersoon]="allowPersoon()"
    ></zac-klant-koppel>
    <zac-bag-zoek
      *ngSwitchCase="'actie.bagObject.koppelen'"
      [gekoppeldeBagObjecten]="gekoppeldeBagObjecten"
      [sideNav]="actionsSidenav"
      (bagObject)="adresGeselecteerd($event)"
    ></zac-bag-zoek>
    <zac-case-details-edit
      *ngSwitchCase="'actie.zaak.wijzigen'"
      [zaak]="zaak"
      [loggedInUser]="loggedInUser.data()!"
      [sideNav]="actionsSidenav"
    ></zac-case-details-edit>
    <zac-case-location-edit
      *ngSwitchCase="'actie.zaak.locatie.koppelen'"
      [zaak]="zaak"
      [sideNav]="actionsSidenav"
      (locatie)="locationSelected()"
    ></zac-case-location-edit>
    <zac-informatie-object-create-attended
      *ngSwitchCase="'actie.document.maken'"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      (document)="documentCreated()"
    ></zac-informatie-object-create-attended>
    <zac-informatie-object-add
      *ngSwitchCase="'actie.document.toevoegen'"
      [sideNav]="actionsSidenav"
      [zaakUuid]="zaak!.uuid"
      (document)="documentToegevoegd()"
    ></zac-informatie-object-add>
    <zac-informatie-verzenden
      *ngSwitchCase="'actie.document.verzenden'"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      (documentSent)="documentSent()"
    ></zac-informatie-verzenden>
    <zac-human-task-do
      *ngSwitchCase="actiefPlanItem?.naam ?? 'none'"
      (done)="taakGestart()"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
      [planItem]="actiefPlanItem"
    ></zac-human-task-do>
    <zac-mail-create
      *ngSwitchCase="'actie.mail.versturen'"
      (mailVerstuurd)="mailVerstuurd($event)"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-mail-create>
    <zac-ontvangstbevestiging
      *ngSwitchCase="'actie.ontvangstbevestiging.versturen'"
      (ontvangstBevestigd)="ontvangstBevestigd($event)"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-ontvangstbevestiging>
    <zac-besluit-create
      *ngSwitchCase="'actie.besluit.vastleggen'"
      (besluitVastgelegd)="besluitVastgelegd()"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-besluit-create>
    <zac-besluit-edit
      *ngSwitchCase="'actie.besluit.wijzigen'"
      (besluitGewijzigd)="besluitVastgelegd()"
      [sideNav]="actionsSidenav"
      [besluit]="teWijzigenBesluit"
      [zaak]="zaak"
    ></zac-besluit-edit>
    <zac-informatie-object-link
      *ngSwitchCase="'actie.document.verplaatsen'"
      actionLabel="actie.document.verplaatsen"
      [infoObject]="documentToMove"
      [sideNav]="actionsSidenav"
      [source]="zaak.identificatie"
      (informationObjectLinked)="updateDocumentList()"
    />
    <zac-zaak-link
      *ngSwitchCase="'actie.zaak.koppelen'"
      [zaak]="zaak"
      [sideNav]="actionsSidenav"
      (zaakLinked)="zaakLinked()"
    ></zac-zaak-link>
    <zac-zaakdata
      *ngSwitchCase="'actie.zaakdata.bekijken'"
      [readonly]="true"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-zaakdata>
    <zac-zaak-process-flow
      *ngSwitchCase="'actie.procesverloop.bekijken'"
      class="flex-col flex-fill-col"
      [sideNav]="actionsSidenav"
      [zaak]="zaak"
    ></zac-zaak-process-flow>
  </mat-drawer>
  <mat-drawer-content>
    <div class="flex-row flex-wrap gap-12">
      <section *ngIf="showInitiator()" class="w100 flex-1">
        <ng-container [ngSwitch]="initiatorViewType()">
          <zac-zaak-initiator-toevoegen
            *ngSwitchCase="'ADD'"
            class="w100 flex-1"
            [toevoegenToegestaan]="allowedToAddBetrokkene()"
            (add)="addOrEditZaakInitiator()"
          >
          </zac-zaak-initiator-toevoegen>
          <zac-contactgegevens
            *ngSwitchCase="'CONTACT_DETAILS'"
            class="w100 flex-1"
            [contactDetails]="zaak.zaakSpecificContactDetails!"
            [toevoegenToegestaan]="allowedToAddBetrokkene()"
            (add)="addOrEditZaakInitiator()"
          >
          </zac-contactgegevens>
          <zac-persoongegevens
            *ngSwitchCase="'PERSON'"
            class="w100 flex-1"
            [zaak]="zaak"
            (edit)="addOrEditZaakInitiator()"
            (delete)="deleteInitiator()"
          >
          </zac-persoongegevens>
          <zac-bedrijfsgegevens
            *ngSwitchCase="'COMPANY'"
            class="w100 flex-1"
            [zaak]="zaak"
            (edit)="addOrEditZaakInitiator()"
            (delete)="deleteInitiator()"
          >
          </zac-bedrijfsgegevens>
        </ng-container>
      </section>
      <zac-zaak-details-card
        class="w50 flex-1"
        [zaak]="zaak"
        [zaakOpschorting]="zaakOpschorting"
        [bagObjecten]="bagObjecten"
        [showBetrokkeneKoppelingen]="showBetrokkeneKoppelingen()"
        (editCaseDetails)="editCaseDetails()"
        (editLocationDetails)="editLocationDetails()"
        (zaakOntkoppelen)="startZaakOntkoppelenDialog($event)"
        (bagObjectVerwijderen)="bagObjectVerwijderen($event)"
      ></zac-zaak-details-card>
      <div class="w50 flex-1 flex-col gap-12">
        <zac-besluit-view
          *ngIf="zaak.besluiten?.length"
          [besluiten]="zaak.besluiten ?? []"
          [result]="zaak.resultaat"
          [readonly]="!zaak.isOpen || !zaak.rechten.behandelen"
          (besluitWijzigen)="besluitWijzigen($event)"
        ></zac-besluit-view>

        <zac-zaak-taken
          #zaakTakenComponent
          [zaak]="zaak"
          class="flex-col flex-1"
        ></zac-zaak-taken>
      </div>
      <zac-zaak-documenten
        #zaakDocumentenComponent
        class="w100"
        [zaak]="zaak"
        (documentMoveToCase)="documentMoveToCase($event)"
      ></zac-zaak-documenten>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<zac-notities
  *ngIf="notitieRechten?.lezen || notitieRechten?.wijzigen"
  [zaakUuid]="zaak.uuid"
  [notitieRechten]="notitieRechten"
></zac-notities>
