<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="static-text">
  <label class="static-text-label">
    {{ label }}
    <ng-content select="[position=label]"></ng-content>
  </label>
  <div class="static-text-content">
    <ng-content select="[position=content-before]"></ng-content>
    <read-more
      *ngIf="maxLength"
      [maxLength]="maxLength"
      text="{{ value | empty }}"
    ></read-more>
    <ng-container *ngIf="!maxLength">{{ value | empty }}</ng-container>
    <mat-icon
      *ngIf="hasIcon"
      [attr.outlined]="icon.outlined"
      [ngClass]="icon.styleClass"
      (click)="iconClicked.emit()"
      class="label-icon"
      title="{{ icon.title | translate }}"
    >
      {{ icon.icon }}
    </mat-icon>
    <ng-content select="[position=content-after]"></ng-content>
  </div>
</div>
