<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  ~
  -->

<mat-form-field [formGroup]="form()" class="full-width" appearance="fill">
  <mat-label>
    <ng-content select="mat-label">
      {{ labelKey() | translate | capitalizeFirstLetter }}
    </ng-content>
  </mat-label>
  <input
    type="text"
    matInput
    [matAutocomplete]="auto"
    [formControlName]="key()"
  />
  @if (!control()?.value) {
    <button
      mat-icon-button
      matSuffix
      [disabled]="control()?.disabled"
      type="button"
    >
      <mat-icon>search</mat-icon>
    </button>
  }
  @if (!control()?.disabled && control()?.value) {
    <button mat-icon-button matSuffix (click)="reset()" type="button">
      <mat-icon>clear</mat-icon>
    </button>
  }
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
    @if (isLoading()) {
      <mat-option disabled="true">
        {{
          "laden.generiek"
            | translate: { label: (labelKey() | translate | lowercase) }
        }}
        <mat-spinner diameter="15" matPrefix></mat-spinner>
      </mat-option>
    }
    @for (option of filteredOptions(); track option) {
      <mat-option [value]="option">
        {{ displayWith(option) | translate }}
      </mat-option>
    }
  </mat-autocomplete>
  @if (formError()) {
    <mat-error>{{ formError() }}</mat-error>
  }
  <mat-hint>
    <ng-content select="mat-hint"></ng-content>
  </mat-hint>
</mat-form-field>
