/*
 * SPDX-FileCopyrightText: 2021 Atos, 2025 INFO.nl
 * SPDX-License-Identifier: EUPL-1.2+
 */

@import "/variables";

.show-notes-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
}

.notitie-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 380px;
  box-shadow: 6px 6px 25px -8px @box-shadow-color;
  background: @body-background-color;
  z-index: 1;
}

@media (max-width: 599px) {
  .notitie-container {
    width: 97%;
    right: 2px;
    bottom: 2px;
  }
}

.notitie-header {
  padding: 2px;
  min-height: 30px;
  font-size: 14px;
  color: @primary-text-color;
  background: @primary-background-color;
  border-bottom: 1px solid @border-color;
}

.notitie-header-icon {
  margin-top: 3px;
  margin-left: 5px;
}

.notitie-header-text {
  margin-left: 5px;
  margin-top: 7px;
}

.notitie-body {
  width: 100%;
  min-height: 300px;
  max-height: 420px;
  overflow-y: auto;
}

.notitie-footer {
  padding: 5px;
  border-top: 1px solid @border-color;
}

.textarea-notitie {
  width: 100%;
}

.minimize-button {
  margin-right: 10px;
  margin-top: 2px;
  cursor: pointer;
}

.notitie {
  background: white;
  border-bottom: 1px solid @border-color;

  &:hover {
    background: @table-hover-background-color;
  }

  .notitie-content-header {
    margin-bottom: 8px;
    padding: 16px 16px 0 16px;
  }

  .notitie-content-body {
    font-size: 13px;
    margin-bottom: 8px;
    padding: 0 16px;

    p {
      white-space: pre-wrap;
    }
  }

  .notitie-content-footer {
    display: flex;
    justify-content: flex-end;

    .material-icons {
      font-size: 18px;
    }
  }

  .notitie-title {
    font-size: 14px;
    font-weight: 500;
  }

  .notitie-subtitle {
    font-size: 12px;
    color: @title-color;
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
  }
}
