<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div [hidden]="!showNotes">
  <button
    mat-mini-fab
    aria-label="Notities"
    class="show-notes-button"
    color="primary"
    title="{{ 'notities' | translate }}"
    (click)="toggleNotitieContainer()"
  >
    <mat-icon
      [matBadgeHidden]="notities.length === 0"
      [matBadge]="notities.length"
      matBadgeColor="accent"
    >
      sticky_note_2
    </mat-icon>
  </button>
</div>

<mat-card *ngIf="!showNotes" class="notitie-container">
  <mat-card-header class="flex-row justify-content-between notitie-header">
    <div class="flex-row items-center gap-10">
      <mat-icon>sticky_note_2</mat-icon>
      <mat-card-title>
        {{ "notities" | translate }}
      </mat-card-title>
    </div>
    <button
      mat-icon-button
      (click)="toggleNotitieContainer()"
      title="{{ 'actie.minimaliseren' | translate }}"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content class="notitie-body">
    <div #scrollTarget></div>
    <ng-container *ngFor="let notitie of notities">
      <mat-card class="notitie">
        <mat-card-header>
          <div
            class="flex-row justify-content-between align-items-baseline full-width"
          >
            <mat-card-title>
              {{ notitie.voornaamAchternaamMedewerker }}
            </mat-card-title>
            <mat-card-subtitle class="notitie-subtitle">
              {{ notitie.tijdstipLaatsteWijziging | datum }}
            </mat-card-subtitle>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p *ngIf="geselecteerdeNotitieId !== notitie.id">
            {{ notitie.tekst }}
          </p>

          <div
            *ngIf="
              notitieRechten.wijzigen && geselecteerdeNotitieId === notitie.id
            "
          >
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>
                {{ "actie.notitie.wijzigen" | translate }}
              </mat-label>
              <textarea
                #notitieTekst
                matInput
                cdkTextareaAutosize
                id="notitie_wijzigen"
                [maxLength]="maxLengteTextArea"
                >{{ notitie.tekst }}</textarea
              >
              <mat-hint align="end">
                {{ notitieTekst.value?.length ?? 0 }}/{{ maxLengteTextArea }}
              </mat-hint>
            </mat-form-field>

            <mat-card-actions class="flex-row justify-content-end">
              <button
                mat-icon-button
                color="primary"
                (click)="updateNotitie(notitie, notitieTekst.value)"
                id="notitieUpdate_button"
                title="{{ 'actie.opslaan' | translate }}"
              >
                <mat-icon>done</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="annuleerUpdateNotitie()"
                id="notitieBewerkenAnnuleren_button"
                title="{{ 'actie.annuleren' | translate }}"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </mat-card-content>

        <mat-card-actions
          *ngIf="
            notitieRechten.wijzigen &&
            notitie.bewerkenToegestaan &&
            geselecteerdeNotitieId !== notitie.id
          "
          class="flex-row justify-content-end"
        >
          <button
            (click)="pasNotitieAan(notitie.id)"
            id="notitieBewerk_button"
            mat-icon-button
            title="{{ 'actie.bewerken' | translate }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="verwijderNotitie(notitie.id)"
            id="notitieVerwijder_button"
            mat-icon-button
            title="{{ 'actie.verwijderen' | translate }}"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </mat-card-content>

  <mat-card-actions *ngIf="notitieRechten.wijzigen">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ "actie.notitie.aanmaken" | translate }}</mat-label>
      <textarea
        #notitieTekst
        cdkAutosizeMaxRows="2"
        cdkAutosizeMinRows="2"
        cdkTextareaAutosize
        matInput
        [maxlength]="maxLengteTextArea"
        [disabled]="geselecteerdeNotitieId != null"
      ></textarea>
      <mat-hint align="end">
        {{ notitieTekst.value?.length ?? 0 }}/{{ maxLengteTextArea }}
      </mat-hint>
      <button
        id="notitieOpslaan_button"
        matSuffix
        mat-mini-fab
        color="primary"
        title="{{ 'actie.opslaan' | translate }}"
        [disabled]="
          notitieTekst.value.length == 0 || geselecteerdeNotitieId != null
        "
        (click)="maakNotitieAan(notitieTekst.value)"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
