<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<ng-container class="flex-col gap-20">
  <mat-card>
    <mat-card-title>{{ "proces-definitie" | translate }}</mat-card-title>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="switchProcessDefinition.emit('CMMN')"
      >
        Start CMMN
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="switchProcessDefinition.emit('BPMN')"
      >
        Start BPMN
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
