<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-stepper orientation="horizontal" [linear]="true">
  <mat-step>
    <ng-template matStepLabel>{{
      "gegevens.proces-definitie" | translate
    }}</ng-template>

    <p>
      Geef aan welk CMMN model of BPMN procesdefinitie aan dit zaaktype
      gekoppeld is. Je kunt maar één van de twee koppelen.
    </p>

    <zac-radio
      [form]="cmmnBpmnFormGroup"
      key="options"
      label="Welke koppeling wil je maken?"
      [options]="zaakProcessDefinitions"
      optionDisplayValue="label"
    ></zac-radio>
    <mat-hint *ngIf="!bmpnFeatureFlag">{{
      "geen-bmpn-support" | translate
    }}</mat-hint>

    <div class="flex-row items-center gap-10 ml-1 my-3">
      <mat-icon color="warn" class="pr-3">warning</mat-icon>
      <small>{{ "msg.zaakafhandelparameters.waarschuwing" | translate }}</small>
    </div>

    <div class="button-group flex-row flex-wrap">
      <button mat-raised-button (click)="onNext()">
        {{ "actie.volgende" | translate }}
      </button>
      <button mat-raised-button color="primary" disabled>
        {{ "actie.opslaan" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
