/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */
@import "/variables";

.static-text .static-text-content {
  min-height: 20px;
}

.flex-item {
  flex: 0 1 calc(33% - 15px);
  box-sizing: border-box;
  min-width: 200px;
  max-width: 300px;
}

.error-text {
  font-size: 75%;
}

.toelichting {
  font-size: 14px;
}

.inner-static-text {
  margin-left: 5px;
}

.timed-messages {
  margin-bottom: 10px;
}
