<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2021 Atos, 2023 Lifely
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">

    <module-name>zaakafhandelcomponent</module-name>

    <resource-ref>
        <res-ref-name>jdbc/Datasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <lookup-name>java:jboss/datasources/ZaakafhandelcomponentDS</lookup-name>
    </resource-ref>

    <resource-ref>
        <res-ref-name>jdbc/FlowableDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <lookup-name>java:jboss/datasources/FlowableDS</lookup-name>
    </resource-ref>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter-mapping>
        <filter-name>indexRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserPrincipalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-role>
        <role-name>zaakafhandelcomponent_user</role-name>
    </security-role>

    <security-role>
        <role-name>beheerder</role-name>
    </security-role>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/rest/notificaties' except POST</display-name>
        <web-resource-collection>
            <web-resource-name>notificaties</web-resource-name>
            <description>For handling certain notifications according to the ZGW Notificaties Consumer API</description>
            <url-pattern>/rest/notificaties</url-pattern>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/rest/internal' accept GET and DELETE</display-name>
        <web-resource-collection>
            <web-resource-name>internal</web-resource-name>
            <description>Internal endpoints, invoked not from the ZAC user interface but from other services. These resources are secured using a custom API key authentication mechanism</description>
            <url-pattern>/rest/internal/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>DELETE</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/websocket' except GET</display-name>
        <web-resource-collection>
            <web-resource-name>websocket</web-resource-name>
            <description>Endpoint to manage websocket connections from end-user web browsers. These resources are secured for the logged-in user in the HTTP session. See the WebSocketServerEndPoint class for details.</description>
            <url-pattern>/websocket</url-pattern>
            <http-method-omission>GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/webdav/*' except GET</display-name>
        <web-resource-collection>
            <web-resource-name>webdav</web-resource-name>
            <description>WebDAV endpoints offering functionality for synchronizing Microsoft Office documents with Microsoft Office Desktop Apps. These resources are secured using a custom authentication token mechanism. See the WebdavHelper class for details.</description>
            <description>For allowing WebDAV</description>
            <url-pattern>/webdav/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/rest/document-creation/smartdocuments/callback/*' except POST</display-name>
        <web-resource-collection>
            <web-resource-name>smartdocuments-document-creation</web-resource-name>
            <description>SmartDocuments create document callback endpoint</description>
            <url-pattern>/rest/document-creation/smartdocuments/callback/*</url-pattern>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/static/smart-documents-result.html' except GET</display-name>
        <web-resource-collection>
            <web-resource-name>smartdocuments-wizard-result-page</web-resource-name>
            <description>SmartDocuments wizard result page</description>
            <url-pattern>/static/smart-documents-result.html</url-pattern>
            <http-method-omission>GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Deny all HTTP methods on '/assets/*' except GET</display-name>
        <web-resource-collection>
            <web-resource-name>assets</web-resource-name>
            <description>Fonts, translation bundles, CSS</description>
            <url-pattern>/assets/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-constraint>
        <display-name>Require the 'beheerder' role on `/admin/*`</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>beheerder</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>Require the 'zaakafhandelcomponent_user' role for all other endpoints</display-name>
        <web-resource-collection>
            <web-resource-name>zaakafhandelcomponent</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>zaakafhandelcomponent_user</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>OIDC</auth-method>
    </login-config>

    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>nl.info.webdav.WebdavServlet</servlet-class>
        <init-param>
            <param-name>ResourceHandlerImplementation</param-name>
            <param-value>net.atos.zac.webdav.WebdavStore</param-value>
        </init-param>
        <init-param>
            <param-name>rootpath</param-name>
            <param-value>/tmp/webdav</param-value>
        </init-param>
        <init-param>
            <param-name>storeDebug</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
    </servlet-mapping>
</web-app>
