<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-title>
  <h3>
    {{ "title.zaak.koppelen" | translate: { zaak: bronZaak?.identificatie } }}
  </h3>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <mfb-form-field
    *ngIf="isSoortKiesbaar()"
    [field]="soortRadioFormField"
  ></mfb-form-field>
  <mfb-form-field
    *ngIf="isSoortHoofdDeelZaak()"
    [field]="hoofddeelZaakSelectFormField"
  ></mfb-form-field>
  <mfb-form-field
    *ngIf="isSoortRelevanteZaak()"
    [field]="relevanteZaakReadonlyFormField"
  ></mfb-form-field>
  <mfb-form-field
    *ngIf="isSoortRelevanteZaak()"
    [field]="relevanteZaakSelectFormField"
  ></mfb-form-field>
  <zac-static-text
    [label]="bronZaak?.identificatie"
    [value]="bronZaak?.omschrijving"
    [maxLength]="100"
  ></zac-static-text>
  <zac-static-text
    [label]="doelZaak?.identificatie"
    [value]="doelZaak?.omschrijving"
    [maxLength]="100"
  ></zac-static-text>
  <div *ngIf="!isKoppelenToegestaan() && !loading">
    {{ "msg.zaak.koppelen.niet.toegestaan" | translate }}
  </div>
</div>

<div mat-dialog-actions>
  <button
    [disabled]="!isValid() || loading"
    mat-raised-button
    color="primary"
    (click)="koppel()"
    id="zakenKoppelen_button"
  >
    <mat-icon *ngIf="loading">
      <mat-spinner diameter="18"></mat-spinner>
    </mat-icon>
    {{ "actie.koppelen" | translate }}
  </button>
  <button [disabled]="loading" autofocus mat-raised-button (click)="close()">
    {{ "actie.annuleren" | translate }}
  </button>
</div>
