<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-expansion-panel [expanded]="klantExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ "initiator.titel" | translate }} </mat-panel-title>
    <mat-panel-description>
      {{ bedrijf?.naam ?? ("msg.loading" | translate) }}
      <div class="flex-row">
        <button
          mat-icon-button
          [disabled]="!vestigingsprofielOphalenMogelijk"
          title="{{ 'bedrijf.profiel.ophalen' | translate }}"
          (click)="$event.stopPropagation(); ophalenVestigingsprofiel()"
        >
          <mat-icon outlined>other_admission</mat-icon>
        </button>
        <button
          *ngIf="bedrijf && isWijzigbaar"
          [title]="'actie.initiator.wijzigen' | translate"
          mat-icon-button
          (click)="$event.stopPropagation(); edit.emit(bedrijf)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="bedrijf && isVerwijderbaar"
          [title]="'actie.ontkoppelen' | translate"
          mat-icon-button
          (click)="$event.stopPropagation(); delete.emit(bedrijf)"
        >
          <mat-icon>link_off</mat-icon>
        </button>
        <a
          *ngIf="bedrijf"
          mat-icon-button
          [routerLink]="['/bedrijf', bedrijf.identificatie]"
          (click)="$event.stopPropagation()"
          [id]="'bedrijfBekijken_' + bedrijf.identificatie + '_button'"
          title="{{ 'actie.bedrijf.bekijken' | translate }}"
        >
          <mat-icon>visibility</mat-icon>
        </a>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngIf="bedrijf" id="bedrijfsgegevens" class="content flex-row flex-wrap">
    <zac-static-text label="bedrijfsnaam" [value]="bedrijf.naam" />
    <zac-static-text
      *ngIf="bedrijf.kvkNummer"
      label="kvknummer"
      [value]="bedrijf.kvkNummer"
    />
    <zac-static-text
      *ngIf="!kvkNummer"
      label="kvknummer"
      [icon]="warningIcon"
      [value]="'msg.error.kvk.unknown' | translate"
    />
    <zac-static-text
      *ngIf="bedrijf.vestigingsnummer"
      label="vestigingsnummer"
      [value]="bedrijf.vestigingsnummer"
    />
    <zac-static-text *ngIf="bedrijf.rsin" label="rsin" [value]="bedrijf.rsin" />
    <zac-static-text label="type" [value]="bedrijf.type | translate" />
    <zac-static-text
      *ngIf="!vestigingsprofiel"
      label="adres"
      [value]="bedrijf.adres"
    />
    <zac-static-text
      *ngFor="let adres of vestigingsprofiel?.adressen"
      label="adres"
      [value]="adres.volledigAdres"
    />
    <zac-static-text label="telefoonnummer" [value]="bedrijf.telefoonnummer" />
    <zac-static-text label="emailadres" [value]="bedrijf.emailadres" />
    <zac-static-text
      *ngIf="vestigingsprofiel"
      label="totaalWerkzamePersonen"
      [value]="vestigingsprofiel.totaalWerkzamePersonen"
    />
    <zac-static-text
      *ngIf="vestigingsprofiel"
      label="hoofdactiviteit"
      [value]="vestigingsprofiel.sbiHoofdActiviteit"
    />
    <zac-static-text
      *ngIf="vestigingsprofiel"
      label="activiteiten"
      [value]="vestigingsprofiel.sbiActiviteiten?.join(',\r\n')"
    />
    <zac-static-text
      *ngIf="vestigingsprofiel"
      label="website"
      [value]="vestigingsprofiel.website"
    />
  </div>
</mat-expansion-panel>
