<mat-tree
      [dataSource]="dataSource"
      [treeControl]="treeControl"
    >
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        class="single-node"
      >
        <mat-icon class="mat-icon-rtl-mirror icon-only">
            description
        </mat-icon>
        <span class="node-name">{{ node.name }}</span>
        <mat-form-field subscriptSizing="dynamic" floatLabel="always" class="info-object-type-select">
          <mat-label>{{ "informatieobjectType" | translate }}</mat-label>
          <mat-select [(value)]="node.informatieObjectTypeUUID">
            <mat-option>{{
              "informatieobjectType.-kies-" | translate
            }}</mat-option>
            @for (objType of informatieObjectTypes.data(); track objType.uuid) {
              <mat-option [value]="objType.uuid">{{
                objType.omschrijving
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "folder_open" : "folder"
              }}
            </mat-icon>
          </button>
          {{ node.name }}
        </div>
        <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
        <div [attr.data-hide]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>