#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Check Markdown Links

on:
  pull_request:
    types: [opened]

permissions:
  contents: read
  checks: write
  issues: write
  pull-requests: write

jobs:
  determine-pr-labels:
    runs-on: ubuntu-24.04
    steps:
      - name: Determine and set PR labels
        uses: actions/github-script@v7
        with:
          script: |
            const extensionLabels = {
              '.java': 'java',
              '.kt': 'kotlin',
              '.ts': 'typescript',
              '.js': 'javascript',
              '.py': 'python',
              '.sh': 'shell',
              '.sql': 'sql'
            };
              
            const pathLabels = [
              { startsWith: 'docs/', label: 'documentation' },
              { startsWith: '.github/workflows/', label: 'github_actions' },
              { startsWith: 'gradle/wrapper/', label: 'gradle-wrapper' },
              { startsWith: 'charts/', label: 'helm' }
            ];
              
            const labels = new Set();
              if (github.event.pull_request.user.login === 'renovate[bot]') {
              labels.add('dependencies');
            }
              
            const files = await github.rest.pulls.listFiles({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });
              
            for (const f of files.data) {
              const filename = f.filename;
              // Extension-based labels
              for (const [ext, label] of Object.entries(extensionLabels)) {
                if (filename.endsWith(ext)) labels.add(label);
              }
              // Path-based labels
              for (const { startsWith, label } of pathLabels) {
                if (filename.startsWith(startsWith)) labels.add(label);
              }
              // Special case for Dockerfile
              if (filename.includes('Dockerfile')) labels.add('docker');
            }
              
            const existingLabels = github.event.pull_request.labels.map(l => l.name);
            const newLabels = Array.from(labels).filter(label => !existingLabels.includes(label));
            if (newLabels.length > 0) {
              await github.issues.addLabels({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                labels: newLabels
              });
            }
