# SPDX-FileCopyrightText: 2024 Lifely
# SPDX-License-Identifier: EUPL-1.2+

name: Helm chart linting and testing

on:
  pull_request:
    branches: [main]
    paths:
      - 'charts/**'
  merge_group:
  workflow_dispatch:

permissions:
  contents: write
  checks: write

# Only allow a single concurrent run per branch. Cancel in-progress runs on multiple pushes when not on main branch.  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  helm-lint:
    runs-on: ubuntu-24.04
    outputs: 
      changed: ${{ steps.list-changed.outputs.changed }}
      needsbump: ${{ steps.testbump.outputs.needsbump }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
        with:
          version: v3.16.4 # needs renovate version regex

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Add repositories
        run: | 
          helm repo add opentelemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add solr https://solr.apache.org/charts

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          else 
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --validate-maintainers=false

      - name: Test if chart version needs bump
        id: testbump
        if: ${{ always() && steps.list-changed.outputs.changed == 'true' && github.event_name == 'pull_request' }}
        run: |
          set +e
          ct lint --target-branch ${{ github.event.repository.default_branch }} | grep -q 'chart version not ok. Needs a version bump!'
          needsBump=$?

          if [ $needsBump -eq 0 ]; then
            echo "needsbump=true" >> "$GITHUB_OUTPUT"
          else
            echo "needsbump=false" >> "$GITHUB_OUTPUT"
          fi

  helm-test:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ needs.helm-lint.outputs.changed == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
        with:
          version: v3.16.4 # needs renovate version regex

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Add repositories
        run: | 
          helm repo add opentelemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add solr https://solr.apache.org/charts

      - name: Create kind cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0

      - name: Run chart-testing (install)
        continue-on-error: true
        run: ct install --target-branch ${{ github.event.repository.default_branch }}

  bump-chart:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ failure() && needs.helm-lint.outputs.needsbump == 'true' && github.event_name == 'pull_request' }}
    steps:
      # To allow pushing to PR branch (needed for next step) we need to be on the pr branch
      - name: Checkout PR branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.WORKFLOW_HELM_CHART_BUMP_GITHUB_PAT }}

      # Bump Chart version and push to PR branch with personal token (to retrigger workflow)
      - name: Test if chart version needs bump
        run: |
          pip install pybump==1.12.6
          pybump bump --file charts/zac/Chart.yaml --level patch
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "bumped helm chart"
          git push

  helm-docs:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ needs.helm-lint.outputs.changed == 'true' && github.event_name == 'pull_request' }}
    steps:
      # To allow pushing to PR branch (needed for next step) we need to be on the pr branch
      - name: Checkout PR branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.WORKFLOW_HELM_CHART_BUMP_GITHUB_PAT }}

      - name: Generate updated helm docs if needed and on PR
        uses: losisin/helm-docs-github-action@0a82321d03b78ba94b4cc75e4efe7547f9379072 # v1.3.6
        with:
          git-push: true
