#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Snyk Security code scanner

on:
  schedule:
    - cron: "21 11 * * 0"
  workflow_dispatch:

permissions:
  # Required for uploading SARIF reports
  security-events: write

jobs:
  snyk-node-e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Snyk to check for Node E2E tests vulnerabilities
        uses: snyk/actions/node@10a13eb1b556d09c820d6dbc05233e68b30f10b0 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects --exclude=build.gradle.kts,pom.xml,app --sarif --sarif-category=snyk-node-e2e --sarif-file-output=snyk-node-e2e.sarif
          command: test

      - name: Upload Snyk Node e2e result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3.29.11
        with:
          sarif_file: snyk-node-e2e.sarif

  snyk-node-app:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Snyk to check for Node app vulnerabilities
        uses: snyk/actions/node@10a13eb1b556d09c820d6dbc05233e68b30f10b0 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects --exclude=build.gradle.kts,pom.xml,e2e --sarif --sarif-category=snyk-node-app --sarif-file-output=snyk-node-app.sarif
          command: test

      - name: Upload Snyk Node app result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3.29.11
        with:
          sarif_file: snyk-node-app.sarif

  snyk-gradle:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run Snyk to check for Gradle vulnerabilities
        uses: snyk/actions/gradle@10a13eb1b556d09c820d6dbc05233e68b30f10b0 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif --sarif-category=snyk-gradle --sarif-file-output=snyk-gradle.sarif

      - name: Upload Snyk Gradle result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v3.29.11
        with:
          sarif_file: snyk-gradle.sarif
          category: 'snyk-gradle'
