#
# SPDX-FileCopyrightText: 2024 Lifely
# SPDX-License-Identifier: EUPL-1.2+
#
name: Snyk Security code scanner

on:
  schedule:
    - cron: "21 11 * * 0"
  workflow_dispatch:

permissions:
  # Required for uploading SARIF reports
  security-events: write

jobs:
  snyk-node:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Run Snyk to check for Node vulnerabilities
        uses: snyk/actions/node@cdb760004ba9ea4d525f2e043745dfe85bb9077e # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects --exclude=build.gradle.kts,pom.xml --sarif --sarif-file-output=snyk-node.sarif
          command: test

      - name: Upload Snyk Node result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@df409f7d9260372bd5f19e5b04e83cb3c43714ae # v3.27.9
        with:
          sarif_file: snyk-node.sarif

  snyk-gradle:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Run Snyk to check for Gradle vulnerabilities
        uses: snyk/actions/gradle@cdb760004ba9ea4d525f2e043745dfe85bb9077e # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif --sarif-file-output=snyk-gradle.sarif

      - name: Upload Snyk Gradle result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@df409f7d9260372bd5f19e5b04e83cb3c43714ae # v3.27.9
        with:
          sarif_file: snyk-gradle.sarif
