#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Snyk Security code scanner

on:
  schedule:
    - cron: "21 11 * * 0"
  workflow_dispatch:

permissions:
  # Required for uploading SARIF reports
  security-events: write

jobs:
  snyk-node-e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Snyk to check for Node E2E tests vulnerabilities
        uses: snyk/actions/node@9adf32b1121593767fc3c057af55b55db032dc04 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects --exclude=build.gradle.kts,pom.xml,app --sarif --sarif-category=snyk-node-e2e --sarif-file-output=snyk-node-e2e.sarif
          command: test

      - name: Upload Snyk Node e2e result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
        with:
          sarif_file: snyk-node-e2e.sarif

  snyk-node-app:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Snyk to check for Node app vulnerabilities
        uses: snyk/actions/node@9adf32b1121593767fc3c057af55b55db032dc04 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --all-projects --exclude=build.gradle.kts,pom.xml,e2e --sarif --sarif-category=snyk-node-app --sarif-file-output=snyk-node-app.sarif
          command: test

      - name: Upload Snyk Node app result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
        with:
          sarif_file: snyk-node-app.sarif

  snyk-gradle:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Snyk to check for Gradle vulnerabilities
        uses: snyk/actions/gradle@9adf32b1121593767fc3c057af55b55db032dc04 # master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif --sarif-category=snyk-gradle --sarif-file-output=snyk-gradle.sarif

      - name: Upload Snyk Gradle result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@fdbfb4d2750291e159f0156def62b853c2798ca2 # v4.31.5
        with:
          sarif_file: snyk-gradle.sarif
          category: 'snyk-gradle'
