#
# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#
name: Trivy Docker image scan

on:
  schedule:
    - cron: "0 3 * * 1-5"
  workflow_dispatch:

env:
  ZAC_IMAGE_URL: 'ghcr.io/infonl/zaakafhandelcomponent:latest'

permissions:
  security-events: write

jobs:
  trivy:
    runs-on: ubuntu-24.04
    steps:
      - name: Pull Docker Image
        run: docker pull ${{ env.ZAC_IMAGE_URL }}

      - name: Run Trivy Vulnerability Scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{ env.ZAC_IMAGE_URL }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          # limit the severities even when using Sarif
          # or else all vulnerabilities will be reported
          limit-severities-for-sarif: true
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy Scan Results to GitHub Security Tab
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          sarif_file: 'trivy-results.sarif'
          category: 'trivy-docker-image'
