<!--
  ~ SPDX-FileCopyrightText: 2022 Atos, 2026 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-expansion-panel class="date-filter" [expanded]="expanded()">
  <mat-expansion-panel-header>
    <mat-panel-title> {{ label() | translate }} </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="datepicker-content">
    <mat-form-field>
      <mat-label>{{ "zoeken.filter.van" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="pickerVan"
        [formControl]="dateVan"
        (dateChange)="change()"
      />
      @if (dateVan.value) {
        <mat-icon matSuffix (click)="dateVan.setValue(null); change()"
          >clear</mat-icon
        >
      }
      @if (!dateVan.value) {
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerVan"
        ></mat-datepicker-toggle>
      }
      <mat-datepicker #pickerVan></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "zoeken.filter.tot-en-met" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="pickerTM"
        [formControl]="dateTM"
        (dateChange)="change()"
      />
      @if (dateTM.value) {
        <mat-icon matSuffix (click)="dateTM.setValue(null); change()"
          >clear</mat-icon
        >
      }
      @if (!dateTM.value) {
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerTM"
        ></mat-datepicker-toggle>
      }
      <mat-datepicker #pickerTM></mat-datepicker>
    </mat-form-field>
  </div>
</mat-expansion-panel>
