<!--
  ~ SPDX-FileCopyrightText: 2025 INFO.nl
  ~ SPDX-License-Identifier: EUPL-1.2+
  ~
  -->

<mat-form-field [formGroup]="form" class="full-width" appearance="fill">
  <mat-label>
    <ng-content select="mat-label">
      {{ label ?? key | translate | capitalizeFirstLetter }}
    </ng-content>
  </mat-label>
  <div *ngIf="displayValue" class="position-absolute overflow-hidden">
    {{ getDisplayValue(control?.value) }}
  </div>
  <input
    matInput
    autocomplete="off"
    [ngClass]="displayValue ? 'hide-gt-xs' : ''"
    [formControlName]="key"
    [maxlength]="maxlength"
    [min]="min"
    [max]="max"
    [readonly]="readonly || displayValue"
    [required]="required"
    (input)="onInput($event)"
    [type]="type"
  />
  <button
    *ngIf="!readonly && !control?.disabled && control?.value?.length"
    matSuffix
    mat-icon-button
    type="button"
    (click)="control?.reset(undefined)"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <span matSuffix>
    <ng-content select="button"></ng-content>
    <ng-content select="span"></ng-content>
    <ng-content select="mat-icon"></ng-content>
  </span>
  <mat-error *ngIf="getErrorMessage()">{{ getErrorMessage() }}</mat-error>
  <mat-hint>
    <ng-content select="mat-hint"></ng-content>
  </mat-hint>
  <mat-hint align="end" *ngIf="maxlength">
    {{ control?.value?.length ?? 0 }} / {{ maxlength }}
  </mat-hint>
</mat-form-field>
